# Pandas
> 데이터 과학자를 위해 테이블형태로 데이터를 다룰 수 있게 해주는 패키지 (python용 엑셀)  
기존 데이터처리 라이브러리인 numpy 대신 주로 사용  
일반인이 데이터분석을 접하기 쉽게 만들어준 결정적인 라이브러리  
pandas만으로도 충분히 데이터 분석이 가능할 정도로 고수준의 함수들을 내장  
앞으로 진행하는 데이터분석 과정에서 주로 사용하게 될 데이터구조

In [ ]:
# 파이썬은 오픈소스프로그래밍 언어
# 오픈소스? 무료,

## pandas 설치
> 콘솔창에서 실행 시  
**pip install pandas**
    
> 주피터 노트북으로 실행 시  
 **!pip install pandas**
    
> 아나콘다 환경으로 python 환경설정 시 기본적으로 설치가 되어있음

In [1]:
# pandas 설치
!pip install pandas

Requirement already satisfied: pandas in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (1.4.0)
Requirement already satisfied: pytz>=2020.1 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.0 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
!say 안녕하세요 시리입니다. 맥에서는 시리가 원하는대로 음성지원을 해줘요

In [1]:
# 필요 모듈 import
import pandas as pd # 판다스 패키지를 불러들여 사용하는데 pd라는 약자로 사용하겠다.
# 많은 수의 유저가 패키지를 사용하는 약자 as

In [5]:
# 이런것도 할 수 있어요~
# 텍스트를 음성으로 변환시켜주는 패키지(모듈) 입니다.
# 사용하기 전 패키지를 다운받는 과정이 필요합니다.
# !pip install pyttsx3
import pyttsx3
engine = pyttsx3.init()
engine.say("수강생여러분.")
engine.say("파이썬 공부하느라 고생하십니다.")
engine.say("파이썬으로 이런것도 가능해요")
engine.say("하지만 이해못해도 괜챦아요.")
engine.say("왜냐하면 우리는 가져다 쓸꺼니까요. 찡긋")
engine.runAndWait()

## DataFrame 데이터 불러오기
> 엑셀에 익숙한 사용자를 위해 제작 된 테이블형태의 데이터 구조  
다양한 형태의 데이터를 받아 사용할 수 있으며 다양한 통계, 시각화 함수를 제공한다.  
실제 데이터를 불러들이고 값을 확인 해 보며 기본적인 pandas 사용법을 익혀보도록 하겠습니다.

### 데이터 불러오기
pandas는 다양한 데이터 파일 형태를 지원하며 주로 csv, xlsx, sql을 사용한다.
    
> **`read_csv()`**  
**`read_excel()`**  
**`read_sql()`**  
**`read_json()`**

### csv 파일 로딩

In [8]:
pwd

'/Users/byun/0_lecture/08_samsung_preprocessing/2023_preprocessing_12'

In [3]:
# DataFrame 의 약자로서 형식적으로 df 변수명을 사용한다.
# pandas패키지의 read_csv() 함수를 사용하여 energy1.csv 파일을 불러들여 
# 데이터프레임을 만들고 df 이름의 변수로 저장
df = pd.read_csv('./data/energy1.csv', encoding='cp949')
# 경로포함 파일명을 문자열 형식으로 전달합니다.
# skiprows=None 위쪽 데이터 갯수만큼 제외 후 로딩
# nrows=None 지정한 데이터 갯수만큼 로딩
# encoding='utf-8' 윈도우 OS에서 작성 된 파일 'cp949'

In [3]:
df

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

### excel 파일 로딩

In [11]:
# 만약 모듈을 찾을 수 없는 오류가 발생한다면 추가 모듈 설치
pd.read_excel('./data/energy1.xlsx')
# sheet_name=시트명, 시트데이터 로딩
# header=숫자, 위쪽 데이터 건너뛰고 데이터 산정
# engine=, 구버전 엑셀파일 로딩 엑셀파일 형식 지정 문자열 전달

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0,0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0,0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0,0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0,0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1,1
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1,1
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1,1
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1,1
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1,1

### json 파일 로딩

In [12]:
pd.read_json('./data/005930.json')

,symbolCode,date,tradePrice,tradeTime,change,changePrice,changeRate,prevClosingPrice,exchangeCountry,openingPrice,highPrice,lowPrice,accTradePrice,accTradeVolume,periodTradePrice,periodTradeVolume,listedSharesCount
0,A005930,2023-02-03 15:30:19,63800,15:30:19,RISE,300,0.004724,63500,KOREA,63900,64000,63000,942509594000,14804617,942509594000,14804617,NaN
1,A005930,2023-02-02 15:30:07,63500,15:30:07,RISE,1700,0.027508,61800,KOREA,63200,63900,62600,1474629229812,23285983,1474629229812,23285983,NaN
2,A005930,2023-02-01 15:30:23,61800,15:30:23,RISE,800,0.013115,61000,KOREA,62600,62700,61000,1145781815984,18570133,1145781815984,18570133,NaN
3,A005930,2023-01-31 15:30:07,61000,15:30:07,FALL,2300,-0.036335,63300,KOREA,63500,63700,61000,1835768640685,29746731,1835768640685,29746731,NaN
4,A005930,2023-01-30 15:30:19,63300,15:30:19,FALL,1300,-0.020124,64600,KOREA,64900,64900,63100,1337025734920,20995234,1337025734920,20995234,NaN
5,A005930,2023-01-27 15:30:08,64600,15:30:08,RISE,700,0.010955,63900,KOREA,64400,65000,63900,1212764792491,18760182,1212764792491,18760182,NaN
6,A005930,2023-01-26 15:30:14,63900,15:30:14,RISE,500,0.007886,63400,KOREA,63800,63900,63300,846408637700,13278277,846408637700,13278277,NaN
7,A005930,2023-01-25 15:30:24,63400,15:30:24,RISE,1600,0.025890,61800,KOREA,63500,63700,63000,1066200962700,16822710,1066200962700,16822710,NaN
8,A005930,2023-01-20 15:30:22,61800,15:30:22,RISE,300,0.004878,61500,KOREA,62100,62300,61100,595372614900,9646327,595372614900,9646327,NaN
9,A005930,2023-01-19 15:30:25,61500,15:30:25,RISE,1100,0.018212,60400,KOREA,60500,61500,60400,781937546636,12808490,781937546636,12808490,NaN

### API를 활용하여 웹에서 수집한 데이터 로딩

In [13]:
import requests
import json
url = 'https://finance.daum.net/api/quote/A005930/days?symbolCode=A005930&page=1&perPage=10&pagination=true'
info = {
    'referer': 'https://finance.daum.net/quotes/A005930?period=day',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'
}

resp = requests.get(url, headers=info)
data = json.loads(resp.text)
pd.DataFrame(data['data'])

,symbolCode,date,tradePrice,tradeTime,change,changePrice,changeRate,prevClosingPrice,exchangeCountry,openingPrice,highPrice,lowPrice,accTradePrice,accTradeVolume,periodTradePrice,periodTradeVolume,listedSharesCount
0,A005930,2023-08-08 15:30:22,67600.0,15:30:22,FALL,900.0,-0.013139,68500.0,KOREA,69000.0,69100.0,67400.0,992490219600,14615264,992490219600,14615264,None
1,A005930,2023-08-07 15:30:12,68500.0,15:30:12,RISE,200.0,0.002928,68300.0,KOREA,67700.0,69200.0,67600.0,753451928000,10968505,753451928000,10968505,None
2,A005930,2023-08-04 15:30:26,68300.0,15:30:26,FALL,500.0,-0.007267,68800.0,KOREA,68800.0,69100.0,68200.0,846916262150,12360193,846916262150,12360193,None
3,A005930,2023-08-03 15:30:02,68800.0,15:30:02,FALL,1100.0,-0.015737,69900.0,KOREA,69900.0,70200.0,68500.0,1393671498850,20087090,1393671498850,20087090,None
4,A005930,2023-08-02 15:30:03,69900.0,15:30:03,FALL,1200.0,-0.016878,71100.0,KOREA,70700.0,71000.0,69800.0,972618018764,13835020,972618018764,13835020,None
5,A005930,2023-08-01 15:30:22,71100.0,15:30:22,RISE,1300.0,0.018625,69800.0,KOREA,70100.0,71200.0,70000.0,869662851033,12299254,869662851033,12299254,None
6,A005930,2023-07-31 15:30:01,69800.0,15:30:01,FALL,800.0,-0.011331,70600.0,KOREA,70900.0,71000.0,69800.0,914993886320,13035420,914993886320,13035420,None
7,A005930,2023-07-28 15:30:11,70600.0,15:30:11,FALL,1100.0,-0.015342,71700.0,KOREA,71800.0,72400.0,70100.0,1374116836640,19420683,1374116836640,19420683,None
8,A005930,2023-07-27 15:30:09,71700.0,15:30:09,RISE,1900.0,0.027221,69800.0,KOREA,69900.0,71700.0,69300.0,1716358516901,24261179,1716358516901,24261179,None
9,A005930,2023-07-26 15:30:15,69800.0,15:30:15,FALL,200.0,-0.002857,70000.0,KOREA,69800.0,70600.0,68100.0,2074076087374,30016221,2074076087374,30016221,None

### 데이터베이스에서 쿼리를 사용한 데이터 로딩

In [ ]:
# 참고! 실습은 하지 않습니다만 쿼리를 사용하여 데이터베이스로부터 데이터프레임을 만드는 것도 가능합니다.
# 데이터베이스로 부터 자료 읽기

# 필요한 모듈 추가 설치 - 각 데이터베이스 별로 다릅니다.
# !pip install pymysql

# sql 모듈 로드하기
# import pymysql
# mysql, mariadb, sqlite, postgresql, ms-sql, oracle, mongodb

# 접속하기
# 접속방법 또한 DB 종류에 따라 다릅니다.
# con = pymysql.connect(host='db서버주소', port=3306, user='id', passwd='pwd', db='dbname')

# query 만들기
# query = 'select * from samples'

# 자료 불러오기
# data = pd.read_sql(query, con=con)

### 암호화 엑셀 파일 로딩

In [ ]:
# 매크로포함 실제 엑셀 프로그램을 열고 암호화 파일 오픈 --> 시트의 데이터를 클립보드에 복사 --> 판다스

# 설치순서대로 삭제 및 설치 하셔야 함
# pip uninstall xlwings
# pip install appscript
# pip install xlwings
import pandas as pd
import xlwings as xw

book = xw.Book('energy1.xlsx')
sheet1 = book.sheets[0] # 시트번호로 선택
# sheet2 = book.sheet['시트명'] # 시트이름으로 선택
sheet1.used_range # 데이터입력 전 영역선택
df = sheet1.used_range.options(pd.DataFrame, index=False).value
df.head()

# 로컬컴퓨터에 엑셀이 있어야 함.

## 데이터 저장하기
불러들인 혹은 작업을 마친 데이터프레임을 다양한 파일형태로 저장이 가능합니다.  
데이터분석 과정은 원본데이터를 되도록이면 유지하며 전처리를 진행하지만 주기적으로 백업은 진행하는 것이 좋습니다.  
> **`to_csv()`**  
**`to_excel()`**

In [17]:
# 데이터 저장
df.to_csv('./data/save_test.csv', index=False, encoding='cp949')
# 기존 인덱스를 값처럼 취급하지 않겠다.

In [18]:
# 엑셀은 오래걸립니다~
df.to_excel('./data/save_test.xlsx', encoding='cp949')

## 사용 데이터 간략 설명
> 한국에너지관리공단에서 제공한 전력사용량 데이터  
1시간 간격으로 수집 된 60개 건물들의 2020년 6월 1일 부터 2020년 8월 24일까지의 데이터  
건물정보와 기후정보를 활용한 전력사용량을 예측하기 위한 데이터셋  
대회홈페이지 : https://dacon.io/competitions/official/235736/overview/description
>> 각 변수(컬럼) 설명  
>>- num : 건물번호  
>>- date_time : 데이터가 수집 된 날짜, 시간  
>>- 전력사용량 : 수집 된 시점에 사용한 전력량  
>>- 비전기냉방설비운영 : 0-미운영, 1-운영  
>>- 태양광보유 : 0-미보유, 1-보유

In [ ]:
# 컬럼데이터 - 변수, feature, 로우데이터 - 샘플, 인스턴스, 포인트, 관측치

In [19]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

## 데이터 살펴보기

In [20]:
# 데이터를 불러들인 후 가장 처음 하는 작업
# 데이터의 구조, 형태 파악하기
# 데이터의 첫 5개 관측치 확인하기
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [22]:
# 데이터의 마지막 5개 샘플 확인하기
df.tail(10)

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
122390,60,2020-08-24 14,4269.456,29.5,3.1,59.0,0.0,1.0,1.0,1.0
122391,60,2020-08-24 15,4323.888,29.5,3.4,58.0,0.0,1.0,1.0,1.0
122392,60,2020-08-24 16,4294.080,29.4,3.1,59.0,0.0,1.0,1.0,1.0
122393,60,2020-08-24 17,4212.432,28.7,2.9,60.0,0.0,1.0,1.0,1.0
122394,60,2020-08-24 18,4189.104,28.5,2.2,66.0,0.0,1.0,1.0,1.0
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [23]:
# 데이터의 갯수를 살펴봅니다
len(df)

122400

In [24]:
# 데이터 shape 확인
df.shape

(122400, 10)

In [25]:
# 데이터의 전반적인 정보를 확인합니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   num         122400 non-null  int64
 1   date_time   122400 non-null  object
 2   전력사용량(kWh)  122400 non-null  float64
 3   기온(°C)      122400 non-null  float64
 4   풍속(m/s)     122400 non-null  float64
 5   습도(%)       122400 non-null  float64
 6   강수량(mm)     122400 non-null  float64
 7   일조(hr)      122400 non-null  float64
 8   비전기냉방설비운영   122400 non-null  float64
 9   태양광보유       122400 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 9.3+ MB

In [26]:
# 데이터의 기초통계량을 확인합니다.
df.describe()

,num,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
count,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000
mean,30.500000,2324.830866,24.251713,2.151641,80.169848,0.514989,0.213533,0.683333,0.483333
std,17.318173,2058.999326,3.407902,1.514475,15.525862,2.624505,0.370517,0.465178,0.499724
min,1.000000,0.000000,11.100000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,15.750000,1055.268000,21.800000,1.100000,70.000000,0.000000,0.000000,0.000000,0.000000
50%,30.500000,1700.352000,24.200000,1.900000,84.000000,0.000000,0.000000,1.000000,0.000000
75%,45.250000,2780.487000,26.500000,2.900000,93.000000,0.000000,0.300000,1.000000,1.000000
max,60.000000,17739.225000,36.300000,20.100000,100.000000,81.500000,1.000000,1.000000,1.000000

In [27]:
# 변수명
df.columns

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

데이터셋을 살펴 본 결과 시간별로 관측 된 기후데이터와 전력사용량을 확인 할 수 있었습니다.  
각각의 관측치(샘플)에 대한 정보를 유추하고, 건물별로 수집 된 데이터의 특징을 볼 수 있었습니다.  
데이터의 크기, 사이즈, 기초통계량을 바탕으로 조금 더 디테일하게 데이터를 살펴보겠습니다.

## 데이터접근 (인덱싱, 슬라이싱, 샘플링)

In [29]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [34]:
# df 인덱싱
# 벡터데이터 형태 ---> serise 자료구조 
# 출력결과를 데이터프레임 형태로 전달받으려면 인덱스를 리스트로 묶어 전달
df.iloc[0]

num                       1
date_time     2020-06-01 00
전력사용량(kWh)         8179.056
기온(°C)                 17.6
풍속(m/s)                 2.5
습도(%)                  92.0
강수량(mm)                 0.8
일조(hr)                  0.0
비전기냉방설비운영               0.0
태양광보유                   0.0
Name: 0, dtype: object

In [31]:
# 10번 인덱스 부터 20번 인덱스 샘플 접근
df.iloc[10:21] # iloc로 전달하는 색인값은 무조건 인덱스 숫자만 전달 가능해요

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
10,1,2020-06-01 10,8116.200,20.5,3.4,62.0,0.0,1.0,0.0,0.0
11,1,2020-06-01 11,8104.536,22.1,3.6,52.0,0.0,1.0,0.0,0.0
12,1,2020-06-01 12,8088.984,23.1,4.0,49.0,0.0,1.0,0.0,0.0
13,1,2020-06-01 13,8102.592,23.1,5.1,42.0,0.0,1.0,0.0,0.0
14,1,2020-06-01 14,8088.336,23.6,5.1,39.0,0.0,1.0,0.0,0.0
15,1,2020-06-01 15,8076.672,23.8,5.5,40.0,0.0,1.0,0.0,0.0
16,1,2020-06-01 16,8032.608,24.4,3.0,39.0,0.0,1.0,0.0,0.0
17,1,2020-06-01 17,8013.816,23.6,4.4,41.0,0.0,1.0,0.0,0.0
18,1,2020-06-01 18,8029.368,22.7,4.1,42.0,0.0,1.0,0.0,0.0
19,1,2020-06-01 19,8028.072,21.3,4.2,44.0,0.0,1.0,0.0,0.0
20,1,2020-06-01 20,7994.376,19.8,2.5,51.0,0.0,0.4,0.0,0.0

In [35]:
# 여러개의 관측치에 접근
df.iloc[[0, 10, 20]] # 보고자 하는 데이터의 인덱스를 리스트로 묶어 전달

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
10,1,2020-06-01 10,8116.200,20.5,3.4,62.0,0.0,1.0,0.0,0.0
20,1,2020-06-01 20,7994.376,19.8,2.5,51.0,0.0,0.4,0.0,0.0

In [36]:
# 변수 단위 샘플 접근
df['전력사용량(kWh)']

0         8179.056
1         8135.640
2         8107.128
3         8048.808
4         8043.624
            ...
122395    4114.368
122396    3975.696
122397    3572.208
122398    3299.184
122399    3204.576
Name: 전력사용량(kWh), Length: 122400, dtype: float64

In [37]:
# 여러 컬럼 동시 접근
df[['date_time', '전력사용량(kWh)']]

            date_time  전력사용량(kWh)
0       2020-06-01 00    8179.056
1       2020-06-01 01    8135.640
2       2020-06-01 02    8107.128
3       2020-06-01 03    8048.808
4       2020-06-01 04    8043.624
...               ...         ...
122395  2020-08-24 19    4114.368
122396  2020-08-24 20    3975.696
122397  2020-08-24 21    3572.208
122398  2020-08-24 22    3299.184
122399  2020-08-24 23    3204.576

[122400 rows x 2 columns]

In [41]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [40]:
df.iloc[10:21, 1:3] # 행, 열 순서대로 슬라이싱 코드를 만들어 전달

        date_time  전력사용량(kWh)
10  2020-06-01 10    8116.200
11  2020-06-01 11    8104.536
12  2020-06-01 12    8088.984
13  2020-06-01 13    8102.592
14  2020-06-01 14    8088.336
15  2020-06-01 15    8076.672
16  2020-06-01 16    8032.608
17  2020-06-01 17    8013.816
18  2020-06-01 18    8029.368
19  2020-06-01 19    8028.072
20  2020-06-01 20    7994.376

In [39]:
# row와 columns을 동시에 슬라이싱 하는 속성
# df.loc[인덱스, 컬럼명]
df.loc[10:21, ['date_time', '전력사용량(kWh)']]

        date_time  전력사용량(kWh)
10  2020-06-01 10    8116.200
11  2020-06-01 11    8104.536
12  2020-06-01 12    8088.984
13  2020-06-01 13    8102.592
14  2020-06-01 14    8088.336
15  2020-06-01 15    8076.672
16  2020-06-01 16    8032.608
17  2020-06-01 17    8013.816
18  2020-06-01 18    8029.368
19  2020-06-01 19    8028.072
20  2020-06-01 20    7994.376
21  2020-06-01 21    7974.936

In [4]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [ ]:
# 선형대수학적인 접근
# 스칼라, 벡터, 매트릭스(행렬), 텐서
# (1, 1), (122400, 1), (122400, 10), (12, 12, 3)

## 팬시인덱싱 전달
기본적인 인덱싱 방법에 추가로 조건에 따른 데이터 샘플링도 가능합니다.  
넘파이의 bool 타입데이터를 인덱스로 전달받는 방법으로 조건에 다른 데이터를 선별한다면 조금 더 고차원적인 데이터 선택이 가능합니다.

In [7]:
df[df['num'] > 55] # 뷰값만 확인 ---> 결과값의 원본값 변경 불가능
df.loc[df['num'] > 55] # 메모리 상 값에 접근 ---> 원본값 변경 가능

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
112200,56,2020-06-01 00,471.096,18.4,2.2,86.0,0.0,0.0,0.0,1.0
112201,56,2020-06-01 01,497.664,17.2,0.1,99.0,0.0,0.0,0.0,1.0
112202,56,2020-06-01 02,492.480,17.3,1.6,100.0,0.0,0.0,0.0,1.0
112203,56,2020-06-01 03,468.180,17.3,1.9,100.0,0.6,0.0,0.0,1.0
112204,56,2020-06-01 04,458.784,17.5,3.0,98.0,0.1,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [7]:
# 조건식을 인덱스로 받는 팬시인덱싱
# 건물 번호 기준으로 한 건물에 해당하는 관측치 선별
df.loc[df['num'] == 1]
# 엑셀 필터적용

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2035,1,2020-08-24 19,8714.952,29.4,3.4,66.0,0.0,0.2,0.0,0.0
2036,1,2020-08-24 20,8740.224,28.7,1.9,69.0,0.0,0.0,0.0,0.0
2037,1,2020-08-24 21,8730.504,28.3,1.1,71.0,0.0,0.0,0.0,0.0
2038,1,2020-08-24 22,8725.968,28.3,2.4,72.0,0.0,0.0,0.0,0.0
2039,1,2020-08-24 23,8705.232,28.1,2.3,73.0,0.0,0.0,0.0,0.0

In [12]:
# 전력 사용량 기준으로 15000kWh 이상 사용한 관측치 
df.loc[df['전력사용량(kWh)'] > 15000]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
14459,8,2020-06-08 11,15177.411,27.9,1.2,53.0,0.0,1.0,1.0,1.0
14464,8,2020-06-08 16,15152.454,31.0,1.5,40.0,0.0,1.0,1.0,1.0
14482,8,2020-06-09 10,15139.800,26.7,0.9,50.0,0.0,1.0,1.0,1.0
14483,8,2020-06-09 11,15417.936,28.7,1.8,45.0,0.0,1.0,1.0,1.0
14485,8,2020-06-09 13,15177.420,30.7,1.4,36.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
16309,8,2020-08-24 13,17423.793,31.5,2.0,56.0,0.0,1.0,1.0,1.0
16310,8,2020-08-24 14,17458.137,31.4,1.9,55.0,0.0,1.0,1.0,1.0
16311,8,2020-08-24 15,17230.671,32.1,2.1,56.0,0.0,1.0,1.0,1.0
16312,8,2020-08-24 16,17300.313,32.3,1.6,54.0,0.0,1.0,1.0,1.0
16313,8,2020-08-24 17,17136.351,31.6,1.0,57.0,0.0,1.0,1.0,1.0

In [15]:
# 해당시간 데이터보다 나중에 발생한 관측치 선택 
df.loc[df['date_time'] > '2020-07-31 23']

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
1464,1,2020-08-01 00,8623.584,25.0,3.4,90.0,1.0,0.0,0.0,0.0
1465,1,2020-08-01 01,8591.184,24.6,0.5,90.0,0.2,0.0,0.0,0.0
1466,1,2020-08-01 02,8582.112,24.6,0.5,91.0,0.0,0.0,0.0,0.0
1467,1,2020-08-01 03,8593.776,24.7,1.2,93.0,0.0,0.0,0.0,0.0
1468,1,2020-08-01 04,8575.632,24.7,0.8,94.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [24]:
# or 연산 | 
# and 연산 &
# 조건을 2개 사용한 관측치 선택 고온, 다습했던 관측치 선별 고온 30도 이상, 다습 습도 90 이상
df.loc[(df['기온(°C)'] >= 30) & (df['습도(%)'] >= 90)]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
89460,44,2020-08-12 12,3408.804,30.5,3.2,92.0,0.0,0.3,1.0,1.0
115980,57,2020-08-12 12,4092.336,30.5,3.2,92.0,0.0,0.3,1.0,0.0

In [29]:
# 건물번호 기준으로 15, 45 두개 가져온다
df.loc[(df['num'] == 15) | (df['num'] == 45)]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
28560,15,2020-06-01 00,2392.254000,17.0,2.0,100.0,1.1,0.0,1.0,0.0
28561,15,2020-06-01 01,2373.786000,17.2,2.3,99.0,0.1,0.0,1.0,0.0
28562,15,2020-06-01 02,2139.534000,17.2,3.7,98.0,0.0,0.0,1.0,0.0
28563,15,2020-06-01 03,2092.472325,16.7,3.1,99.0,0.0,0.0,1.0,0.0
28564,15,2020-06-01 04,1610.928000,16.9,3.5,98.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
91795,45,2020-08-24 19,1389.762000,29.2,1.0,72.0,0.0,0.6,0.0,1.0
91796,45,2020-08-24 20,1322.568000,28.0,0.1,79.0,0.0,0.0,0.0,1.0
91797,45,2020-08-24 21,1302.696000,27.6,0.1,82.0,0.0,0.0,0.0,1.0
91798,45,2020-08-24 22,1236.384000,27.5,0.4,84.0,0.0,0.0,0.0,1.0
91799,45,2020-08-24 23,1237.680000,27.2,0.4,84.0,0.0,0.0,0.0,1.0

In [30]:
# 각 조건을 변수 형태로 저장 후 loc 내부에서 &, | 연산식 계산
cond1 = (df['num'] == 15)
cond2 = (df['num'] == 45)
df.loc[cond1 | cond2]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
28560,15,2020-06-01 00,2392.254000,17.0,2.0,100.0,1.1,0.0,1.0,0.0
28561,15,2020-06-01 01,2373.786000,17.2,2.3,99.0,0.1,0.0,1.0,0.0
28562,15,2020-06-01 02,2139.534000,17.2,3.7,98.0,0.0,0.0,1.0,0.0
28563,15,2020-06-01 03,2092.472325,16.7,3.1,99.0,0.0,0.0,1.0,0.0
28564,15,2020-06-01 04,1610.928000,16.9,3.5,98.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
91795,45,2020-08-24 19,1389.762000,29.2,1.0,72.0,0.0,0.6,0.0,1.0
91796,45,2020-08-24 20,1322.568000,28.0,0.1,79.0,0.0,0.0,0.0,1.0
91797,45,2020-08-24 21,1302.696000,27.6,0.1,82.0,0.0,0.0,0.0,1.0
91798,45,2020-08-24 22,1236.384000,27.5,0.4,84.0,0.0,0.0,0.0,1.0
91799,45,2020-08-24 23,1237.680000,27.2,0.4,84.0,0.0,0.0,0.0,1.0

In [34]:
# 조건식이 아닌 특정 값 기준으로 데이터를 찾을 때
# 필터링 샘플링 하실 때 조건식보다 조금 더 편하실 수 있음
df.loc[df['num'].isin([10, 20, 30, 40, 50, 60])]
# 변수 내 데이터의 정확한 값을 알고 있을 때 사용 가능

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
18360,10,2020-06-01 00,417.960,18.3,2.5,94.0,0.0,0.0,1.0,0.0
18361,10,2020-06-01 01,407.592,18.8,2.3,89.0,0.0,0.0,1.0,0.0
18362,10,2020-06-01 02,404.028,19.0,3.2,86.0,0.0,0.0,1.0,0.0
18363,10,2020-06-01 03,397.548,19.0,4.1,85.0,0.0,0.0,1.0,0.0
18364,10,2020-06-01 04,397.224,18.9,3.9,87.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [37]:
# contains로 전달하는 문자열이 포함되면 True
df.loc[df['date_time'].str.contains('08-09')]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
1656,1,2020-08-09 00,8603.496,23.7,1.3,98.0,2.0,0.0,0.0,0.0
1657,1,2020-08-09 01,8611.920,23.9,1.2,97.0,0.0,0.0,0.0,0.0
1658,1,2020-08-09 02,8598.960,24.2,0.9,98.0,0.0,0.0,0.0,0.0
1659,1,2020-08-09 03,8586.648,24.4,1.0,98.0,1.3,0.0,0.0,0.0
1660,1,2020-08-09 04,8589.240,24.4,0.7,98.0,0.2,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122035,60,2020-08-09 19,3865.536,24.4,5.0,95.0,6.8,0.0,1.0,1.0
122036,60,2020-08-09 20,3802.032,24.8,5.5,86.0,0.0,0.0,1.0,1.0
122037,60,2020-08-09 21,3785.184,25.2,6.2,82.0,0.1,0.0,1.0,1.0
122038,60,2020-08-09 22,3569.184,25.4,5.2,81.0,0.0,0.0,1.0,1.0
122039,60,2020-08-09 23,3296.592,25.5,5.1,83.0,0.0,0.0,1.0,1.0

In [39]:
# 랜덤한 샘플의 수 혹은 비율에 따른 선별 방법
df.sample(frac=0.1)
# n=관측치 갯수 설정, frac=데이터 비율 설정

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
112676,56,2020-06-20 20,577.044,23.8,0.4,72.0,0.0,0.0,0.0,1.0
28142,14,2020-08-07 14,2619.000,31.8,6.2,58.0,0.0,0.0,1.0,1.0
70948,35,2020-08-06 04,647.136,24.4,7.5,96.0,11.6,0.0,1.0,0.0
58786,29,2020-08-09 10,1343.790,29.3,4.3,75.0,0.0,1.0,0.0,0.0
18604,10,2020-06-11 04,403.704,21.7,5.0,97.0,0.3,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
68974,34,2020-08-08 22,786.672,23.8,2.2,97.0,4.8,0.0,1.0,1.0
113412,56,2020-07-21 12,1022.868,27.5,1.2,63.0,0.0,1.0,0.0,1.0
113732,56,2020-08-03 20,539.136,23.5,0.9,100.0,0.0,0.0,0.0,1.0
26023,13,2020-08-04 07,1403.568,25.5,1.1,88.0,0.0,0.0,1.0,0.0
64335,32,2020-07-16 15,2492.208,28.5,3.3,60.0,0.0,1.0,0.0,0.0

## 집계값 계산

In [50]:
# 전력사용량 기준 집계값 계산
# 평균, 중앙값, 합, 최대값, 최소값, 표준편차, 분산
print(df['전력사용량(kWh)'].mean())
print(df['전력사용량(kWh)'].median())
print(df['전력사용량(kWh)'].sum())
print(df['전력사용량(kWh)'].max())
print(df['전력사용량(kWh)'].min())
print(df['전력사용량(kWh)'].std())
print(df['전력사용량(kWh)'].var())
print(df['전력사용량(kWh)'].argmax()) # 최대값의 인덱스를 리턴
print(df['전력사용량(kWh)'].argmin()) # 최소값의 인덱스를 리턴

2324.830865868444
1700.352
284559297.98229754
17739.225
0.0
2058.999325845112
4239478.223830625
16166
54684

In [53]:
df.loc[df['전력사용량(kWh)'] == 0]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
54684,27,2020-08-08 12,0.0,23.0,2.1,88.0,0.3,0.0,1.0,1.0
54685,27,2020-08-08 13,0.0,22.4,1.4,93.0,6.6,0.0,1.0,1.0
54686,27,2020-08-08 14,0.0,23.0,3.2,91.0,5.5,0.0,1.0,1.0
54687,27,2020-08-08 15,0.0,23.5,0.7,95.0,1.0,0.0,1.0,1.0
54688,27,2020-08-08 16,0.0,23.7,1.4,95.0,0.3,0.0,1.0,1.0

In [51]:
df.iloc[[54684]]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
54684,27,2020-08-08 12,0.0,23.0,2.1,88.0,0.3,0.0,1.0,1.0

In [11]:
# 정렬값 확인 (연속형 데이터에 적용)
# 컬럼 값 기준 가장 큰, 작은 값을 가진 샘플 확인 nlargest
df['전력사용량(kWh)'].nlargest(10)
# 컬럼 값 기준으로 가장 작은 값 nsmallest
df['전력사용량(kWh)'].nsmallest(10)

54684      0.000
54685      0.000
54686      0.000
54687      0.000
54688      0.000
55044     85.320
6343     138.240
55018    146.880
6463     152.496
6319     152.928
Name: 전력사용량(kWh), dtype: float64

In [61]:
# 카테고리컬 데이터에 적용하는 집계값 계산
print(df['태양광보유'].unique()) # 고윳값 확인
print(df['태양광보유'].nunique()) # 고윳값 갯수 확인
df['태양광보유'].value_counts() # 고윳값 갯수를 카운트 하고 내림차순으로 정렬

[0. 1.]
2

0.0    63240
1.0    59160
Name: 태양광보유, dtype: int64

## 데이터 재구조화
기존의 데이터 샘플링과는 달리 기준점으로 생각할 수 있는 컬럼 값을 기준으로 새롭게 데이터 프레임을 생성하며  
평균, 합, 카운트 등을 통해 데이터를 다차원적으로 분석 할 수 있는 함수를 제공합니다.
> 기준 변수(컬럼)가 한개 일 경우
>> **`df`**.**`groupby('컬럼명')`**.**`agg(집계방법)`**  

> 기준 변수(컬럼)가 두개 이상일 경우  
>>  **`pd`**.**`pivot_table(data=데이터프레임명, index=기준컬럼1, columns=기준컬럼2, values=집계데이터, aggfunc=집계방법)`**  

>> 적용가능한 통계 함수

| 함수명 | 내용 |
|-|-|
| count | 갯수 |
| sum | 합 |
| mean | 평균 |
| median | 중앙값 |
| var, std | 분산, 표준편차 |
| min, max | 최소값, 최대값 |
| unique, nunique | 고윳값, 고윳값 갯수 |
| prod | 곱 |

### groupby

In [76]:
# groupby 대상 변수가 카테고리컬 데이터
df.groupby('num', as_index=False).mean(numeric_only=True)

,num,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,8543.273488,24.608578,2.345980,75.971569,0.493873,0.184608,0.0,0.0
1,2,1299.914365,23.623333,3.197990,81.113725,0.720098,0.238725,1.0,0.0
2,3,3371.353699,24.241275,1.937402,82.667157,0.540882,0.219657,1.0,1.0
3,4,763.997353,25.143627,2.056324,71.136275,0.393186,0.235931,1.0,1.0
4,5,2714.509694,23.623333,3.197990,81.113725,0.720098,0.238725,1.0,0.0
5,6,1184.129868,24.241275,1.937402,82.667157,0.540882,0.219657,0.0,0.0
6,7,1527.138356,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,0.0
7,8,8837.364073,24.124363,1.305735,79.162255,0.488922,0.199167,1.0,1.0
8,9,1256.884880,24.243284,0.991127,82.871078,0.556618,0.204902,0.0,1.0
9,10,1427.164069,23.623333,3.197990,81.113725,0.720098,0.238725,1.0,0.0
10,11,2391.372635,23.623333,3.197990,81.113725,0.720098,0.238725,0.0,0.0
11,12,1748.853338,23.323186,2.781814,80.238824,0.395833,0.246765,1.0,1.0
12,13,1089.115200,24.309657,1.264265,77.677941,0.519167,0.206569,1.0,0.0
13,14,1770.616219,25.106275,2.797941,80.475490,0.208284,0.233333,1.0,1.0
14,15,2198.973266,24.241275,1.937402,82.667157,0.540882,0.219657,1.0,0.0
15,16,1660.828447,24.298971,1.594069,81.661716,0.465294,0.230098,1.0,1.0
16,17,1019.795029,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,0.0
17,18,1797.636244,24.241275,1.937402,82.667157,0.540882,0.219657,0.0,0.0
18,19,827.193587,23.623333,3.197990,81.113725,0.720098,0.238725,0.0,0.0
19,20,1463.527203,24.608578,2.345980,75.971569,0.493873,0.184608,0.0,0.0
20,21,1662.093794,24.608578,2.345980,75.971569,0.493873,0.184608,0.0,1.0
21,22,1203.965894,24.801716,1.368480,83.366176,0.512353,0.213725,1.0,0.0
22,23,1884.175209,24.801716,1.368480,83.366176,0.512353,0.213725,0.0,1.0
23,24,3114.640165,24.241275,1.937402,82.667157,0.540882,0.219657,1.0,1.0
24,25,1519.179927,24.241275,1.937402,82.667157,0.540882,0.219657,1.0,0.0
25,26,2987.688676,24.131324,0.895588,84.165686,0.564510,0.240882,0.0,1.0
26,27,666.142241,23.988382,1.360196,78.212500,0.431275,0.192745,1.0,1.0
27,28,2264.569571,23.623333,3.197990,81.113725,0.720098,0.238725,1.0,0.0
28,29,861.074248,23.915098,1.764069,82.874510,0.390147,0.272598,0.0,0.0
29,30,5761.224314,23.853137,5.136127,92.832843,0.298578,0.236569,1.0,1.0
30,31,5964.317576,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,0.0
31,32,2402.439671,24.241275,1.937402,82.667157,0.540882,0.219657,0.0,0.0
32,33,2576.495435,24.801716,1.368480,83.366176,0.512353,0.213725,1.0,0.0
33,34,900.586521,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,1.0
34,35,1299.956933,23.323186,2.781814,80.238824,0.395833,0.246765,1.0,0.0
35,36,1093.786776,24.139167,2.547451,84.953922,0.406961,0.230294,0.0,1.0
36,37,1992.514160,24.407941,1.111667,68.862255,0.388676,0.200588,1.0,1.0
37,38,7588.679824,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,1.0
38,39,1858.357760,24.586569,1.430882,79.405882,0.610931,0.193578,1.0,1.0
39,40,2597.993842,24.801716,1.368480,83.366176,0.512353,0.213725,1.0,1.0
40,41,1255.038925,24.241275,1.937402,82.667157,0.540882,0.219657,1.0,0.0
41,42,3624.592027,23.323186,2.781814,80.238824,0.395833,0.246765,1.0,1.0
42,43,1838.532282,25.223775,1.470245,73.353922,0.403824,0.203088,1.0,1.0
43,44,2487.588618,24.601618,1.713333,86.466176,0.686765,0.189853,1.0,1.0
44,45,1380.596589,24.241275,1.937402,82.667157,0.540882,0.219657,0.0,1.0
45,46,1841.530091,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,0.0
46,47,2137.956044,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,1.0
47,48,1143.003467,23.323186,2.781814,80.238824,0.395833,0.246765,0.0,0.0
48,49,1168.672804,24.608578,2.345980,75.971569,0.493873,0.184608,0.0,0.0
49,50,1065.012348,23.623333,3.197990,81.113725,0.720098,0.238725,0.0,0.0
50,51,1705.039200,24.608578,2.345980,75.971569,0.493873,0.184608,0.0,1.0
51,52,3779.359279,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,1.0
52,53,1423.925921,24.801716,1.368480,83.366176,0.512353,0.213725,1.0,0.0
53,54,6839.836376,24.241275,1.937402,82.667157,0.540882,0.219657,1.0,0.0
54,55,2088.306878,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,1.0
55,56,688.120412,23.537255,1.193922,84.498039,0.425931,0.189020,0.0,1.0
56,57,2589.972801,24.601618,1.713333,86.466176,0.686765,0.189853,1.0,0.0
57,58,913.814029,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,0.0
58,59,1070.658348,23.361471,1.051029,83.048039,0.575000,0.223725,1.0,0.0
59,60,3354.771964,23.323186,2.781814,80.238824,0.395833,0.246765,1.0,1.0

In [80]:
df.groupby('num').agg({'전력사용량(kWh)':['mean', 'max', 'min'],
                       '기온(°C)':['max', 'var']}, 
                       numeric_only=True)

      전력사용량(kWh)                            기온(°C)
            mean           max          min    max        var
num
1    8543.273488   8827.704000  7784.424000   35.2  10.678077
2    1299.914365   2165.292000   935.712000   33.1   9.565497
3    3371.353699   3957.457500  2675.862000   33.6  11.511645
4     763.997353   2385.504000   138.240000   36.3  17.903716
5    2714.509694   3890.160000  1526.256000   33.1   9.565497
6    1184.129868   3028.320000   503.820000   33.6  11.511645
7    1527.138356   2833.461000   632.448000   35.2  10.678077
8    8837.364073  17739.225000  4711.639200   33.1  11.719774
9    1256.884880   1352.592000   848.880000   35.5  15.997424
10   1427.164069   3186.864000   347.652000   33.1   9.565497
11   2391.372635   5943.888000   523.584000   33.1   9.565497
12   1748.853338   4253.904000   396.144000   31.6   8.539124
13   1089.115200   1893.456000   623.538000   35.3  12.470780
14   1770.616219   2767.230000   690.552000   35.7  15.050937
15   2198.973266   3515.238000  1182.114000   33.6  11.511645
16   1660.828447   2086.236000  1355.616000   35.5  13.181044
17   1019.795029   1901.610000   471.960000   35.2  10.678077
18   1797.636244   3650.157000   485.514000   33.6  11.511645
19    827.193587   1845.180000   461.700000   33.1   9.565497
20   1463.527203   2697.300000   804.438000   35.2  10.678077
21   1662.093794   2949.696000   837.864000   35.2  10.678077
22   1203.965894   2099.844000   843.048000   34.4  12.062690
23   1884.175209   3846.447000  1340.505000   34.4  12.062690
24   3114.640165   4208.976000  1272.240000   33.6  11.511645
25   1519.179927   3085.128000   178.524000   33.6  11.511645
26   2987.688676   5548.824000  1826.712000   35.3  14.796090
27    666.142241   1482.300000     0.000000   34.0  13.111513
28   2264.569571   3586.572000   908.928000   33.1   9.565497
29    861.074248   1685.610000   275.238000   35.1  14.165775
30   5761.224314   9802.080000  2418.336000   32.2  10.427739
31   5964.317576   6616.944000  2285.280000   35.2  10.678077
32   2402.439671   2559.384000  2305.800000   33.6  11.511645
33   2576.495435   2877.552000   884.304000   34.4  12.062690
34    900.586521   2317.248000   525.204000   35.2  10.678077
35   1299.956933   3984.336000   533.520000   31.6   8.539124
36   1093.786776   1708.776000   596.808000   32.8  10.965395
37   1992.514160   3192.435000  1464.084000   34.0  11.195896
38   7588.679824  12824.280000  3102.120000   35.2  10.678077
39   1858.357760   3175.916375  1006.699995   34.2  12.151600
40   2597.993842   4905.684000   504.036000   34.4  12.062690
41   1255.038925   2338.794000   322.704000   33.6  11.511645
42   3624.592027   6917.832000   683.812800   31.6   8.539124
43   1838.532282   3083.832000   987.336000   34.0  11.654614
44   2487.588618   3644.352000  1578.852000   33.9  11.931881
45   1380.596589   2110.212000   243.216000   33.6  11.511645
46   1841.530091   3404.160000   665.712000   35.2  10.678077
47   2137.956044   3630.096000  1217.376000   35.2  10.678077
48   1143.003467   3364.020000   309.996000   31.6   8.539124
49   1168.672804   2350.620000   543.341250   35.2  10.678077
50   1065.012348   2208.600000   633.096000   33.1   9.565497
51   1705.039200   3070.386000   972.324000   35.2  10.678077
52   3779.359279   5754.240000  2327.670000   35.2  10.678077
53   1423.925921   2799.198000   893.106000   34.4  12.062690
54   6839.836376   9331.200000  4783.536000   33.6  11.511645
55   2088.306878   4005.072000   670.536000   35.2  10.678077
56    688.120412   1737.936000   299.052000   32.8  12.318131
57   2589.972801   4860.000000  1099.440000   33.9  11.931881
58    913.814029   1355.778000   522.774000   35.2  10.678077
59   1070.658348   2229.120000   566.028000   35.5  15.882585
60   3354.771964   4549.392000  1696.917600   31.6   8.539124

### pivot_table

In [89]:
# 기준 변수가 2개 이상인 경우 사용 (카테고리컬 데이터 적용)
# pivot_table
pd.pivot_table(data=df,
               values='전력사용량(kWh)',
               index='비전기냉방설비운영',
               columns='태양광보유')
               # aggfunc='mean')

태양광보유              0.0          1.0
비전기냉방설비운영
0.0        2077.030506  1582.298192
1.0        2101.993590  2949.726621

## 데이터로 부터 의미있는 정보 추출하기

In [66]:
# 건물번호 10번의 평균 전력사용량
df.loc[df['num'] == 10, '전력사용량(kWh)'].mean()

1427.1640686279413

In [71]:
# 기온이 30도 이상인 관측치의 전력사용량 평균
df.loc[df['기온(°C)'] >= 30, '전력사용량(kWh)'].mean()

2901.692666127581

In [94]:
# 평균 전력사용량이 높은 건물번호 순서대로 5개 나열
df.groupby('num').mean().nlargest(5, '전력사용량(kWh)')

,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
num,,,,,,,,
8,8837.364073,24.124363,1.305735,79.162255,0.488922,0.199167,1.0,1.0
1,8543.273488,24.608578,2.345980,75.971569,0.493873,0.184608,0.0,0.0
38,7588.679824,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,1.0
54,6839.836376,24.241275,1.937402,82.667157,0.540882,0.219657,1.0,0.0
31,5964.317576,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,0.0

## 데이터프레임 병합
> 실제 분석업무를 진행하다보면 데이터가 여기저기 분산되어 있을 경우가 더 많습니다.  
조각난 데이터를 분석에 필요한 데이터셋으로 만들기 위해 데이터프레임 병합을 많이 사용합니다.  
한개 이상의 데이터프레임을 병합 할 때 주로 사용하는 함수 2가지를 알아보겠습니다.

### 데이터 병합에 사용가능한 key(병합할 기준이 되는 행 or 열)값이 있는경우
> **`pd`**.**`merge(베이스데이터프레임, 병합할데이터프레임)`**

>> 사용가능한 파라메터
>> - how : 'left', 'right', 'inner', 'outer'
>> - left_on : key값이 다를 경우 베이스데이터프레임의 key 설정
>> - right_on : key값이 다를 경우 병합데이터프레임의 key 설정

In [111]:
merge_df1 = pd.DataFrame({
    '이름': ['원영', '사쿠라', '유리', '예나', '유진', '나코', '은비', '혜원', '히토미', '채원', '민주', '째욘'],
    '국어': [100, 70, 70, 70, 60, 90, 90, 70, 70, 80, 100, 100],
    '영어': [100, 90, 80, 50, 70, 100, 70, 90, 100, 100, 80, 100]
    }, columns=['이름', '국어', '영어'])

merge_df2 = pd.DataFrame({
    '일어': [80, 100, 100, 90, 70, 50, 100],
    '수학': [90, 70, 100, 80, 70, 80, 90],
    'name': ['원영', '사쿠라', '나코', '히토미', '예나', '은비', '째욘'],
    }, columns=['일어', '수학', 'name'])

In [113]:
merge_df2

    일어   수학 name
0   80   90   원영
1  100   70  사쿠라
2  100  100   나코
3   90   80  히토미
4   70   70   예나
5   50   80   은비
6  100   90   째욘

In [115]:
# merge 테스트
pd.merge(merge_df1, merge_df2, left_on='이름', right_on='name', how='left')
# how 전달하는 방법에 따라 병합 방식이 달라집니다.
# inner 양쪽 데이터프레임에 데이터가 key값의 데이터가 모두 있는 경우 and
# outer 양쪽 데이터프레임 중 한쪽에만 key값 데이터가 있어도 병합 or
# left 먼저 전달하는 데이터프레임을 베이스데이터프레임으로 병합
# right 뒤에 전달하는 데이터프레임을 베이스데이터프레임으로 병합
# left_on, right_on key값의 변수명이 다를 경우 수동으로 key값을 지정하는 옵션

    이름   국어   영어   일어   수학 name
0   원영  100  100   80   90   원영
1  사쿠라   70   90  100   70  사쿠라
2   예나   70   50   70   70   예나
3   나코   90  100  100  100   나코
4   은비   90   70   50   80   은비
5  히토미   70  100   90   80  히토미
6   째욘  100  100  100   90   째욘

### 단순 데이터 연결
> **`pd`**.**`concat([베이스데이터프레임, 병합할데이터프레임], axis=0 or 1)`**  
현재 df에 저장되어있는 데이터에 추가로 데이터를 이어붙여보겠습니다.  
df1 이라는 변수에 이어붙일 데이터를 불러들여 병합을 진행해보겠습니다.

In [116]:
df1 = pd.read_csv('./data/energy2.csv', encoding='cp949')
df1.head()

,num,date_time,기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
0,1,2020-08-25 00,27.8,1.5,74.0,0.0,0.0,NaN,NaN
1,1,2020-08-25 01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-08-25 02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-08-25 03,27.3,1.1,78.0,NaN,0.0,NaN,NaN
4,1,2020-08-25 04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
df.tail()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [ ]:
# concat병합은 데이터를 그대로 이어붙이기 때문에 변수 순서나 shape이 동일한지 확인 해야 합니다.
# 모두 참이여야 참

In [119]:
df.columns

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

In [120]:
df1.columns

Index(['num', 'date_time', '기온(°C)', '풍속(m/s)', '습도(%)', '강수량(mm, 6시간)',
       '일조(hr, 3시간)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

In [123]:
# 전력사용량 변수 동일 위치에 추가
df1.insert(2, '전력사용량(kWh)', 0)
# 값을 삽입할 위치(인덱스), 변수명, 값

In [125]:
df1.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
0,1,2020-08-25 00,0,27.8,1.5,74.0,0.0,0.0,NaN,NaN
1,1,2020-08-25 01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-08-25 02,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-08-25 03,0,27.3,1.1,78.0,NaN,0.0,NaN,NaN
4,1,2020-08-25 04,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
# 변수명 동일하게 저장
df1.rename({'강수량(mm, 6시간)':'강수량(mm)',
            '일조(hr, 3시간)':'일조(hr)'}, axis=1, inplace=True)
# 변경대상이 되는 변수명:바꾸고자 하는 변수명 -> 딕셔너리 형태로 전달
# axis=1 작업방향 설정 shape (12323,10)
# 작업결과 확인 ---> 뷰값을 본다. 뷰값을 원본값에 적용하는 옵션 inplace=True

In [135]:
# concat병합은 데이터를 그대로 이어붙이기 때문에 변수 순서나 shape이 동일한지 확인 해야 합니다.
# 모두 참이여야 참
(df.columns == df1.columns).all() # 모두 참이여야 참
(df.columns == df1.columns).any() # 하나라도 참이면 참
(df.columns == df1.columns).sum() # 참인 갯수 확인

10

In [147]:
concat_df = pd.concat([df, df1], ignore_index=True)
# axis=0 행기준 병합(기본설정), axis=1 열기준 병합
# ignore_index=True 인덱스 초기화 동시에 진행

## 인덱스 편집
> 방금 전 concat으로 병합한 데이터프레임의 이상한 점을 찾으셨나요?  
데이터 자체는 잘 붙였지만 인덱스가 꼬여있습니다.  
인덱스 조작은 데이터분석을 위해 필요한 인덱스를 설정하기 위해 필요합니다.

### 인덱스 초기화

In [144]:
# 기존에 엉켜있던 인덱스는 지우고 원본값을 변경하는 매개변수를 추가
concat_df.reset_index(drop=True, inplace=True)
# drop=True 기존 인덱스 삭제 (인덱스값이 중요한 데이터는 살려야 함)

### 기존 변수값을 인덱스로 사용

In [146]:
concat_df.set_index('date_time'), # inplace=True)

,num,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
date_time,,,,,,,,,
2020-06-01 00,1,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
2020-06-01 01,1,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2020-06-01 02,1,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
2020-06-01 03,1,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
2020-06-01 04,1,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2020-08-31 19,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 20,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 21,60,0.000,27.9,4.1,68.0,NaN,0.0,1.0,1.0
2020-08-31 22,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 23,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 변수 편집
> 인덱스 조작과 마찬가지로 데이터프레임의 변수값을 변경해야 할 경우도 있습니다.  
데이터프레임은 변수단위 샘플링 및 인덱싱, 이름변경이 가능합니다.

### 변수명 변경

In [151]:
concat_df.rename({'전력사용량(kWh)':'전력사용량',
                  '기온(°C)':'기온',
                  '풍속(m/s)':'풍속',
                  '습도(%)':'습도',
                  '강수량(mm)':'강수량',
                  '일조(hr)':'일조'}, axis=1, inplace=True)

In [152]:
concat_df.to_csv('./data/concat_df.csv', index=False)

In [14]:
df = pd.read_csv('./data/concat_df.csv')
df.head()

   num      date_time     전력사용량    기온   풍속    습도  강수량   일조  비전기냉방설비운영  태양광보유
0    1  2020-06-01 00  8179.056  17.6  2.5  92.0  0.8  0.0        0.0    0.0
1    1  2020-06-01 01  8135.640  17.7  2.9  91.0  0.3  0.0        0.0    0.0
2    1  2020-06-01 02  8107.128  17.5  3.2  91.0  0.0  0.0        0.0    0.0
3    1  2020-06-01 03  8048.808  17.1  3.2  91.0  0.0  0.0        0.0    0.0
4    1  2020-06-01 04  8043.624  17.0  3.3  92.0  0.0  0.0        0.0    0.0

### 파생변수 생성

In [176]:
import numpy as np

In [177]:
np.array([1, 2, 3, 4]) + 5

array([6, 7, 8, 9])

In [157]:
df['전력사용량2'] = df['전력사용량'] * 1000

In [160]:
df['기온2'] = df['기온'] + df['풍속']

In [163]:
# 화씨 변환식 9 / 5 * 섭씨 + 32 연산으로 화씨 변수를 새롭게 생성
df['화씨'] = (9 / 5) * df['기온'] + 32

In [167]:
df['고온'] = df['기온'] > 30

In [168]:
df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력사용량2,기온2,화씨,고온
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,8179056.0,20.1,63.68,False
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,8135640.0,20.6,63.86,False
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,8107128.0,20.7,63.50,False
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,8048808.0,20.3,62.78,False
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,8043624.0,20.3,62.60,False

### 변수삭제

In [169]:
del df['전력사용량2']
df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,기온2,화씨,고온
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,20.1,63.68,False
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,20.6,63.86,False
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,20.7,63.50,False
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,20.3,62.78,False
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,20.3,62.60,False

In [170]:
# 원본데이터에서 지정한 변수값을 빼내오면서 원본값에서 삭제하는 두가지 작업을 동시에 
pop_test = df.pop('기온2')

In [174]:
df.drop(['화씨', '고온'], axis=1, inplace=True)

### 변수선택

In [184]:
# 데이터타입에 따른 변수 선별
df.select_dtypes(float)

           전력사용량    기온   풍속    습도  강수량   일조  비전기냉방설비운영  태양광보유
0       8179.056  17.6  2.5  92.0  0.8  0.0        0.0    0.0
1       8135.640  17.7  2.9  91.0  0.3  0.0        0.0    0.0
2       8107.128  17.5  3.2  91.0  0.0  0.0        0.0    0.0
3       8048.808  17.1  3.2  91.0  0.0  0.0        0.0    0.0
4       8043.624  17.0  3.3  92.0  0.0  0.0        0.0    0.0
...          ...   ...  ...   ...  ...  ...        ...    ...
132475     0.000   NaN  NaN   NaN  NaN  NaN        NaN    NaN
132476     0.000   NaN  NaN   NaN  NaN  NaN        NaN    NaN
132477     0.000  27.9  4.1  68.0  NaN  0.0        1.0    1.0
132478     0.000   NaN  NaN   NaN  NaN  NaN        NaN    NaN
132479     0.000   NaN  NaN   NaN  NaN  NaN        NaN    NaN

[132480 rows x 8 columns]

In [188]:
# 변수명 활용 변수선택
df[df.columns[2:7]]

           전력사용량    기온   풍속    습도  강수량
0       8179.056  17.6  2.5  92.0  0.8
1       8135.640  17.7  2.9  91.0  0.3
2       8107.128  17.5  3.2  91.0  0.0
3       8048.808  17.1  3.2  91.0  0.0
4       8043.624  17.0  3.3  92.0  0.0
...          ...   ...  ...   ...  ...
132475     0.000   NaN  NaN   NaN  NaN
132476     0.000   NaN  NaN   NaN  NaN
132477     0.000  27.9  4.1  68.0  NaN
132478     0.000   NaN  NaN   NaN  NaN
132479     0.000   NaN  NaN   NaN  NaN

[132480 rows x 5 columns]

In [ ]:
# 반복문을 활용한 변수 활용 예시
# 반복문 <---- 컴퓨터가 단순반복 작업을 수행할 수 있게 해주는 구문
# for, while(무한반복문)
for 반복자(변수) in 반복구간: # 반복구간 안에서 반복자라는 변수를 순환하며 할당하고
    # indentation block <--- 코드의 포함되는 구분점
    반복시켜 수행 시킬 코드 # 반복 횟수만큼 코드를 실행시킴
    
# 반복구간 <-- 자료구조, 데이터

In [191]:
test_list = [10, 20, 30, 40, 50]
for i in test_list:
    print(i * 1000)

10000
20000
30000
40000
50000

In [192]:
# 변수명을 순환하면서 각 변수의 고윳값 혹은 고윳값의 갯수를 출력
df['num'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60])

In [193]:
df.columns

Index(['num', 'date_time', '전력사용량', '기온', '풍속', '습도', '강수량', '일조', '비전기냉방설비운영',
       '태양광보유'],
      dtype='object')

In [196]:
for col_nm in df.columns:
    print(col_nm, df[col_nm].nunique()) # ex) df['num']

num 60
date_time 2208
전력사용량 52894
기온 245
풍속 159
습도 92
강수량 315
일조 31
비전기냉방설비운영 2
태양광보유 2

### apply 함수로 컬럼에 함수 적용
> 인스턴스 함수인 lambda 와 apply 함수를 사용하여 인자로 받는 모든 데이터에 함수를 적용  
커스텀 함수 적용도 가능

> apply 함수로 컬럼에 적용시키는 코드 구조  
 **`df['컬럼명']`** = **`df['컬럼명']`**.**`apply(함수명)`**

In [12]:
# 함수(?)
# y = f(x) 수학적 정의의 함수 입력값 x, 원하는 처리를 한 후 y값을 되돌려 받는 코드 묶음
# 기본적인 함수의 형태
def make_square(x): # def 디파인(선언) make_square라는 이름값을 함수명으로 사용하겠다 선언
    # 입력값으로 x값을 전달받게끔 초기화
    return x ** 2 # 파라메터로 전달받는 x값에 제곱을 한 y값을 만들어줌

In [16]:
make_square(10)

100

In [18]:
df['기온'].apply(make_square)

0         309.76
1         313.29
2         306.25
3         292.41
4         289.00
           ...
132475       NaN
132476       NaN
132477    778.41
132478       NaN
132479       NaN
Name: 기온, Length: 132480, dtype: float64

In [19]:
# 화씨 컬럼 추가
# 화씨 변환식 9 / 5 * 섭씨 + 32 연산으로 화씨 변수를 새롭게 생성
# 화씨 변환 함수를 제작
# 기온변수에 함수를 적용시켜 화씨 변수를 제작

def make_f(x):
    return (9 / 5) * x + 32

In [20]:
make_f(28)

82.4

In [21]:
df['화씨'] = df['기온'].apply(make_f)

In [22]:
df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,화씨
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,63.68
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,63.86
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,63.50
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,62.78
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,62.60

In [ ]:
# 조금 복잡한 형태의 함수를 제작 해보겠습니다.
# if, elif 조건문 활용
# 조건문 ---> 코드의 흐름을 우리가 설정한 조건에 따라 실행을 달리 해줄 수 있는 제어문

if 조건식1: # 만약에 조건식의 결과값이 참이라면 실행 코드를 실행
    실행코드1 # if조건이 참이라면 실행코드1 실행
elif 조건식2: # 만약에 if 문이 거짓이고 elif 조건의 조건식이 참이라면
    실행코드2 # 조건식2가 참이라면 실행
elif 조건식3: # 만약에 if 문이 거짓이고 elif 조건의 조건식이 참이라면
    실행코드3 # 조건식2가 참이라면 실행
else:
    실행코드4 # 조건식1, 조건식2가 모두 거짓이면 실행코드3이 실행

In [29]:
# if 문에서 실행되는 코드는 한가지 조건에 의한 코드만 실행
if False:
    print('첫번째 참입니다.')
elif True:
    print('두번째 참입니다.')
else:
    print('모두 거짓입니다.')

두번째 참입니다.

In [32]:
# 전달받는 값에 따라 결과값을 달리 해주는 함수 제작
def make_temp(x):
    if x >= 30:
        return '고온'
    elif x < 18:
        return '저온'
    else:
        return '평균기온'

In [35]:
make_temp(15)

'저온'

In [38]:
df['기온2'] = df['기온'].apply(make_temp)

### 날짜 형식 데이터의 활용

In [39]:
df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,화씨,기온2
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,63.68,저온
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,63.86,저온
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,63.50,저온
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,62.78,저온
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,62.60,저온

In [42]:
# 문자형식 데이터를 날짜형식으로 형변환
df['date_time'] = pd.to_datetime(df['date_time'])
df['date_time']

0        2020-06-01 00:00:00
1        2020-06-01 01:00:00
2        2020-06-01 02:00:00
3        2020-06-01 03:00:00
4        2020-06-01 04:00:00
                 ...
132475   2020-08-31 19:00:00
132476   2020-08-31 20:00:00
132477   2020-08-31 21:00:00
132478   2020-08-31 22:00:00
132479   2020-08-31 23:00:00
Name: date_time, Length: 132480, dtype: datetime64[ns]

In [45]:
# 시간차 계산
df.loc[5, 'date_time'] - df.loc[0, 'date_time']

Timedelta('0 days 05:00:00')

In [ ]:
# datetime 데이터 타입의 요일정보를 변수로 추가
print(df.loc[0, 'date_time'].year)
print(df.loc[0, 'date_time'].month)
print(df.loc[0, 'date_time'].day)
print(df.loc[0, 'date_time'].hour)
print(df.loc[0, 'date_time'].minute)
print(df.loc[0, 'date_time'].second)
print(df.loc[0, 'date_time'].dayofweek) # 요일정보 월요일부터 0

In [53]:
# 함수형태로 제작
def make_month(x):
    return x.month
df['month'] = df['date_time'].apply(make_month)

In [61]:
# 시간데이터의 속성값 추출
df['hour'] = df['date_time'].dt.hour
df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,화씨,기온2,month,hour
0,1,2020-06-01 00:00:00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,63.68,저온,6,0
1,1,2020-06-01 01:00:00,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,63.86,저온,6,1
2,1,2020-06-01 02:00:00,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,63.50,저온,6,2
3,1,2020-06-01 03:00:00,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,62.78,저온,6,3
4,1,2020-06-01 04:00:00,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,62.60,저온,6,4

In [70]:
# 요일정보를 추출해서 weekday라는 변수를 생성, 건물별 요일별 전력사용량 평균을 데이터프레임으로 제작
df['weekend'] = df['date_time'].dt.dayofweek

In [72]:
pd.pivot_table(data=df,
               values='전력사용량',
               index='num',
               columns='weekend')

weekend,0,1,2,3,4,5,6
num,,,,,,,
1,7931.435143,7853.014385,7893.929769,7902.555231,7911.054000,7886.624423,7871.141769
2,1275.768321,1276.648269,1282.584115,1294.483846,1283.804308,1009.243385,978.771808
3,3130.347294,3112.383237,3137.421805,3144.365397,3140.785682,3083.169902,3054.197230
4,635.944984,626.015498,671.814890,733.441458,761.969631,809.622206,707.639798
5,2526.226714,2495.943692,2490.588000,2479.195385,2620.074462,2533.807385,2408.556462
6,1263.519643,1280.484519,1290.034038,1310.843077,1258.236346,646.748654,595.327500
7,1591.154563,1605.941617,1608.389027,1619.764974,1593.054048,941.752842,902.681828
8,9101.958361,9313.841999,9316.397602,9391.537884,9184.972766,5336.350838,5437.554996
9,1162.320429,1158.676562,1164.104308,1158.429808,1169.296962,1168.751077,1147.105038
10,1188.731037,1332.604799,1322.439475,1325.067037,1379.764501,1354.126327,1337.283346
11,2175.994286,2125.694769,2142.693692,2142.234000,2196.031846,2342.392615,2343.472615
12,1588.345714,1538.558308,1558.895982,1580.386308,1623.075231,1727.685462,1695.682846
13,1054.556839,1068.221769,1061.219942,1076.629154,1090.044519,849.038365,840.307500
14,1739.672518,1746.265500,1756.724538,1766.140788,1737.219808,1379.325981,1317.935952
15,2128.174772,2079.488906,2138.496673,2140.741161,2105.727856,1811.206228,1810.360775
16,1572.305464,1576.676423,1573.013769,1575.172731,1566.970962,1441.832192,1432.344808
17,1076.737500,1089.020769,1087.967596,1102.930962,1084.657500,606.805962,536.944327
18,1889.519825,1988.418051,1949.992132,1972.274850,1934.636471,940.476490,933.109943
19,782.114786,746.585740,761.125846,764.506038,747.009519,760.890115,786.178731
20,1378.525821,1318.714740,1337.616817,1334.075538,1316.780827,1367.140500,1410.321635
21,1527.598286,1518.207923,1540.360385,1546.034538,1532.156538,1542.197423,1543.473692
22,1163.601643,1179.728654,1185.391385,1177.333962,1162.300154,958.806346,955.414731
23,1799.384909,1838.172308,1876.292477,1922.866268,1816.249172,1457.641787,1470.585989
24,2893.671000,2921.134154,2978.303538,3042.728308,2975.783538,2688.970154,2641.774154
25,1499.763214,1529.251962,1523.578846,1543.743692,1514.727000,1135.422692,1071.245713
26,2927.243444,2980.917896,2929.373919,2898.044481,2836.975566,2382.591574,2354.568048
27,670.917857,700.976250,694.382019,689.170673,649.267788,443.138818,456.082948
28,2085.082071,2013.116885,2002.892885,2067.680423,2117.003885,2186.272731,2174.361231
29,803.797232,770.275425,784.995923,779.750452,773.372942,849.321438,806.756885
30,5336.930384,5241.782147,5177.657415,5274.481114,5314.204267,5425.190942,5488.764216
31,5563.977429,5514.414923,5532.115846,5523.990923,5535.728308,5456.651538,5442.583846
32,2235.604500,2215.792385,2220.621923,2225.795538,2222.766692,2209.767923,2205.940846
33,2414.797071,2410.058077,2415.822923,2410.104462,2404.676769,2304.897923,2300.205462
34,711.935297,907.292423,857.154132,903.043405,907.980923,814.181233,732.098665
35,1339.494453,1363.768615,1380.432462,1397.792769,1377.379385,887.904688,649.908000
36,1014.963429,999.899615,1001.469462,997.469308,1011.450462,1017.415385,1030.941000
37,1960.435061,2015.662273,1991.605030,2016.106283,1959.205712,1445.008506,1489.151635
38,7236.472500,7138.893462,7229.791154,7426.641923,7355.403462,6394.386923,6280.050000
39,1753.558827,1755.388744,1750.455910,1771.648545,1777.083267,1601.415539,1606.360769
40,2269.349204,2363.707384,2385.298577,2389.272806,2464.910704,2493.355792,2446.423027
41,1162.282071,1142.138423,1141.409423,1157.753250,1151.190692,1210.406885,1151.436683
42,2950.226959,3208.771984,3335.290651,3352.328480,3484.793437,3668.784920,3472.118595
43,1746.337500,1811.691000,1739.608615,1840.877308,1741.040308,1522.743231,1484.541000
44,2376.161036,2375.021769,2387.084538,2388.348346,2370.192923,2104.982308,2080.429962
45,1341.875103,1311.758206,1324.873821,1336.863707,1329.462169,1190.546223,1088.377309
46,1923.580286,1931.069077,1928.459077,1936.239231,1907.973692,1169.222163,1096.262432
47,2143.851391,2169.093485,2180.267186,2179.179285,2149.550154,1546.916113,1445.174104
48,1197.776778,1291.548058,1318.036933,1345.506808,1276.641577,537.022388,414.814992
49,1085.386653,1048.244928,1064.408195,1067.053235,1051.707930,1097.645396,1143.384562
50,996.646500,955.927385,976.190538,984.778581,959.320385,986.430462,1027.583308
51,1600.181036,1543.013135,1568.822019,1574.185154,1546.935923,1572.125885,1619.979231
52,3710.582679,3752.630481,3788.442692,3809.025000,3751.226827,2813.157692,2800.700481
53,1381.881696,1470.587712,1484.264250,1472.207192,1402.940769,1002.996519,989.108135
54,6603.741000,6660.703154,6772.320692,6830.848385,6628.213385,5385.901846,5332.298538
55,2048.149286,2063.594769,2101.645385,2077.384154,2064.234462,1614.850819,1526.905385
56,693.149786,706.043769,704.128846,715.096038,666.483577,482.071500,478.956115
57,2593.467000,2631.235846,2613.271846,2614.224462,2526.287538,1899.909854,1856.543538
58,867.777107,880.899923,874.673308,883.730250,867.947712,781.979593,751.177904
59,971.097482,964.724610,955.515563,968.055209,1004.019003,1035.547786,1026.798971
60,3098.444143,3003.647538,3041.027608,3115.797231,3125.115692,3165.126923,3147.546462

### 데이터 범주화
간혹 연속형 데이터를 범주화(카테고리컬 데이터) 시켜야 할 경우가 있습니다.  
범주화를 위한 함수를 알아보겠습니다.

In [76]:
# 최소값과 최대값의 범위를 등구간으로 나누어 샘플을 매칭
pd.cut(df['기온'], 3, labels=['저온', '평균기온', '고온'])

0           저온
1           저온
2           저온
3           저온
4           저온
          ...
132475     NaN
132476     NaN
132477    평균기온
132478     NaN
132479     NaN
Name: 기온, Length: 132480, dtype: category
Categories (3, object): ['저온' < '평균기온' < '고온']

In [78]:
# 데이터의 밀도에 따라 같은 밀도를 가진 구간으로 설정 (등량분할)
pd.qcut(df['기온'], 3) #labels=['저온', '평균기온', '고온'])

0         (11.099, 22.7]
1         (11.099, 22.7]
2         (11.099, 22.7]
3         (11.099, 22.7]
4         (11.099, 22.7]
               ...
132475               NaN
132476               NaN
132477      (25.8, 36.3]
132478               NaN
132479               NaN
Name: 기온, Length: 132480, dtype: category
Categories (3, interval[float64, right]): [(11.099, 22.7] < (22.7, 25.8] < (25.8, 36.3]]

## 결측치 처리
> 데이터 분석을 위해서는 데이터셋 내에 빈 값이 있는 경우 분석에 방해가 될 수 있는 여지가 많습니다.  
모든 결측치를 없애야 하는 것은 아니지만 되도록이면 결측치를 채우는 방법, 혹은 없애는 방법등으로 결측치를 처리합니다.  
몇가지 예시를 살펴보면서 결측치 처리에 대해 알아봅시다.

In [79]:
# info() 함수는 결측치에 대한 정보도 보여줍니다.
# 컬럼별 isnull() 함수를 사용해도 무방합니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132480 entries, 0 to 132479
Data columns (total 15 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        132480 non-null  int64
 1   date_time  132480 non-null  datetime64[ns]
 2   전력사용량      132480 non-null  float64
 3   기온         125760 non-null  float64
 4   풍속         125760 non-null  float64
 5   습도         125760 non-null  float64
 6   강수량        124080 non-null  float64
 7   일조         125760 non-null  float64
 8   비전기냉방설비운영  124696 non-null  float64
 9   태양광보유      124024 non-null  float64
 10  화씨         125760 non-null  float64
 11  기온2        132480 non-null  object
 12  month      132480 non-null  int64
 13  hour       132480 non-null  int64
 14  weekend    132480 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(4), object(1)
memory usage: 15.2+ MB

확인결과 num, date_time 변수를 제외 한 다른 변수에 결측치가 존재합니다.  
해당 컬럼의 결측치 샘플들을 살펴보고 결측치를 처리해 보겠습니다.

In [83]:
# 컬럼별 결측치 확인을 위한 isnull()함수 리턴값이 bool 형태로 반환되어 조건부 샘플링이 가능합니다.
df.loc[df['기온'].isna()]
df.loc[df['기온'].isnull()]
# isna, isnull --> 모두 결측치
# NaN, ----> Not a Number 있어야 할 위치에 값이 없는 게 값
# null ----> 값이 들어갈 공간이 있는게 값
# None ----> 값이 없는게 값

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,화씨,기온2,month,hour,weekend
122401,1,2020-08-25 01:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균기온,8,1,1
122402,1,2020-08-25 02:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균기온,8,2,1
122404,1,2020-08-25 04:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균기온,8,4,1
122405,1,2020-08-25 05:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균기온,8,5,1
122407,1,2020-08-25 07:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균기온,8,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132473,60,2020-08-31 17:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균기온,8,17,0
132475,60,2020-08-31 19:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균기온,8,19,0
132476,60,2020-08-31 20:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균기온,8,20,0
132478,60,2020-08-31 22:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균기온,8,22,0
132479,60,2020-08-31 23:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균기온,8,23,0

In [84]:
df.isna()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,화씨,기온2,month,hour,weekend
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132475,False,False,False,True,True,True,True,True,True,True,True,False,False,False,False
132476,False,False,False,True,True,True,True,True,True,True,True,False,False,False,False
132477,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
132478,False,False,False,True,True,True,True,True,True,True,True,False,False,False,False
132479,False,False,False,True,True,True,True,True,True,True,True,False,False,False,False

In [87]:
# 기온 변수의 결측치 갯수를 세어본다 / 비율 계산
df['기온'].isna().sum() / len(df) * 100

5.072463768115942

### 결측치 비율 계산

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132480 entries, 0 to 132479
Data columns (total 15 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        132480 non-null  int64
 1   date_time  132480 non-null  datetime64[ns]
 2   전력사용량      132480 non-null  float64
 3   기온         132480 non-null  float64
 4   풍속         132480 non-null  float64
 5   습도         132480 non-null  float64
 6   강수량        132480 non-null  float64
 7   일조         132480 non-null  float64
 8   비전기냉방설비운영  132480 non-null  float64
 9   태양광보유      132480 non-null  float64
 10  화씨         132480 non-null  float64
 11  기온2        132480 non-null  object
 12  month      132480 non-null  int64
 13  hour       132480 non-null  int64
 14  weekend    132480 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(4), object(1)
memory usage: 15.2+ MB

In [115]:
# 컬럼명을 순환하면서 결측치 비율 계산
for col_nm in df.columns:
    print(col_nm, df[col_nm].isna().sum() / len(df) * 100)

num 0.0
date_time 0.0
전력사용량 0.0
기온 0.0
풍속 0.0
습도 0.0
강수량 0.0
일조 0.0
비전기냉방설비운영 0.0
태양광보유 0.0
화씨 0.0
기온2 0.0
month 0.0
hour 0.0
weekend 0.0

In [ ]:
# 결측치 처리 방법 ----> 채워넣기
# 결측치 비율에 따라 채워넣는 방법이 달라지기도 합니다. 케바케

In [94]:
# fillna() 함수로 NaN 값을 컬럼의 평균으로 채우기
# 연속형 데이터의 경우 결측치 채워넣기 방법 ---> 평균, 중앙값
df['기온'].fillna(df['기온'].mean(), inplace=True)

In [100]:
# 카테고리컬 데이터 ---> 최빈값으로 결측치 채움
df['태양광보유'].fillna(0, inplace=True)

In [112]:
df['비전기냉방설비운영'].value_counts().index[0]

1.0

In [122]:
df.columns

Index(['num', 'date_time', '전력사용량', '기온', '풍속', '습도', '강수량', '일조', '비전기냉방설비운영',
       '태양광보유', '화씨', '기온2', 'month', 'hour', 'weekend'],
      dtype='object')

In [114]:
'''
풍속 5.072463768115942
습도 5.072463768115942
강수량 6.340579710144928
일조 5.072463768115942
위 변수의 결측치를 평균값으로 채워넣겠습니다. 반복문 사용
'''
for col_nm in df.columns[2:]:
    if df[col_nm].nunique() < 40: # 고윳값의 갯수가 40개 이하면 카테고리컬 데이터라 판단
        df[col_nm].fillna(df[col_nm].value_counts().index[0], inplace=True) # 최빈값으로 
    elif col_nm == 'date_time':
        pass
    else: # 연속형
        df[col_nm].fillna(df[col_nm].mean(), inplace=True) # 평균으로 채워넣는

### 결측치 제거
유추를 통해 평균 혹은 최빈값으로 대체가 가능한 데이터의 경우 전처리를 통해 결측치를 처리.  
결측치 비율이 비정상적으로 크거나 주변 데이터로부터 유추가 가능한 데이터가 없을 경우 결측치 삭제로 결측치 처리

In [119]:
# 마지막에 합니다.
df.dropna(inplace=True)
# 작업방향 행방향 기준으로 관측치 데이터에 결측치 데이터가 하나라도 있으면 해당 관측치를 제거
# 결측치가 존재하는 변수를 삭제? ---> 작업방향을 axis=1

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132480 entries, 0 to 132479
Data columns (total 15 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        132480 non-null  int64
 1   date_time  132480 non-null  datetime64[ns]
 2   전력사용량      132480 non-null  float64
 3   기온         132480 non-null  float64
 4   풍속         132480 non-null  float64
 5   습도         132480 non-null  float64
 6   강수량        132480 non-null  float64
 7   일조         132480 non-null  float64
 8   비전기냉방설비운영  132480 non-null  float64
 9   태양광보유      132480 non-null  float64
 10  화씨         132480 non-null  float64
 11  기온2        132480 non-null  object
 12  month      132480 non-null  int64
 13  hour       132480 non-null  int64
 14  weekend    132480 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(4), object(1)
memory usage: 15.2+ MB

이제 모든 컬럼에 결측치가 사라졌습니다. 이후 분석은 시각화를 통해 진행해보겠습니다.

In [ ]:
# 건물별로 처리