# Pandas
> 데이터 과학자를 위해 테이블형태로 데이터를 다룰 수 있게 해주는 패키지 (python용 엑셀)  
기존 데이터처리 라이브러리인 numpy 대신 주로 사용  
일반인이 데이터분석을 접하기 쉽게 만들어준 결정적인 라이브러리  
pandas만으로도 충분히 데이터 분석이 가능할 정도로 고수준의 함수들을 내장  
앞으로 진행하는 데이터분석 과정에서 주로 사용하게 될 데이터구조

In [ ]:
# 아나콘다 프로그램 --> 데이터분석용 파이썬 개발환경을 간편하게 해주는 프로그램
# 데이터분석에 필요한 여러가지 프로그램들을 이미 설치

## pandas 설치
> 콘솔창에서 실행 시  
**pip install pandas**
    
> 주피터 노트북으로 실행 시  
 **!pip install pandas**
    
> 아나콘다 환경으로 python 환경설정 시 기본적으로 설치가 되어있음

In [1]:
# pandas 설치
!pip install pandas
# pip 패키지 관리 프로그램을 사용해서 판다스 설치해라

Requirement already satisfied: pandas in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (1.4.0)
Requirement already satisfied: pytz>=2020.1 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.20.0 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
!say 안녕하세요 수강생여러분 맥북은 시리가 말도 걸어줍니다.

In [63]:
# 필요 모듈 import 모듈, 패키지, 라이브러리
import numpy as np
import pandas as pd
# 판다스 패키지를 불러들여서 pd라는 약자로 사용하겠다.
# 파이썬 사용유저의 100% 이렇게 사용합니다.

In [5]:
# 이런것도 할 수 있어요~
# 텍스트를 음성으로 변환시켜주는 패키지(모듈) 입니다.
# 사용하기 전 패키지를 다운받는 과정이 필요합니다.
# !pip install pyttsx3
import pyttsx3
engine = pyttsx3.init()
engine.say("수강생여러분.")
engine.say("파이썬 공부하느라 고생하십니다.")
engine.say("파이썬으로 이런것도 가능해요")
engine.say("하지만 이해못해도 괜챦아요.")
engine.say("왜냐하면 우리는 가져다 쓸꺼니까요. 찡긋")
engine.runAndWait()

## DataFrame 데이터 불러오기
> 엑셀에 익숙한 사용자를 위해 제작 된 테이블형태의 데이터 구조  
다양한 형태의 데이터를 받아 사용할 수 있으며 다양한 통계, 시각화 함수를 제공한다.  
실제 데이터를 불러들이고 값을 확인 해 보며 기본적인 pandas 사용법을 익혀보도록 하겠습니다.

### 데이터 불러오기
pandas는 다양한 데이터 파일 형태를 지원하며 주로 csv, xlsx, sql을 사용한다.
    
> **`read_csv()`**  
**`read_excel()`**  
**`read_sql()`**  
**`read_json()`**

### csv 파일 로딩

In [9]:
pwd

'/Users/byun/0_lecture/08_samsung_preprocessing/2023_preprocessing_9'

In [64]:
# DataFrame 의 약자로서 형식적으로 df 변수명을 사용한다.
# pandas패키지의 read_csv() 함수를 사용하여 energy1.csv 파일을 불러들여 
# 데이터프레임을 만들고 df 이름의 변수로 저장
df = pd.read_csv('./data/energy1.csv', encoding='cp949')
# 경로명 + 파일명 + 확장자를 문자열 형식으로 전달
# encoding <-- 컴퓨터가 데이터를 읽어들이고 해석하는 방식
# utf-8 <-- 웹 표준 인코딩, 'cp949' ---> 윈도우 os(공공기관제공 데이터)

# 설비 --> 텍스트데이터 인코딩 제조사에 따라 인코딩방식이 다름
# 설비 제조사에 콜 하셔서 설비에서 떨어지는 파일 인코딩 문의, 개발자 문의
# 'utf-16-sig', 'utf-32-sig'

### excel 파일 로딩

In [13]:
%%time
# 만약 모듈을 찾을 수 없는 오류가 발생한다면 추가 모듈 설치
df1 = pd.read_excel('./data/energy1.xlsx')
# sheet_name=해당시트의 데이터를 데이터프레임으로 만들어줌
# header=데이터가 시작되는 행 넘버 설정 3행부터 데이터다 
# engine=예전 엑셀파일, xlrd, xlsb, xls

CPU times: user 7.72 s, sys: 69.9 ms, total: 7.79 s
Wall time: 7.81 s

### json 파일 로딩

In [14]:
# json 컴퓨터간 통신(프로토콜)에 사용하는 데이터 형식 ---> 딕셔너리 형식
pd.read_json('./data/005930.json')

,symbolCode,date,tradePrice,tradeTime,change,changePrice,changeRate,prevClosingPrice,exchangeCountry,openingPrice,highPrice,lowPrice,accTradePrice,accTradeVolume,periodTradePrice,periodTradeVolume,listedSharesCount
0,A005930,2023-02-03 15:30:19,63800,15:30:19,RISE,300,0.004724,63500,KOREA,63900,64000,63000,942509594000,14804617,942509594000,14804617,NaN
1,A005930,2023-02-02 15:30:07,63500,15:30:07,RISE,1700,0.027508,61800,KOREA,63200,63900,62600,1474629229812,23285983,1474629229812,23285983,NaN
2,A005930,2023-02-01 15:30:23,61800,15:30:23,RISE,800,0.013115,61000,KOREA,62600,62700,61000,1145781815984,18570133,1145781815984,18570133,NaN
3,A005930,2023-01-31 15:30:07,61000,15:30:07,FALL,2300,-0.036335,63300,KOREA,63500,63700,61000,1835768640685,29746731,1835768640685,29746731,NaN
4,A005930,2023-01-30 15:30:19,63300,15:30:19,FALL,1300,-0.020124,64600,KOREA,64900,64900,63100,1337025734920,20995234,1337025734920,20995234,NaN
5,A005930,2023-01-27 15:30:08,64600,15:30:08,RISE,700,0.010955,63900,KOREA,64400,65000,63900,1212764792491,18760182,1212764792491,18760182,NaN
6,A005930,2023-01-26 15:30:14,63900,15:30:14,RISE,500,0.007886,63400,KOREA,63800,63900,63300,846408637700,13278277,846408637700,13278277,NaN
7,A005930,2023-01-25 15:30:24,63400,15:30:24,RISE,1600,0.025890,61800,KOREA,63500,63700,63000,1066200962700,16822710,1066200962700,16822710,NaN
8,A005930,2023-01-20 15:30:22,61800,15:30:22,RISE,300,0.004878,61500,KOREA,62100,62300,61100,595372614900,9646327,595372614900,9646327,NaN
9,A005930,2023-01-19 15:30:25,61500,15:30:25,RISE,1100,0.018212,60400,KOREA,60500,61500,60400,781937546636,12808490,781937546636,12808490,NaN

### API를 활용하여 웹에서 수집한 데이터 로딩

In [15]:
# 크롤링 코드 (웹 정보를 다운받아서 데이터프레임으로 저장)
import requests # 컴퓨터간 통신 작업을 파이썬으로 할 수 있게 해주는 패키지
import json # json 형태의 파일 관리
url = 'https://finance.daum.net/api/quote/A005930/days?symbolCode=A005930&page=1&perPage=10&pagination=true'
info = {
    'referer': 'https://finance.daum.net/quotes/A005930?period=day',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'
}

resp = requests.get(url, headers=info)
data = json.loads(resp.text)
df2 = pd.DataFrame(data['data'])
df2

,symbolCode,date,tradePrice,tradeTime,change,changePrice,changeRate,prevClosingPrice,exchangeCountry,openingPrice,highPrice,lowPrice,accTradePrice,accTradeVolume,periodTradePrice,periodTradeVolume,listedSharesCount
0,A005930,2023-07-11 15:30:04,71500.0,15:30:04,RISE,2000.0,0.028777,69500.0,KOREA,70200.0,71500.0,70100.0,858857514700,12109590,858857514700,12109590,None
1,A005930,2023-07-10 15:30:14,69500.0,15:30:14,FALL,400.0,-0.005722,69900.0,KOREA,70000.0,70400.0,69200.0,816772079400,11713926,816772079400,11713926,None
2,A005930,2023-07-07 15:30:13,69900.0,15:30:13,FALL,1700.0,-0.023743,71600.0,KOREA,71100.0,71400.0,69800.0,1215404338500,17308877,1215404338500,17308877,None
3,A005930,2023-07-06 15:30:23,71600.0,15:30:23,FALL,400.0,-0.005556,72000.0,KOREA,71900.0,72400.0,71500.0,1061491980700,14777667,1061491980700,14777667,None
4,A005930,2023-07-05 15:30:24,72000.0,15:30:24,FALL,1000.0,-0.013699,73000.0,KOREA,73000.0,73300.0,71900.0,889637363400,12310610,889637363400,12310610,None
5,A005930,2023-07-04 15:30:01,73000.0,15:30:01,EVEN,0.0,0.000000,73000.0,KOREA,73400.0,73600.0,72900.0,747624440200,10214350,747624440200,10214350,None
6,A005930,2023-07-03 15:30:11,73000.0,15:30:11,RISE,800.0,0.011080,72200.0,KOREA,72700.0,73200.0,72600.0,782251095800,10722181,782251095800,10722181,None
7,A005930,2023-06-30 15:30:06,72200.0,15:30:06,FALL,200.0,-0.002762,72400.0,KOREA,72500.0,72700.0,71700.0,844353820176,11694765,844353820176,11694765,None
8,A005930,2023-06-29 15:30:16,72400.0,15:30:16,FALL,300.0,-0.004127,72700.0,KOREA,73100.0,73400.0,72400.0,891731369446,12229967,891731369446,12229967,None
9,A005930,2023-06-28 15:30:17,72700.0,15:30:17,RISE,100.0,0.001377,72600.0,KOREA,72600.0,72700.0,72000.0,635516679700,8783093,635516679700,8783093,None

### 데이터베이스에서 쿼리를 사용한 데이터 로딩

In [ ]:
# 참고! 실습은 하지 않습니다만 쿼리를 사용하여 데이터베이스로부터 데이터프레임을 만드는 것도 가능합니다.
# 데이터베이스로 부터 자료 읽기

# 필요한 모듈 추가 설치 - 각 데이터베이스 별로 다릅니다.
# !pip install pymysql

# sql 모듈 로드하기
# import pymysql
# mysql, mariadb, sqlite, postgresql, ms-sql, oracle, mongodb

# 접속하기
# 접속방법 또한 DB 종류에 따라 다릅니다.
# con = pymysql.connect(host='db서버주소', port=3306, user='id', passwd='pwd', db='dbname')

# query 만들기
# query = 'select * from samples'

# 자료 불러오기
# data = pd.read_sql(query, con=con)

## 데이터 저장하기
불러들인 혹은 작업을 마친 데이터프레임을 다양한 파일형태로 저장이 가능합니다.  
데이터분석 과정은 원본데이터를 되도록이면 유지하며 전처리를 진행하지만 주기적으로 백업은 진행하는 것이 좋습니다.  
> **`to_csv()`**  
**`to_excel()`**

In [20]:
# 데이터 저장
df.to_csv('./data/save_test.csv', index=False, encoding='cp949')
# csv파일로 저장 시 인덱스값을 데이터로 간주합니다. 옵션을 False 인덱스는 저장 X.

In [18]:
# 엑셀은 오래걸립니다~
df.to_excel('./data/save_test.xlsx', index=False)

In [21]:
pd.read_csv('./data/save_test.csv', encoding='cp949')

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

## 사용 데이터 간략 설명
> 한국에너지관리공단에서 제공한 전력사용량 데이터  
1시간 간격으로 수집 된 60개 건물들의 2020년 6월 1일 부터 2020년 8월 24일까지의 데이터  
건물정보와 기후정보를 활용한 전력사용량을 예측하기 위한 데이터셋  
대회홈페이지 : https://dacon.io/competitions/official/235736/overview/description
>> 각 변수(컬럼) 설명  
>>- num : 건물번호  
>>- date_time : 데이터가 수집 된 날짜, 시간  
>>- 전력사용량 : 수집 된 시점에 사용한 전력량  
>>- 비전기냉방설비운영 : 0-미운영, 1-운영  
>>- 태양광보유 : 0-미보유, 1-보유

## 데이터 살펴보기

In [65]:
# 데이터를 불러들인 후 가장 처음 하는 작업
# 데이터의 구조, 형태 파악하기
# 데이터의 첫 5개 샘플 확인하기
df.head(10)
# 행기준 데이터 하나, 엑셀 인덱스값 하나, 샘플, 관측치, 인스턴스, 레코드
# 열기준 데이터 하나, 엑셀 컬럼값 하나, 피쳐, 변수

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
5,1,2020-06-01 05,8010.576,16.9,3.4,93.0,0.0,0.0,0.0,0.0
6,1,2020-06-01 06,7978.176,16.7,3.4,90.0,0.1,0.0,0.0,0.0
7,1,2020-06-01 07,8019.000,16.9,2.3,86.0,0.0,0.1,0.0,0.0
8,1,2020-06-01 08,8020.944,17.8,3.3,80.0,0.0,0.3,0.0,0.0
9,1,2020-06-01 09,8083.152,19.3,2.1,73.0,0.0,0.7,0.0,0.0

In [25]:
# 데이터의 마지막 5개 관측치 확인하기
df.tail()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [26]:
# 데이터의 갯수를 살펴봅니다
len(df)

122400

In [27]:
# 데이터 shape 확인 행렬데이터 크기 4 X 5
df.shape
# df 내부에 저장되어 있는 변수값

(122400, 10)

In [28]:
# 데이터의 전반적인 정보를 확인합니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   num         122400 non-null  int64
 1   date_time   122400 non-null  object
 2   전력사용량(kWh)  122400 non-null  float64
 3   기온(°C)      122400 non-null  float64
 4   풍속(m/s)     122400 non-null  float64
 5   습도(%)       122400 non-null  float64
 6   강수량(mm)     122400 non-null  float64
 7   일조(hr)      122400 non-null  float64
 8   비전기냉방설비운영   122400 non-null  float64
 9   태양광보유       122400 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 9.3+ MB

In [29]:
# 데이터의 기초통계량을 확인합니다.
df.describe()

,num,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
count,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000
mean,30.500000,2324.830866,24.251713,2.151641,80.169848,0.514989,0.213533,0.683333,0.483333
std,17.318173,2058.999326,3.407902,1.514475,15.525862,2.624505,0.370517,0.465178,0.499724
min,1.000000,0.000000,11.100000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,15.750000,1055.268000,21.800000,1.100000,70.000000,0.000000,0.000000,0.000000,0.000000
50%,30.500000,1700.352000,24.200000,1.900000,84.000000,0.000000,0.000000,1.000000,0.000000
75%,45.250000,2780.487000,26.500000,2.900000,93.000000,0.000000,0.300000,1.000000,1.000000
max,60.000000,17739.225000,36.300000,20.100000,100.000000,81.500000,1.000000,1.000000,1.000000

In [30]:
# 변수명
df.columns # 속성값

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

데이터셋을 살펴 본 결과 시간별로 관측 된 기후데이터와 전력사용량을 확인 할 수 있었습니다.  
각각의 관측치(샘플)에 대한 정보를 유추하고, 건물별로 수집 된 데이터의 특징을 볼 수 있었습니다.  
데이터의 크기, 사이즈, 기초통계량을 바탕으로 조금 더 디테일하게 데이터를 살펴보겠습니다.

## 데이터접근 (인덱싱, 슬라이싱, 샘플링)

In [33]:
# 인덱스 로케이터 - 인덱스 값 기준으로 데이터를 선별
df.iloc[[0]]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0

In [34]:
# 10번 인덱스 부터 20번 인덱스 샘플 접근
df.iloc[10:21]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
10,1,2020-06-01 10,8116.200,20.5,3.4,62.0,0.0,1.0,0.0,0.0
11,1,2020-06-01 11,8104.536,22.1,3.6,52.0,0.0,1.0,0.0,0.0
12,1,2020-06-01 12,8088.984,23.1,4.0,49.0,0.0,1.0,0.0,0.0
13,1,2020-06-01 13,8102.592,23.1,5.1,42.0,0.0,1.0,0.0,0.0
14,1,2020-06-01 14,8088.336,23.6,5.1,39.0,0.0,1.0,0.0,0.0
15,1,2020-06-01 15,8076.672,23.8,5.5,40.0,0.0,1.0,0.0,0.0
16,1,2020-06-01 16,8032.608,24.4,3.0,39.0,0.0,1.0,0.0,0.0
17,1,2020-06-01 17,8013.816,23.6,4.4,41.0,0.0,1.0,0.0,0.0
18,1,2020-06-01 18,8029.368,22.7,4.1,42.0,0.0,1.0,0.0,0.0
19,1,2020-06-01 19,8028.072,21.3,4.2,44.0,0.0,1.0,0.0,0.0
20,1,2020-06-01 20,7994.376,19.8,2.5,51.0,0.0,0.4,0.0,0.0

In [35]:
# 여러개의 관측치에 접근
df.iloc[[0, 10, 20]]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
10,1,2020-06-01 10,8116.200,20.5,3.4,62.0,0.0,1.0,0.0,0.0
20,1,2020-06-01 20,7994.376,19.8,2.5,51.0,0.0,0.4,0.0,0.0

In [37]:
# 변수 단위 샘플 접근 --> 딕셔너리 값
df['전력사용량(kWh)']

0         8179.056
1         8135.640
2         8107.128
3         8048.808
4         8043.624
            ...
122395    4114.368
122396    3975.696
122397    3572.208
122398    3299.184
122399    3204.576
Name: 전력사용량(kWh), Length: 122400, dtype: float64

In [38]:
# 여러 컬럼 동시 접근
df[['date_time', '전력사용량(kWh)']]

            date_time  전력사용량(kWh)
0       2020-06-01 00    8179.056
1       2020-06-01 01    8135.640
2       2020-06-01 02    8107.128
3       2020-06-01 03    8048.808
4       2020-06-01 04    8043.624
...               ...         ...
122395  2020-08-24 19    4114.368
122396  2020-08-24 20    3975.696
122397  2020-08-24 21    3572.208
122398  2020-08-24 22    3299.184
122399  2020-08-24 23    3204.576

[122400 rows x 2 columns]

In [40]:
# df.iloc도 2차원 (행렬) 데이터 선별 가능
df.iloc[10:21, 1:3]

        date_time  전력사용량(kWh)
10  2020-06-01 10    8116.200
11  2020-06-01 11    8104.536
12  2020-06-01 12    8088.984
13  2020-06-01 13    8102.592
14  2020-06-01 14    8088.336
15  2020-06-01 15    8076.672
16  2020-06-01 16    8032.608
17  2020-06-01 17    8013.816
18  2020-06-01 18    8029.368
19  2020-06-01 19    8028.072
20  2020-06-01 20    7994.376

In [39]:
# row와 columns을 동시에 슬라이싱 하는 속성
# df.loc[인덱스, 컬럼명]
df.loc[10:20, ['date_time', '전력사용량(kWh)']]

        date_time  전력사용량(kWh)
10  2020-06-01 10    8116.200
11  2020-06-01 11    8104.536
12  2020-06-01 12    8088.984
13  2020-06-01 13    8102.592
14  2020-06-01 14    8088.336
15  2020-06-01 15    8076.672
16  2020-06-01 16    8032.608
17  2020-06-01 17    8013.816
18  2020-06-01 18    8029.368
19  2020-06-01 19    8028.072
20  2020-06-01 20    7994.376

In [51]:
# 컬럼명 인덱싱

'전력사용량(kWh)'

In [52]:
# 컬럼명 순환

num
date_time
전력사용량(kWh)
기온(°C)
풍속(m/s)
습도(%)
강수량(mm)
일조(hr)
비전기냉방설비운영
태양광보유

In [53]:
# 컬럼명을 순환하면서 각 컬럼의 고윳값 출력

num [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60]
date_time ['2020-06-01 00' '2020-06-01 01' '2020-06-01 02' ... '2020-08-24 21'
 '2020-08-24 22' '2020-08-24 23']
전력사용량(kWh) [8179.056 8135.64  8107.128 ... 4294.08  4212.432 3975.696]
기온(°C) [17.6 17.7 17.5 17.1 17.  16.9 16.7 17.8 19.3 20.5 22.1 23.1 23.6 23.8
 24.4 22.7 21.3 19.8 18.6 17.9 17.2 16.6 16.2 15.9 15.7 15.5 14.8 15.
 16.  17.3 16.3 20.4 20.9 21.7 21.2 20.6 20.3 19.9 19.6 19.  18.4 18.3
 18.2 18.1 19.7 20.8 22.  26.1 26.8 27.9 28.2 28.1 21.  20.1 20.  22.4
 23.9 25.  26.  26.4 25.4 24.3 23.2 22.8 21.4 19.5 18.9 18.7 22.3 25.1
 26.3 27.2 27.8 28.5 28.6 25.8 21.1 20.7 19.4 19.2 24.  25.6 29.3 29.4
 30.5 30.6 29.1 27.1 25.2 24.8 23.4 27.4 28.4 28.9 28.  25.7 24.5 23.
 21.6 22.5 25.5 29.8 31.2 31.6 30.7 22.9 27.7 29.5 31.1 31.9 32.6 32.7
 32.5 30.  26.6 24.6 24.9 29.  30.3 31.  28.7 23.7 22.6 22.2 21.8 21.9
 24.2 25.9 29.2 30.2 31.3 31.4 23.3 23.5 26.5 27.3 27.  24.1 21.5 27.5
 33.1 33.  32.  29.7 26.9 19.1 18.8 20.2 30.4 29.6 24.7 27.6 29.9 25.3
 26.2 26.7 28.8 28.3 31.5 31.8 32.3 30.9 32.8 33.7 35.2 35.  31.7 30.8
 30.1 18.5 32.4 18.  32.1 32.2 16.1 15.2 14.6 14.1 13.6 13.8 13.9 13.2
 13.4 14.5 16.5 17.4 33.6 15.8 33.9 33.8 34.5 32.9 33.4 16.4 16.8 34.6
 34.1 33.5 34.7 35.6 36.3 35.5 35.3 33.3 33.2 34.8 34.9 34.2 35.1 34.4
 35.4 35.8 34.3 35.7 36.  14.  14.3 14.2 15.1 13.3 13.  12.9 12.6 14.4
 14.7 34.  15.6 15.3 12.8 11.9 12.3 15.4 11.7 12.  12.1 13.1 14.9 13.7
 13.5 11.8 12.5 12.2 11.3 11.1 11.2]
풍속(m/s) [ 2.5  2.9  3.2  3.3  3.4  2.3  2.1  3.6  4.   5.1  5.5  3.   4.4  4.1
  4.2  2.   1.6  0.8  1.1  0.4  0.9  1.3  2.2  1.4  2.6  3.1  2.4  2.7
  1.7  1.8  1.5  2.8  3.8  4.5  4.8  5.2  1.   3.5  1.9  1.2  0.6  4.3
  0.7  3.7  0.5  5.8  0.2  0.3  4.6  3.9  0.   5.3  6.5  6.1  4.7  5.6
  5.   6.3  4.9  6.7  5.9  5.4  6.9  6.4  7.9  6.6  0.1  5.7  6.   6.2
  7.4  7.5  8.  10.9  8.3 11.3 10.2  9.1 11.8  9.2  8.1  9.5  9.3  8.4
  7.3  7.7  8.2  9.4  7.6  7.   8.5  8.7 11.5 11.6 11.7 12.1 12.3 10.
  8.6  7.2  9.9  7.1  8.8 12.8 12.7  9.7  6.8 10.4  9.6  9.   7.8 10.1
  8.9 11.1 12.6 10.8 10.7 10.3 12.5 11.9 15.2 13.6 19.8 20.1 18.9 16.2
 16.6 13.3 12.  10.5  9.8 11.2 11.  12.4 10.6 18.1 13.2 14.7 17.5 17.2
 15.6 16.8 15.4 13.7 13.5 16.3 14.6 16.4 14.8 15.5 15.  12.9 13.1 13.8
 14.2]
습도(%) [ 92.   91.   93.   90.   86.   80.   73.   62.   52.   49.   42.   39.
  40.   41.   44.   51.   55.   68.   74.   77.   78.   79.   75.   71.
  65.   70.   48.   46.   58.   61.   84.   89.   87.   88.   82.   76.
  50.   60.   81.   83.   63.   66.   67.   57.   64.   72.   47.   45.
  59.   69.   56.   85.   43.   53.   38.   36.   54.   34.   29.   33.
  35.   37.   30.   27.   31.   94.   95.   96.   97.   98.   99.  100.
  22.   23.   19.   32.   28.   24.   26.   25.   72.2  85.9  86.8  88.5
  90.2  20.   97.7  97.5  97.3  97.8  94.1  94.6]
강수량(mm) [ 0.8  0.3  0.   0.1  1.9  1.   2.4  0.2  6.6  7.8  6.2  1.5  0.7  3.3
  1.2  1.7  1.6  1.1  2.   3.1  2.7  0.5  0.4  0.6  5.   5.6 13.3 10.8
  2.3 12.4 11.  10.6  1.4  1.3  2.1  2.5  1.8  3.8  3.9  2.8  5.3  3.7
  7.3 14.6  5.8  0.9  5.2  8.7 10.7 17.3 16.6  9.8 15.1 10.4  2.6  3.4
 26.9  8.  19.  11.6  3.   5.5  2.9 12.2  3.2  8.9 19.8 15.3 16.3 21.6
 11.7  6.1  6.3  6.  17.9 15.7 15.5  4.6  4.8  4.7  6.4  7.2 28.6  4.3
 18.2 19.4 21.8 14.4 22.8  4.9 16.8 22.3  5.1  7.5 26.7 18.3 10.2  5.9
  4.4  3.5  7.7 17.4  9.5 13.8 14.  18.6  5.4 24.6 51.7 20.1 23.7 54.8
 12.5  8.4  4.1  7.   9.9  4.5  8.6  7.1 13.5 16.9 48.5  8.3 10.5  9.6
 24.1 70.4  4.  12.  19.9  2.2 29.2 12.8  5.7 61.4 26.  17.  19.5 25.3
 26.3  9.2 13.2  3.6  8.5  4.2 36.3 13.7 10.1  6.7 13.4  9.1  8.1 11.2
 32.1  9.4 21.5  6.9 15.4 16.   8.8 39.1 14.7 14.5  9.3 24.4 42.6 24.7
  7.4 38.  21.3 17.7 20.5 27.5  6.5  9.   8.2  7.9 11.9 15.6 16.4 17.5
 21.9 11.1 21.  34.  12.7 27.1 14.1 13.  18.5 11.3 33.4 23.4 23.9 13.9
 17.8 14.9 24.  10.   7.6 10.9 18.1 13.6 25.  15.2 29.9 16.2 34.9 28.5
  6.8 11.4 16.7 17.6 11.8 25.7 15.  32.  21.2 31.  22.  16.5 26.5 19.1
 21.7 36.  12.1 11.5 23.3 12.3 24.9 29.3 15.8 31.5 12.9 10.3 20.8  9.7
 22.5 12.6 46.  14.3 24.2 37.5 17.1 14.8 52.2 26.6 38.1 20.  23.5 28.
 22.6 22.9 25.2 35.1 25.8 20.6 47.4 29.4 13.1 26.8 20.3 16.1 39.3 33.
 24.3 23.  25.1 50.4 43.1 27.2 20.9 24.5 34.2 38.6 30.5 21.1 26.2 48.4
 27.8 52.9 19.3 81.5 34.8 30.9 18.7 17.2 19.6 36.5 27.9 48.8 34.4 54.6
 22.4 14.2]
일조(hr) [0.  0.1 0.3 0.7 1.  0.4 0.9 0.2 0.6 0.8 0.5]
비전기냉방설비운영 [0. 1.]
태양광보유 [0. 1.]

## 팬시인덱싱 전달
기본적인 인덱싱 방법에 추가로 조건에 따른 데이터 샘플링도 가능합니다.  
넘파이의 bool 타입데이터를 인덱스로 전달받는 방법으로 조건에 다른 데이터를 선별한다면 조금 더 고차원적인 데이터 선택이 가능합니다.

In [68]:
df.loc[df['전력사용량(kWh)'] < 3000]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
2040,2,2020-06-01 00,977.184,18.3,2.5,94.0,0.0,0.0,1.0,0.0
2041,2,2020-06-01 01,966.168,18.8,2.3,89.0,0.0,0.0,1.0,0.0
2042,2,2020-06-01 02,972.972,19.0,3.2,86.0,0.0,0.0,1.0,0.0
2043,2,2020-06-01 03,965.844,19.0,4.1,85.0,0.0,0.0,1.0,0.0
2044,2,2020-06-01 04,971.676,18.9,3.9,87.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122354,60,2020-08-23 02,2839.104,23.2,2.1,85.0,0.0,0.0,1.0,1.0
122355,60,2020-08-23 03,2793.312,23.2,3.0,85.0,0.0,0.0,1.0,1.0
122356,60,2020-08-23 04,2922.048,23.0,2.2,85.0,0.0,0.0,1.0,1.0
122357,60,2020-08-23 05,2953.152,22.9,2.3,84.0,0.0,0.0,1.0,1.0
122379,60,2020-08-24 03,2931.120,24.6,1.7,82.0,0.0,0.0,1.0,1.0

In [43]:
# 조건식을 인덱스로 받는 팬시인덱싱
# 건물 번호 기준으로 한 건물에 해당하는 관측치 선별
df.loc[df['num'] == 1] # 행렬 기준으로 데이터 가져오고 리스트 문자열

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2035,1,2020-08-24 19,8714.952,29.4,3.4,66.0,0.0,0.2,0.0,0.0
2036,1,2020-08-24 20,8740.224,28.7,1.9,69.0,0.0,0.0,0.0,0.0
2037,1,2020-08-24 21,8730.504,28.3,1.1,71.0,0.0,0.0,0.0,0.0
2038,1,2020-08-24 22,8725.968,28.3,2.4,72.0,0.0,0.0,0.0,0.0
2039,1,2020-08-24 23,8705.232,28.1,2.3,73.0,0.0,0.0,0.0,0.0

In [48]:
# 전력 사용량 기준으로 15000kWh 이상 사용한 관측치 
df.loc[df['전력사용량(kWh)'] >= 15000]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
14459,8,2020-06-08 11,15177.411,27.9,1.2,53.0,0.0,1.0,1.0,1.0
14464,8,2020-06-08 16,15152.454,31.0,1.5,40.0,0.0,1.0,1.0,1.0
14482,8,2020-06-09 10,15139.800,26.7,0.9,50.0,0.0,1.0,1.0,1.0
14483,8,2020-06-09 11,15417.936,28.7,1.8,45.0,0.0,1.0,1.0,1.0
14485,8,2020-06-09 13,15177.420,30.7,1.4,36.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
16309,8,2020-08-24 13,17423.793,31.5,2.0,56.0,0.0,1.0,1.0,1.0
16310,8,2020-08-24 14,17458.137,31.4,1.9,55.0,0.0,1.0,1.0,1.0
16311,8,2020-08-24 15,17230.671,32.1,2.1,56.0,0.0,1.0,1.0,1.0
16312,8,2020-08-24 16,17300.313,32.3,1.6,54.0,0.0,1.0,1.0,1.0
16313,8,2020-08-24 17,17136.351,31.6,1.0,57.0,0.0,1.0,1.0,1.0

In [51]:
# 해당시간 데이터보다 나중에 발생한 관측치 선택 
df.loc[df['date_time'] > '2020-08-20 00']

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
1921,1,2020-08-20 01,8665.704,25.3,1.2,86.0,0.0,0.0,0.0,0.0
1922,1,2020-08-20 02,8650.800,25.1,0.5,86.0,0.0,0.0,0.0,0.0
1923,1,2020-08-20 03,8649.504,25.1,1.1,87.0,0.0,0.0,0.0,0.0
1924,1,2020-08-20 04,8629.416,25.0,1.2,88.0,0.0,0.0,0.0,0.0
1925,1,2020-08-20 05,8592.480,25.2,0.9,89.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [53]:
True and False
True or False
# and 조건 양쪽이 모두 참이면 참(동시충족) 곱연산
# or 한쪽만 충족이 되어도 참 합연산

True

In [56]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [82]:
# or 연산 | 원화표시 shift
# and 연산 &
# 조건을 2개 사용한 관측치 선택 비전기냉방설비운영, 태양광보유 한 관측치 찾기
(df['기온(°C)'] >= 30)
(df['습도(%)'] >= 90)
df.loc[(df['기온(°C)'] >= 30) | (df['습도(%)'] >= 90)]

cond1 = (df['기온(°C)'] >= 30)
cond2 = (df['습도(%)'] >= 90)
df.loc[cond1 & cond2]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
89460,44,2020-08-12 12,3408.804,30.5,3.2,92.0,0.0,0.3,1.0,1.0
115980,57,2020-08-12 12,4092.336,30.5,3.2,92.0,0.0,0.3,1.0,0.0

In [90]:
# 조건식이 아닌 특정 값 기준으로 데이터를 찾을 때
# 필터링 샘플링 하실 때 조건식보다 조금 더 편하실 수 있음
df.loc[df['num'].isin([10, 20, 30, 40, 50, 60])]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
18360,10,2020-06-01 00,417.960,18.3,2.5,94.0,0.0,0.0,1.0,0.0
18361,10,2020-06-01 01,407.592,18.8,2.3,89.0,0.0,0.0,1.0,0.0
18362,10,2020-06-01 02,404.028,19.0,3.2,86.0,0.0,0.0,1.0,0.0
18363,10,2020-06-01 03,397.548,19.0,4.1,85.0,0.0,0.0,1.0,0.0
18364,10,2020-06-01 04,397.224,18.9,3.9,87.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [94]:
# contains로 전달하는 문자열이 포함되면 True
df.loc[df['date_time'].str.contains('08-24 00')]
# 커머스쪽 굉장히 잘 사용합니다

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
2016,1,2020-08-24 00,8580.816000,24.3,0.2,80.0,0.0,0.0,0.0,0.0
4056,2,2020-08-24 00,1039.716000,25.7,0.5,79.0,0.0,0.0,1.0,0.0
6096,3,2020-08-24 00,3367.722353,23.6,0.2,93.0,0.0,0.0,1.0,1.0
8136,4,2020-08-24 00,335.232000,25.9,1.1,78.0,0.0,0.0,1.0,1.0
10176,5,2020-08-24 00,3138.048000,25.7,0.5,79.0,0.0,0.0,1.0,0.0
12216,6,2020-08-24 00,575.100000,23.6,0.2,93.0,0.0,0.0,0.0,0.0
14256,7,2020-08-24 00,1449.657000,24.3,0.2,80.0,0.0,0.0,1.0,0.0
16296,8,2020-08-24 00,6440.742000,24.1,1.4,89.0,0.0,0.0,1.0,1.0
18336,9,2020-08-24 00,1262.304000,23.6,0.1,99.0,0.0,0.0,0.0,1.0
20376,10,2020-08-24 00,442.584000,25.7,0.5,79.0,0.0,0.0,1.0,0.0
22416,11,2020-08-24 00,623.376000,25.7,0.5,79.0,0.0,0.0,0.0,0.0
24456,12,2020-08-24 00,522.288000,24.5,0.9,80.0,0.0,0.0,1.0,1.0
26496,13,2020-08-24 00,952.560000,25.4,0.9,81.0,0.0,0.0,1.0,0.0
28536,14,2020-08-24 00,1339.470000,28.2,1.4,74.0,0.0,0.0,1.0,1.0
30576,15,2020-08-24 00,3051.270000,23.6,0.2,93.0,0.0,0.0,1.0,0.0
32616,16,2020-08-24 00,1500.768000,25.0,0.0,89.0,0.0,0.0,1.0,1.0
34656,17,2020-08-24 00,525.690000,24.3,0.2,80.0,0.0,0.0,1.0,0.0
36696,18,2020-08-24 00,1453.329000,23.6,0.2,93.0,0.0,0.0,0.0,0.0
38736,19,2020-08-24 00,919.026000,25.7,0.5,79.0,0.0,0.0,0.0,0.0
40776,20,2020-08-24 00,1422.306000,24.3,0.2,80.0,0.0,0.0,0.0,0.0
42816,21,2020-08-24 00,1571.076000,24.3,0.2,80.0,0.0,0.0,0.0,1.0
44856,22,2020-08-24 00,1095.768000,25.5,0.2,88.0,0.0,0.0,1.0,0.0
46896,23,2020-08-24 00,2412.936000,25.5,0.2,88.0,0.0,0.0,0.0,1.0
48936,24,2020-08-24 00,2992.032000,23.6,0.2,93.0,0.0,0.0,1.0,1.0
50976,25,2020-08-24 00,1149.552000,23.6,0.2,93.0,0.0,0.0,1.0,0.0
53016,26,2020-08-24 00,2568.557647,24.8,0.0,87.0,0.0,0.0,0.0,1.0
55056,27,2020-08-24 00,519.210000,22.4,0.5,92.0,0.0,0.0,1.0,1.0
57096,28,2020-08-24 00,1930.716000,25.7,0.5,79.0,0.0,0.0,1.0,0.0
59136,29,2020-08-24 00,458.784000,24.1,1.5,98.0,2.3,0.0,0.0,0.0
61176,30,2020-08-24 00,6215.616000,26.4,3.7,91.0,0.0,0.0,1.0,1.0
63216,31,2020-08-24 00,5930.928000,24.3,0.2,80.0,0.0,0.0,1.0,0.0
65256,32,2020-08-24 00,2396.520000,23.6,0.2,93.0,0.0,0.0,0.0,0.0
67296,33,2020-08-24 00,2442.744000,25.5,0.2,88.0,0.0,0.0,1.0,0.0
69336,34,2020-08-24 00,633.420000,24.3,0.2,80.0,0.0,0.0,1.0,1.0
71376,35,2020-08-24 00,663.552000,24.5,0.9,80.0,0.0,0.0,1.0,0.0
73416,36,2020-08-24 00,1112.184000,26.5,0.8,87.0,0.0,0.0,0.0,1.0
75456,37,2020-08-24 00,1729.701000,22.6,0.6,83.0,0.0,0.0,1.0,1.0
77496,38,2020-08-24 00,3679.200000,24.3,0.2,80.0,0.0,0.0,1.0,1.0
79536,39,2020-08-24 00,1785.163640,25.8,0.7,78.0,0.0,0.0,1.0,1.0
81576,40,2020-08-24 00,1892.142000,25.5,0.2,88.0,0.0,0.0,1.0,1.0
83616,41,2020-08-24 00,377.298000,23.6,0.2,93.0,0.0,0.0,1.0,0.0
85656,42,2020-08-24 00,3155.004000,24.5,0.9,80.0,0.0,0.0,1.0,1.0
87696,43,2020-08-24 00,1224.936000,26.2,1.1,73.0,0.0,0.0,1.0,1.0
89736,44,2020-08-24 00,2387.880000,25.8,0.6,97.0,0.0,0.0,1.0,1.0
91776,45,2020-08-24 00,1118.664000,23.6,0.2,93.0,0.0,0.0,0.0,1.0
93816,46,2020-08-24 00,744.336000,24.3,0.2,80.0,0.0,0.0,1.0,0.0
95856,47,2020-08-24 00,1350.381176,24.3,0.2,80.0,0.0,0.0,1.0,1.0
97896,48,2020-08-24 00,409.230000,24.5,0.9,80.0,0.0,0.0,0.0,0.0
99936,49,2020-08-24 00,1283.992941,24.3,0.2,80.0,0.0,0.0,0.0,0.0
101976,50,2020-08-24 00,1181.088000,25.7,0.5,79.0,0.0,0.0,0.0,0.0
104016,51,2020-08-24 00,1606.068000,24.3,0.2,80.0,0.0,0.0,0.0,1.0
106056,52,2020-08-24 00,3071.790000,24.3,0.2,80.0,0.0,0.0,1.0,1.0
108096,53,2020-08-24 00,1095.606000,25.5,0.2,88.0,0.0,0.0,1.0,0.0
110136,54,2020-08-24 00,5856.624000,23.6,0.2,93.0,0.0,0.0,1.0,0.0
112176,55,2020-08-24 00,1556.064000,24.3,0.2,80.0,0.0,0.0,1.0,1.0
114216,56,2020-08-24 00,516.780000,22.7,0.3,98.0,0.0,0.0,0.0,1.0
116256,57,2020-08-24 00,2735.424000,25.8,0.6,97.0,0.0,0.0,1.0,0.0
118296,58,2020-08-24 00,604.260000,24.3,0.2,80.0,0.0,0.0,1.0,0.0
120336,59,2020-08-24 00,920.808000,23.2,0.1,96.0,0.0,0.0,1.0,0.0
122376,60,2020-08-24 00,3050.352000,24.5,0.9,80.0,0.0,0.0,1.0,1.0

In [96]:
# 랜덤한 샘플의 수 혹은 비율에 따른 선별 방법
df.sample(frac=0.2) # n=갯수, frac=비율

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
103731,51,2020-08-12 03,1157.490000,23.8,1.3,94.0,0.0,0.0,0.0,1.0
96744,48,2020-07-07 00,582.552000,22.4,1.7,81.0,0.0,0.0,0.0,0.0
55423,28,2020-06-15 07,1769.040000,21.6,2.2,70.0,0.0,0.7,1.0,0.0
81470,40,2020-08-19 14,4757.658429,33.2,1.4,62.0,0.0,1.0,1.0,1.0
92539,46,2020-07-01 19,1854.576000,23.7,2.5,71.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
120502,60,2020-06-06 22,3203.712000,19.4,4.0,85.0,0.0,0.0,1.0,1.0
34444,17,2020-08-15 04,519.210000,25.8,2.6,96.0,0.5,0.0,1.0,0.0
68870,34,2020-08-04 14,1423.980000,28.5,5.3,83.0,0.0,0.0,1.0,1.0
86704,43,2020-07-13 16,2285.280000,22.0,1.8,72.0,0.0,0.0,1.0,1.0
71749,36,2020-06-15 13,1303.128000,24.8,3.3,81.0,0.0,0.5,0.0,1.0

## 집계값 계산

In [112]:
print(df.loc[df['num'] == 1, '전력사용량(kWh)'].mean())
print(df.loc[df['num'] == 10, '전력사용량(kWh)'].mean())

8543.273488235294
1427.1640686279413

In [107]:
# 전력사용량 기준 집계값 계산
# 평균, 합, 최대값, 최소값, 평균, 분산
print(df['전력사용량(kWh)'].mean()) # 평균
print(df['전력사용량(kWh)'].sum())
print(df['전력사용량(kWh)'].std()) # 표준편차
print(df['전력사용량(kWh)'].var()) # 분산
print(df['전력사용량(kWh)'].max())
print(df['전력사용량(kWh)'].min())
print(df['전력사용량(kWh)'].argmax()) # 최대값의 인덱스를 출력
print(df['전력사용량(kWh)'].argmin())
print(df['전력사용량(kWh)'].unique()) # 고윳값 출력 (카테고리컬 데이터의 경우 중요한)
print(df['전력사용량(kWh)'].nunique()) # 고윳값 갯수 출력

2324.830865868444
284559297.98229754
2058.999325845112
4239478.223830625
17739.225
0.0
16166
54684
[8179.056 8135.64  8107.128 ... 4294.08  4212.432 3975.696]
52894

In [119]:
df.iloc[df['전력사용량(kWh)'].nsmallest().index]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
54684,27,2020-08-08 12,0.0,23.0,2.1,88.0,0.3,0.0,1.0,1.0
54685,27,2020-08-08 13,0.0,22.4,1.4,93.0,6.6,0.0,1.0,1.0
54686,27,2020-08-08 14,0.0,23.0,3.2,91.0,5.5,0.0,1.0,1.0
54687,27,2020-08-08 15,0.0,23.5,0.7,95.0,1.0,0.0,1.0,1.0
54688,27,2020-08-08 16,0.0,23.7,1.4,95.0,0.3,0.0,1.0,1.0

In [124]:
# 컬럼 값 기준 가장 큰, 작은 값을 가진 샘플 확인 nlargest
# 연속형데이터 적용
df['전력사용량(kWh)'].nlargest()
# 컬럼 값 기준으로 가장 작은 값 nsmallest
df['전력사용량(kWh)'].nsmallest(10).index

Int64Index([54684, 54685, 54686, 54687, 54688, 55044, 6343, 55018, 6463, 6319], dtype='int64')

In [122]:
# 카테고리컬 데이터 value_counts()
# 대상데이터의 고윳값을 카운트 하고 내림차순으로 정렬
df['비전기냉방설비운영'].value_counts()

1.0    83640
0.0    38760
Name: 비전기냉방설비운영, dtype: int64

## 데이터 재구조화
기존의 데이터 샘플링과는 달리 기준점으로 생각할 수 있는 컬럼 값을 기준으로 새롭게 데이터 프레임을 생성하며  
평균, 합, 카운트 등을 통해 데이터를 다차원적으로 분석 할 수 있는 함수를 제공합니다.
> 기준 변수(컬럼)가 한개 일 경우
>> **`df`**.**`groupby('컬럼명')`**.**`agg(집계방법)`**  

> 기준 변수(컬럼)가 두개 이상일 경우  
>>  **`pd`**.**`pivot_table(data=데이터프레임명, index=기준컬럼1, columns=기준컬럼2, values=집계데이터, aggfunc=집계방법)`**  

>> 적용가능한 통계 함수

| 함수명 | 내용 |
|-|-|
| count | 갯수 |
| sum | 합 |
| mean | 평균 |
| median | 중앙값 |
| var, std | 분산, 표준편차 |
| min, max | 최소값, 최대값 |
| unique, nunique | 고윳값, 고윳값 갯수 |
| prod | 곱 |

In [140]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [144]:
### groupby 카테고리컬 데이터 기준으로 사용하는 경우가 많음
df.groupby('num').mean(numeric_only=True)['전력사용량(kWh)']
df.groupby('num', as_index=False).agg({'전력사용량(kWh)':['mean', 'max'],
                                       '기온(°C)': ['median', 'var']}, 
                                      numeric_only=True)

   num   전력사용량(kWh)               기온(°C)
               mean           max median        var
0    1  8543.273488   8827.704000   24.6  10.678077
1    2  1299.914365   2165.292000   23.4   9.565497
2    3  3371.353699   3957.457500   24.3  11.511645
3    4   763.997353   2385.504000   24.8  17.903716
4    5  2714.509694   3890.160000   23.4   9.565497
5    6  1184.129868   3028.320000   24.3  11.511645
6    7  1527.138356   2833.461000   24.6  10.678077
7    8  8837.364073  17739.225000   24.1  11.719774
8    9  1256.884880   1352.592000   23.9  15.997424
9   10  1427.164069   3186.864000   23.4   9.565497
10  11  2391.372635   5943.888000   23.4   9.565497
11  12  1748.853338   4253.904000   23.6   8.539124
12  13  1089.115200   1893.456000   24.2  12.470780
13  14  1770.616219   2767.230000   24.6  15.050937
14  15  2198.973266   3515.238000   24.3  11.511645
15  16  1660.828447   2086.236000   24.0  13.181044
16  17  1019.795029   1901.610000   24.6  10.678077
17  18  1797.636244   3650.157000   24.3  11.511645
18  19   827.193587   1845.180000   23.4   9.565497
19  20  1463.527203   2697.300000   24.6  10.678077
20  21  1662.093794   2949.696000   24.6  10.678077
21  22  1203.965894   2099.844000   24.7  12.062690
22  23  1884.175209   3846.447000   24.7  12.062690
23  24  3114.640165   4208.976000   24.3  11.511645
24  25  1519.179927   3085.128000   24.3  11.511645
25  26  2987.688676   5548.824000   24.0  14.796090
26  27   666.142241   1482.300000   23.7  13.111513
27  28  2264.569571   3586.572000   23.4   9.565497
28  29   861.074248   1685.610000   23.5  14.165775
29  30  5761.224314   9802.080000   23.3  10.427739
30  31  5964.317576   6616.944000   24.6  10.678077
31  32  2402.439671   2559.384000   24.3  11.511645
32  33  2576.495435   2877.552000   24.7  12.062690
33  34   900.586521   2317.248000   24.6  10.678077
34  35  1299.956933   3984.336000   23.6   8.539124
35  36  1093.786776   1708.776000   23.9  10.965395
36  37  1992.514160   3192.435000   24.2  11.195896
37  38  7588.679824  12824.280000   24.6  10.678077
38  39  1858.357760   3175.916375   24.4  12.151600
39  40  2597.993842   4905.684000   24.7  12.062690
40  41  1255.038925   2338.794000   24.3  11.511645
41  42  3624.592027   6917.832000   23.6   8.539124
42  43  1838.532282   3083.832000   25.1  11.654614
43  44  2487.588618   3644.352000   24.6  11.931881
44  45  1380.596589   2110.212000   24.3  11.511645
45  46  1841.530091   3404.160000   24.6  10.678077
46  47  2137.956044   3630.096000   24.6  10.678077
47  48  1143.003467   3364.020000   23.6   8.539124
48  49  1168.672804   2350.620000   24.6  10.678077
49  50  1065.012348   2208.600000   23.4   9.565497
50  51  1705.039200   3070.386000   24.6  10.678077
51  52  3779.359279   5754.240000   24.6  10.678077
52  53  1423.925921   2799.198000   24.7  12.062690
53  54  6839.836376   9331.200000   24.3  11.511645
54  55  2088.306878   4005.072000   24.6  10.678077
55  56   688.120412   1737.936000   23.5  12.318131
56  57  2589.972801   4860.000000   24.6  11.931881
57  58   913.814029   1355.778000   24.6  10.678077
58  59  1070.658348   2229.120000   23.0  15.882585
59  60  3354.771964   4549.392000   23.6   8.539124

In [145]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [147]:
# pivot_table
# 변수가 2개인 경우 변수하나는 인덱스, 하나는 컬럼, 집계값 계산 데이터를 데이터프레임에 표시
pd.pivot_table(data=df,
               values='전력사용량(kWh)',
               index='비전기냉방설비운영',
               columns='태양광보유',
               aggfunc='mean')

태양광보유              0.0          1.0
비전기냉방설비운영
0.0        2077.030506  1582.298192
1.0        2101.993590  2949.726621

## 데이터로 부터 의미있는 정보 추출하기

In [128]:
# 건물번호 10번의 총 전력사용량
df.loc[df['num'] == 10, '전력사용량(kWh)'].sum()

2911414.7000010004

In [132]:
# 기온이 30도 이상인 관측치의 전력사용량 평균
df.loc[df['기온(°C)'] >= 30, '전력사용량(kWh)'].mean()

2901.692666127581

In [154]:
# 평균 전력사용량이 높은 건물번호 순서대로 5개 나열 .nlargest(5, '전력사용량(kWh)')
# 작업을 단위단위 쪼개는 연습이 많이 필요합니다.
df.groupby('num').mean().nlargest(5, '전력사용량(kWh)')
df.groupby('num').agg({'전력사용량(kWh)':'mean'})['전력사용량(kWh)'].sort_values(ascending=False).head()
# sort_values 값기준 정렬, 오름차순

num
8     8837.364073
1     8543.273488
38    7588.679824
54    6839.836376
31    5964.317576
Name: 전력사용량(kWh), dtype: float64

## 데이터프레임 병합
> 실제 분석업무를 진행하다보면 데이터가 여기저기 분산되어 있을 경우가 더 많습니다.  
조각난 데이터를 분석에 필요한 데이터셋으로 만들기 위해 데이터프레임 병합을 많이 사용합니다.  
한개 이상의 데이터프레임을 병합 할 때 주로 사용하는 함수 2가지를 알아보겠습니다.

### 데이터 병합에 사용가능한 key(병합할 기준이 되는 행 or 열)값이 있는경우
> **`pd`**.**`merge(베이스데이터프레임, 병합할데이터프레임)`**

>> 사용가능한 파라메터
>> - how : 'left', 'right', 'inner', 'outer'
>> - left_on : key값이 다를 경우 베이스데이터프레임의 key 설정
>> - right_on : key값이 다를 경우 병합데이터프레임의 key 설정

In [166]:
merge_df1 = pd.DataFrame({
    '이름': ['원영', '사쿠라', '유리', '예나', '유진', '나코', '은비', '혜원', '히토미', '채원', '민주', '째욘'],
    '국어': [100, 70, 70, 70, 60, 90, 90, 70, 70, 80, 100, 100],
    '영어': [100, 90, 80, 50, 70, 100, 70, 90, 100, 100, 80, 100]
    }, columns=['이름', '국어', '영어'])

merge_df2 = pd.DataFrame({
    '일어': [80, 100, 100, 90, 70, 50, 100],
    '수학': [90, 70, 100, 80, 70, 80, 90],
    'name': ['원영', '사쿠라', '나코', '히토미', '예나', '은비', '째욘'],
    }, columns=['일어', '수학', 'name'])

In [167]:
merge_df2

    일어   수학 name
0   80   90   원영
1  100   70  사쿠라
2  100  100   나코
3   90   80  히토미
4   70   70   예나
5   50   80   은비
6  100   90   째욘

In [169]:
# merge 테스트
pd.merge(merge_df1, merge_df2, how='right', left_on='이름', right_on='name') # 'left', 'right', 'inner', 'outer'
# 기본설정으로 merge가 진행되면 양쪽 데이터프레임에 key값에 해당하는 데이터가 모두 있는 경우만 병합 inner

    이름   국어   영어   일어   수학 name
0   원영  100  100   80   90   원영
1  사쿠라   70   90  100   70  사쿠라
2   나코   90  100  100  100   나코
3  히토미   70  100   90   80  히토미
4   예나   70   50   70   70   예나
5   은비   90   70   50   80   은비
6   째욘  100  100  100   90   째욘

### 단순 데이터 연결
> **`pd`**.**`concat([베이스데이터프레임, 병합할데이터프레임], axis=0 or 1)`**  
현재 df에 저장되어있는 데이터에 추가로 데이터를 이어붙여보겠습니다.  
df1 이라는 변수에 이어붙일 데이터를 불러들여 병합을 진행해보겠습니다.

In [174]:
df.tail()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [170]:
df1 = pd.read_csv('./data/energy2.csv', encoding='cp949')
df1.head()

,num,date_time,기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
0,1,2020-08-25 00,27.8,1.5,74.0,0.0,0.0,NaN,NaN
1,1,2020-08-25 01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-08-25 02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-08-25 03,27.3,1.1,78.0,NaN,0.0,NaN,NaN
4,1,2020-08-25 04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [179]:
df.columns, df1.columns

(Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
        '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
       dtype='object'),
 Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
        '강수량(mm, 6시간)', '일조(hr, 3시간)', '비전기냉방설비운영', '태양광보유'],
       dtype='object'))

In [178]:
df.shape, df1.shape

((122400, 10), (10080, 10))

In [181]:
# concat병합은 데이터를 그대로 이어붙이기 때문에 컬럼 순서나 shape이 동일한지 확인 해야 합니다.
# 모두 참이여야 참
df.columns = df1.columns # 간단하게 처리

In [186]:
# 변수의 순서와 변수명을 한번에 검증하는 코드
(df.columns == df1.columns).all() # 모두 참이여야 참
(df.columns == df1.columns).any() # 하나라도 참이면 참
(df.columns == df1.columns).sum() # 하나라도 참이면 참

10

In [177]:
# 전력사용량 변수 동일 위치에 추가
df1.insert(2, '전력사용량(kWh)', 0) # 위치, 이름, 데이터

In [199]:
# concat test
concat_df = pd.concat([df, df1], ignore_index=True)
# 데이터를 행기준으로 이어붙이는 작업
# axis=0 행기준 병합(기본설정), axis=1 열기준 병합
# ignore_index= 기존인덱스를 버리고 인덱스리셋 옵션

In [200]:
concat_df

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
132475,60,2020-08-31 19,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132476,60,2020-08-31 20,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132477,60,2020-08-31 21,0.000,27.9,4.1,68.0,NaN,0.0,1.0,1.0
132478,60,2020-08-31 22,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132479,60,2020-08-31 23,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 인덱스 편집
> 방금 전 concat으로 병합한 데이터프레임의 이상한 점을 찾으셨나요?  
데이터 자체는 잘 붙였지만 인덱스가 꼬여있습니다.  
인덱스 조작은 데이터분석을 위해 필요한 인덱스를 설정하기 위해 필요합니다.

In [196]:
# 코드 실행 결과를 저장하지 않고 미리 보는 작업을 뷰를 본다
# 인덱스 초기화
# 기존에 엉켜있던 인덱스는 지우고 원본값을 변경하는 매개변수를 추가
concat_df.reset_index(drop=True, inplace=True)
# drop=원본인덱스 삭제, inplace=원본데이터에 적용

In [198]:
# 기존 컬럼값을 취해 index로 사용
concat_df.set_index('date_time')

,num,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
date_time,,,,,,,,,
2020-06-01 00,1,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
2020-06-01 01,1,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2020-06-01 02,1,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
2020-06-01 03,1,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
2020-06-01 04,1,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2020-08-31 19,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 20,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 21,60,0.000,27.9,4.1,68.0,NaN,0.0,1.0,1.0
2020-08-31 22,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 23,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 컬럼 편집
> 인덱스 조작과 마찬가지로 데이터프레임의 컬럼을 변경해야 할 경우도 있습니다.  
데이터프레임은 컬럼단위 샘플링 및 인덱싱, 이름변경이 가능합니다.

In [204]:
# 컬럼명 변경
# 데이터분석 시 한글 변수사용 X, 영어로 변환
concat_df.rename({'전력사용량(kWh)':'전력사용량',
                  '기온(°C)':'기온',
                  '풍속(m/s)':'풍속',
                  '습도(%)':'습도',
                  '강수량(mm, 6시간)':'강수량',
                  '일조(hr, 3시간)':'일조'},
                  axis=1, inplace=True)
# axis=1 작업방향 설정 열방향 작업

In [207]:
# 변수 생성
concat_df['test'] = 1 # 브로드캐스팅 연산 벡터 연산
concat_df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,test
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,1
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,1
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,1
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,1
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,1

In [211]:
concat_df['전력X10'] = concat_df['전력사용량'] * 10
concat_df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,test,전력X10
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,1,81790.56
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,1,81356.40
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,1,81071.28
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,1,80488.08
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,1,80436.24

In [214]:
concat_df['우천'] = concat_df['습도'] >= 90
concat_df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,test,전력X10,우천
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,1,81790.56,True
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,1,81356.40,True
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,1,81071.28,True
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,1,80488.08,True
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,1,80436.24,True

In [220]:
# 변수생성 기온 + 습도 - 풍속 - 강수량 + 일조 ['쾌적함']변수로 생성
concat_df['쾌적합'] = concat_df['기온'] + concat_df['습도'] - concat_df['풍속'] - concat_df['강수량'] + concat_df['일조']

In [221]:
concat_df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,test,전력X10,우천,쾌적합
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,1,81790.56,True,106.3
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,1,81356.40,True,105.5
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,1,81071.28,True,105.3
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,1,80488.08,True,104.9
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,1,80436.24,True,105.7

In [222]:
# 컬럼삭제
del concat_df['test']
concat_df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력X10,우천,쾌적합
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,81790.56,True,106.3
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,81356.40,True,105.5
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,81071.28,True,105.3
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,80488.08,True,104.9
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,80436.24,True,105.7

In [224]:
concat_df.drop('전력X10', axis=1, inplace=True)

In [227]:
# 두가지 작업을 동시에 
# 1. 원본데이터에서 해당 변수를 빼오는 작업
# 2. 빼온 데이터를 변수로 저장이 가능
pop_test = concat_df.pop('쾌적합')

In [230]:
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132480 entries, 0 to 132479
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        132480 non-null  int64
 1   date_time  132480 non-null  object
 2   전력사용량      132480 non-null  float64
 3   기온         125760 non-null  float64
 4   풍속         125760 non-null  float64
 5   습도         125760 non-null  float64
 6   강수량        124080 non-null  float64
 7   일조         125760 non-null  float64
 8   비전기냉방설비운영  124696 non-null  float64
 9   태양광보유      124024 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 10.1+ MB

In [245]:
# 변수의 형변환 --> 작업결과만 확인
concat_df['num'] = concat_df['num'].astype(object)
concat_df['num'] = concat_df['num'].astype(int)

In [246]:
# 데이터타입에 따른 변수 선별
concat_df.select_dtypes(object)

            date_time
0       2020-06-01 00
1       2020-06-01 01
2       2020-06-01 02
3       2020-06-01 03
4       2020-06-01 04
...               ...
132475  2020-08-31 19
132476  2020-08-31 20
132477  2020-08-31 21
132478  2020-08-31 22
132479  2020-08-31 23

[132480 rows x 1 columns]

### apply 함수로 컬럼에 함수 적용
> 인스턴스 함수인 lambda 와 apply 함수를 사용하여 인자로 받는 모든 데이터에 함수를 적용  
커스텀 함수 적용도 가능

> apply 함수로 컬럼에 적용시키는 코드 구조  
 **`df['컬럼명']`** = **`df['컬럼명']`**.**`apply(lambda x: func(x) if 조건문)`**  
 **`df['컬럼명']`** = **`df['컬럼명']`**.**`apply(함수명)`**

In [248]:
# 함수의 형태
# y = f(x)
def make_square(x):
    # 네칸의 공백 -- 인덴테이션 블락 파이썬에서 코드의 구분을 나누어주는 개념
    return x ** 2
# make_square라는이름의 함수를 정의하고 수행할 코드를 메모리 저장

In [252]:
make_square(7)

49

In [257]:
# 커스텀함수를 변수값에 적용
concat_df['기온X기온'] = concat_df['기온'].apply(make_square)

In [260]:
# 화씨변환 함수를 제작하고 화씨변수를 concat_df 추가 해 보세요
# (0°C × 9/5) + 32
# 화씨 변환 함수
def make_f(x):
    return (x * (9 / 5)) + 32

In [265]:
concat_df['화씨'] = concat_df['기온'].apply(make_f)

In [266]:
concat_df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,기온X기온,화씨
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,309.76,63.68
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,313.29,63.86
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,306.25,63.50
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,292.41,62.78
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,289.00,62.60

In [273]:
# 조건식 if 내가 설정한 조건에 따라 코드의 흐름을 나누어주는 분기문
# 코드의 실행은 조건 하나에서만 실행
if True: # 만약 조건식이 참이라면
    print('참입니다.') # if문에 속한 실행코드가 실행되는 구조
elif True: # 위의 조건이 거짓이면서 elif 조건이 참이라면
    print('두번째 참입니다.') # elif 실행구문이 실행
else: # else조건문 없음
    print('모두 거짓입니다.')

참입니다.

In [282]:
concat_df['습도2'] = concat_df['습도'].apply(make_humit)

In [284]:
concat_df.to_csv('./data/concat_df.csv', index=False)

In [275]:
# 습도 80이상이면 다습, 40~80 보통, 40이하면 건조
def make_humit(x):
    if x >= 80:
        return '다습'
    elif (x >= 40) & (x < 80):
        return '보통'
    else:
        return '건조'

In [198]:
# numpy의 브로드캐스팅 연산은 벡터, 스칼라등 shape이 다른 데이터의 연산을 지원
# 연산을 수행할 때 연산은 한번만 함수를 적용?
# 판다스에서 브로드캐스팅 함수 적용을 위한 메소드가 apply

### 날짜 형식 데이터의 활용

In [227]:
# 문자형식 데이터를 날짜형식으로 형변환

In [231]:
# datetime 데이터 타입의 요일정보를 변수로 추가

### 데이터 범주화
간혹 연속형 데이터를 범주화(카테고리컬 데이터) 시켜야 할 경우가 있습니다.  
범주화를 위한 함수를 알아보겠습니다.

0          저온
1          저온
2          저온
3          저온
4          저온
         ...
132475    NaN
132476    NaN
132477     고온
132478    NaN
132479    NaN
Name: 기온, Length: 132480, dtype: category
Categories (2, object): ['저온' < '고온']

## 결측치 처리
> 데이터 분석을 위해서는 데이터셋 내에 빈 값이 있는 경우 분석에 방해가 될 수 있는 여지가 많습니다.  
모든 결측치를 없애야 하는 것은 아니지만 되도록이면 결측치를 채우는 방법, 혹은 없애는 방법등으로 결측치를 처리합니다.  
몇가지 예시를 살펴보면서 결측치 처리에 대해 알아봅시다.

In [232]:
# info() 함수는 결측치에 대한 정보도 보여줍니다.
# 컬럼별 isnull() 함수를 사용해도 무방합니다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132480 entries, 0 to 132479
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        132480 non-null  int64
 1   date_time  132480 non-null  datetime64[ns]
 2   전력사용량      122400 non-null  float64
 3   기온         125760 non-null  float64
 4   풍속         125760 non-null  float64
 5   습도         125760 non-null  float64
 6   강수량        124080 non-null  float64
 7   일조         125760 non-null  float64
 8   비전기냉방설비운영  124696 non-null  float64
 9   태양광보유      124024 non-null  float64
 10  전력사용량(Wh)  122400 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 11.1 MB

확인결과 num, date_time 변수를 제외 한 다른 변수에 결측치가 존재합니다.  
해당 컬럼의 결측치 샘플들을 살펴보고 결측치를 처리해 보겠습니다.

In [233]:
# 컬럼별 결측치 확인을 위한 isnull()함수 리턴값이 bool 형태로 반환되어 조건부 샘플링이 가능합니다.

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력사용량(Wh)
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
132475,False,False,True,True,True,True,True,True,True,True,True
132476,False,False,True,True,True,True,True,True,True,True,True
132477,False,False,True,False,False,False,True,False,False,False,True
132478,False,False,True,True,True,True,True,True,True,True,True
132479,False,False,True,True,True,True,True,True,True,True,True

### 결측치 비율 계산

In [235]:
# 컬럼명을 순환하면서 결측치 비율 계산

num 0.0
date_time 0.0
전력사용량 0.08235294117647059
기온 0.054901960784313725
풍속 0.054901960784313725
습도 0.054901960784313725
강수량 0.06862745098039216
일조 0.054901960784313725
비전기냉방설비운영 0.06359477124183006
태양광보유 0.06908496732026144
전력사용량(Wh) 0.08235294117647059

In [239]:
# fillna() 함수로 NaN 값을 컬럼의 평균으로 채우기

0         17.60000
1         17.70000
2         17.50000
3         17.10000
4         17.00000
            ...
132475    24.34667
132476    24.34667
132477    27.90000
132478    24.34667
132479    24.34667
Name: 기온, Length: 132480, dtype: float64

### 결측치 제거

In [240]:
# 마지막에 합니다.

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력사용량(Wh)
0,1,2020-06-01 00:00:00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,8179056.0
1,1,2020-06-01 01:00:00,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,8135640.0
2,1,2020-06-01 02:00:00,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,8107128.0
3,1,2020-06-01 03:00:00,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,8048808.0
4,1,2020-06-01 04:00:00,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,8043624.0
...,...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19:00:00,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0,4114368.0
122396,60,2020-08-24 20:00:00,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0,3975696.0
122397,60,2020-08-24 21:00:00,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0,3572208.0
122398,60,2020-08-24 22:00:00,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0,3299184.0
122399,60,2020-08-24 23:00:00,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0,3204576.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122400 entries, 0 to 122399
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        122400 non-null  int64
 1   date_time  122400 non-null  datetime64[ns]
 2   전력사용량      122400 non-null  float64
 3   기온         122400 non-null  float64
 4   풍속         122400 non-null  float64
 5   습도         122400 non-null  float64
 6   강수량        122400 non-null  float64
 7   일조         122400 non-null  float64
 8   비전기냉방설비운영  122400 non-null  float64
 9   태양광보유      122400 non-null  float64
 10  전력사용량(Wh)  122400 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 11.2 MB

이제 모든 컬럼에 결측치가 사라졌습니다. 이후 분석은 시각화를 통해 진행해보겠습니다.