# Pandas
> 데이터 과학자를 위해 테이블형태로 데이터를 다룰 수 있게 해주는 패키지 (python용 엑셀)  
기존 데이터처리 라이브러리인 numpy 대신 주로 사용  
일반인이 데이터분석을 접하기 쉽게 만들어준 결정적인 라이브러리  
pandas만으로도 충분히 데이터 분석이 가능할 정도로 고수준의 함수들을 내장  
앞으로 진행하는 데이터분석 과정에서 주로 사용하게 될 데이터구조

## pandas 설치
> 콘솔창에서 실행 시  
**pip install pandas**
    
> 주피터 노트북으로 실행 시  
 **!pip install pandas**
    
> 아나콘다 환경으로 python 환경설정 시 기본적으로 설치가 되어있음

In [ ]:
# 아나콘다 환경은 데이터분석가들이 자주 사용하는 패키지, 모듈을 포함한 파이썬 분석환경 플랫폼
# 설치가 쉽고, 단점 무거움(프로그램이 크다)

In [2]:
# pandas 설치
# 주피터노트북 내부에서 실행가능하도록 만들어주는 매직명령어 !
!pip install pandas

Requirement already satisfied: pandas in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (1.4.0)
Requirement already satisfied: numpy>=1.20.0 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [38]:
# 필요 모듈 import
# 주피터노트북상에 해당 패키지를 불러들이는 작업
import pandas as pd # 판다스(패키지, 모듈, 라이브러리) 를 불러들여 pd라는 닉네임(약자로) 사용하겠다.
from sklearn.model_selection import train_test_split
# 패키지 import from ~ 어느 패키지에서 불러들일지 지정

In [6]:
# !pip install pyttsx3
import pyttsx3
engine = pyttsx3.init()
engine.say("수강생여러분.")
engine.say("파이썬 공부하느라 고생하십니다.")
engine.say("파이썬으로 이런것도 가능해요")
engine.say("하지만 이해못해도 괜챦아요.")
engine.say("왜냐하면 우리는 가져다 쓸꺼니까요. 찡긋")
engine.runAndWait()
# 텍스트데이터를 --> 음성

## DataFrame 데이터 불러오기
> 엑셀에 익숙한 사용자를 위해 제작 된 테이블형태의 데이터 구조  
다양한 형태의 데이터를 받아 사용할 수 있으며 다양한 통계, 시각화 함수를 제공한다.  
실제 데이터를 불러들이고 값을 확인 해 보며 기본적인 pandas 사용법을 익혀보도록 하겠습니다.

### 데이터 불러오기
pandas는 다양한 데이터 파일 형태를 지원하며 주로 csv, xlsx, sql을 사용한다.
    
> **`read_csv()`**  
**`read_excel()`**  
**`read_sql()`**  
**`read_json()`**

### csv 파일 로딩

In [7]:
pwd

'/Users/byun/0_lecture/08_samsung_preprocessing/2023_preprocessing_8'

In [9]:
pd.read_csv?

In [39]:
# DataFrame 의 약자로서 형식적으로 df변수명을 사용한다.
# pandas패키지의 read_csv() 함수를 사용하여 energy1.csv 파일을 불러들여 
# 데이터프레임을 만들고 df 이름의 변수로 저장
df = pd.read_csv('./data/energy1.csv', encoding='cp949') # 문자열 형식으로 파일을 전달 경로 + 파일명 + 확장자
df

# 인코딩, 디코딩, 웹표준 utf-8 인코딩 방법, cp949 예전 윈도우 OS, 공공기관에서 전달한 데이터
# encodingError 발생시 파라메터 encoding='cp949'로 변경하시면 해결가능함
# 공장설비 기계 인코딩, 제조사 내부설비 표준 인코딩 방식을 정함
# 제조사에 전화하셔서 인코딩 방식 물어보시면 됩니다. 개발자 콜
# 인코딩 방식 반복문 돌려가면서 성공하는 인코딩, uft-16-sig, uft-32-sig

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

### excel 파일 로딩

In [10]:
# 만약 모듈을 찾을 수 없는 오류가 발생한다면 추가 모듈 설치
df1 = pd.read_excel('./data/energy1.xlsx')
# sheet_name 불러들이고자 하는 시트명을 전달 해주시면 해당 시트 데이터를 불러들입니다.
# header 데이터가 시작되는 행의 위치를 인덱스 넘버로 전달
# encoding 인코딩 방식 변경
# engine 구버전 엑셀파일의 경우 engine='xlrd'
df1

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0,0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0,0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0,0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0,0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1,1
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1,1
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1,1
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1,1
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1,1

### json 파일 로딩

In [11]:
# 컴퓨터간 통신(프로토콜)에 사용하는 딕셔너리 형태의 데이터
pd.read_json('./data/005930.json')

,symbolCode,date,tradePrice,tradeTime,change,changePrice,changeRate,prevClosingPrice,exchangeCountry,openingPrice,highPrice,lowPrice,accTradePrice,accTradeVolume,periodTradePrice,periodTradeVolume,listedSharesCount
0,A005930,2023-02-03 15:30:19,63800,15:30:19,RISE,300,0.004724,63500,KOREA,63900,64000,63000,942509594000,14804617,942509594000,14804617,NaN
1,A005930,2023-02-02 15:30:07,63500,15:30:07,RISE,1700,0.027508,61800,KOREA,63200,63900,62600,1474629229812,23285983,1474629229812,23285983,NaN
2,A005930,2023-02-01 15:30:23,61800,15:30:23,RISE,800,0.013115,61000,KOREA,62600,62700,61000,1145781815984,18570133,1145781815984,18570133,NaN
3,A005930,2023-01-31 15:30:07,61000,15:30:07,FALL,2300,-0.036335,63300,KOREA,63500,63700,61000,1835768640685,29746731,1835768640685,29746731,NaN
4,A005930,2023-01-30 15:30:19,63300,15:30:19,FALL,1300,-0.020124,64600,KOREA,64900,64900,63100,1337025734920,20995234,1337025734920,20995234,NaN
5,A005930,2023-01-27 15:30:08,64600,15:30:08,RISE,700,0.010955,63900,KOREA,64400,65000,63900,1212764792491,18760182,1212764792491,18760182,NaN
6,A005930,2023-01-26 15:30:14,63900,15:30:14,RISE,500,0.007886,63400,KOREA,63800,63900,63300,846408637700,13278277,846408637700,13278277,NaN
7,A005930,2023-01-25 15:30:24,63400,15:30:24,RISE,1600,0.025890,61800,KOREA,63500,63700,63000,1066200962700,16822710,1066200962700,16822710,NaN
8,A005930,2023-01-20 15:30:22,61800,15:30:22,RISE,300,0.004878,61500,KOREA,62100,62300,61100,595372614900,9646327,595372614900,9646327,NaN
9,A005930,2023-01-19 15:30:25,61500,15:30:25,RISE,1100,0.018212,60400,KOREA,60500,61500,60400,781937546636,12808490,781937546636,12808490,NaN

### API를 활용하여 웹에서 수집한 데이터 로딩

In [12]:
import requests
import json
url = 'https://finance.daum.net/api/quote/A005930/days?symbolCode=A005930&page=1&perPage=10&pagination=true'
info = {
    'referer': 'https://finance.daum.net/quotes/A005930?period=day',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'
}

resp = requests.get(url, headers=info)
data = json.loads(resp.text)
df = pd.DataFrame(data['data'])
df

,symbolCode,date,tradePrice,tradeTime,change,changePrice,changeRate,prevClosingPrice,exchangeCountry,openingPrice,highPrice,lowPrice,accTradePrice,accTradeVolume,periodTradePrice,periodTradeVolume,listedSharesCount
0,A005930,2023-07-04 15:30:01,73000.0,15:30:01,EVEN,0.0,0.000000,73000.0,KOREA,73400.0,73600.0,72900.0,745637068300,10187119,745637068300,10187119,None
1,A005930,2023-07-03 15:30:11,73000.0,15:30:11,RISE,800.0,0.011080,72200.0,KOREA,72700.0,73200.0,72600.0,782251095800,10722181,782251095800,10722181,None
2,A005930,2023-06-30 15:30:06,72200.0,15:30:06,FALL,200.0,-0.002762,72400.0,KOREA,72500.0,72700.0,71700.0,844353820176,11694765,844353820176,11694765,None
3,A005930,2023-06-29 15:30:16,72400.0,15:30:16,FALL,300.0,-0.004127,72700.0,KOREA,73100.0,73400.0,72400.0,891731369446,12229967,891731369446,12229967,None
4,A005930,2023-06-28 15:30:17,72700.0,15:30:17,RISE,100.0,0.001377,72600.0,KOREA,72600.0,72700.0,72000.0,635516679700,8783093,635516679700,8783093,None
5,A005930,2023-06-27 15:30:27,72600.0,15:30:27,RISE,200.0,0.002762,72400.0,KOREA,72500.0,72600.0,72000.0,683624715982,9442997,683624715982,9442997,None
6,A005930,2023-06-26 15:30:08,72400.0,15:30:08,RISE,800.0,0.011173,71600.0,KOREA,71700.0,72500.0,71500.0,761525382100,10541901,761525382100,10541901,None
7,A005930,2023-06-23 15:30:15,71600.0,15:30:15,RISE,300.0,0.004208,71300.0,KOREA,72000.0,72200.0,71600.0,885945930513,12329484,885945930513,12329484,None
8,A005930,2023-06-22 15:30:23,71300.0,15:30:23,RISE,800.0,0.011348,70500.0,KOREA,70200.0,71500.0,70100.0,811437978080,11411007,811437978080,11411007,None
9,A005930,2023-06-21 15:30:17,70500.0,15:30:17,FALL,900.0,-0.012605,71400.0,KOREA,70700.0,71200.0,70400.0,752120696260,10626603,752120696260,10626603,None

### 데이터베이스에서 쿼리를 사용한 데이터 로딩

In [ ]:
# 참고! 실습은 하지 않습니다만 쿼리를 사용하여 데이터베이스로부터 데이터프레임을 만드는 것도 가능합니다.
# 데이터베이스로 부터 자료 읽기

# 필요한 모듈 추가 설치 - 각 데이터베이스 별로 다릅니다.
# !pip install pymysql

# sql 모듈 로드하기
# import pymysql
# mysql, mariadb, sqlite, postgresql, ms-sql, oracle, mongodb

# 접속하기
# 접속방법 또한 DB 종류에 따라 다릅니다.
# con = pymysql.connect(host='db서버주소', port=3306, user='id', passwd='pwd', db='dbname')

# query 만들기
# query = 'select * from samples'

# 자료 불러오기
# data = pd.read_sql(query, con=con)

## 데이터 저장하기
불러들인 혹은 작업을 마친 데이터프레임을 다양한 파일형태로 저장이 가능합니다.  
데이터분석 과정은 원본데이터를 되도록이면 유지하며 전처리를 진행하지만 주기적으로 백업은 진행하는 것이 좋습니다.  
> **`to_csv()`**  
**`to_excel()`**

In [16]:
# 데이터 저장
df.to_csv('./data/save_test.csv', index=False)
# index=False 필수로 넣어주세요. 불필요한 데이터 생성방지
# 인덱스값을 변수(컬럼) 사용 하지 말아라

In [17]:
# 엑셀은 오래걸립니다~
df.to_excel('./data/save_test.xlsx', sheet_name='save_test')

In [18]:
df = pd.read_csv('./data/save_test.csv')
df

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

## 사용 데이터 간략 설명
> 한국에너지관리공단에서 제공한 전력사용량 데이터  
1시간 간격으로 수집 된 60개 건물들의 2020년 6월 1일 부터 2020년 8월 24일까지의 데이터  
건물정보와 기후정보를 활용한 전력사용량을 예측하기 위한 데이터셋  
대회홈페이지 : https://dacon.io/competitions/official/235736/overview/description
>> 각 변수(컬럼) 설명  
>>- num : 건물번호  
>>- date_time : 데이터가 수집 된 날짜, 시간  
>>- 전력사용량 : 수집 된 시점에 사용한 전력량  
>>- 비전기냉방설비운영 : 0-미운영, 1-운영  
>>- 태양광보유 : 0-미보유, 1-보유

## 데이터 살펴보기

In [40]:
# 데이터를 불러들인 후 가장 처음 하는 작업
# 데이터의 구조, 형태 파악하기
# 데이터의 첫 5개 관측치(샘플, 인스턴스, 레코드) 확인하기
df.head(8)

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
5,1,2020-06-01 05,8010.576,16.9,3.4,93.0,0.0,0.0,0.0,0.0
6,1,2020-06-01 06,7978.176,16.7,3.4,90.0,0.1,0.0,0.0,0.0
7,1,2020-06-01 07,8019.000,16.9,2.3,86.0,0.0,0.1,0.0,0.0

In [21]:
# 데이터의 마지막 5개 샘플 확인하기
df.tail(10)

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
122390,60,2020-08-24 14,4269.456,29.5,3.1,59.0,0.0,1.0,1.0,1.0
122391,60,2020-08-24 15,4323.888,29.5,3.4,58.0,0.0,1.0,1.0,1.0
122392,60,2020-08-24 16,4294.080,29.4,3.1,59.0,0.0,1.0,1.0,1.0
122393,60,2020-08-24 17,4212.432,28.7,2.9,60.0,0.0,1.0,1.0,1.0
122394,60,2020-08-24 18,4189.104,28.5,2.2,66.0,0.0,1.0,1.0,1.0
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [22]:
# 데이터의 갯수를 살펴봅니다
len(df)

122400

In [24]:
# 데이터 shape 확인
# 행렬, 4 X 5
df.shape # 소괄호 떼고 사용하는 속성 (df 내부에 저장되어 있는 변수값)

(122400, 10)

In [41]:
df.columns

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

In [27]:
# 데이터의 전반적인 정보를 확인합니다.
df.info()
# 컬럼, 열, feature, 변수
# 소괄호를 열고 사용하는 메소드, 기능, 함수 df 내부에서 작동하는 기능 functions

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   num         122400 non-null  int64
 1   date_time   122400 non-null  object
 2   전력사용량(kWh)  122400 non-null  float64
 3   기온(°C)      122400 non-null  float64
 4   풍속(m/s)     122400 non-null  float64
 5   습도(%)       122400 non-null  float64
 6   강수량(mm)     122400 non-null  float64
 7   일조(hr)      122400 non-null  float64
 8   비전기냉방설비운영   122400 non-null  float64
 9   태양광보유       122400 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 9.3+ MB

In [28]:
# 데이터의 기초통계량을 확인합니다.
df.describe()

,num,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
count,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000
mean,30.500000,2324.830866,24.251713,2.151641,80.169848,0.514989,0.213533,0.683333,0.483333
std,17.318173,2058.999326,3.407902,1.514475,15.525862,2.624505,0.370517,0.465178,0.499724
min,1.000000,0.000000,11.100000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,15.750000,1055.268000,21.800000,1.100000,70.000000,0.000000,0.000000,0.000000,0.000000
50%,30.500000,1700.352000,24.200000,1.900000,84.000000,0.000000,0.000000,1.000000,0.000000
75%,45.250000,2780.487000,26.500000,2.900000,93.000000,0.000000,0.300000,1.000000,1.000000
max,60.000000,17739.225000,36.300000,20.100000,100.000000,81.500000,1.000000,1.000000,1.000000

In [29]:
# 변수명
df.columns

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

데이터셋을 살펴 본 결과 시간별로 관측 된 기후데이터와 전력사용량을 확인 할 수 있었습니다.  
각각의 관측치(샘플)에 대한 정보를 유추하고, 건물별로 수집 된 데이터의 특징을 볼 수 있었습니다.  
데이터의 크기, 사이즈, 기초통계량을 바탕으로 조금 더 디테일하게 데이터를 살펴보겠습니다.

## 데이터접근 (인덱싱, 슬라이싱, 샘플링)

In [32]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [43]:
# 행, 열데이터 한줄 (벡터데이터) serise 다른 자료구조로 표현을 합니다.
df.iloc[[100000]]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
100000,50,2020-06-02 16,880.416,21.5,5.6,58.0,0.0,1.0,0.0,0.0

In [36]:
# 첫 샘플 혹은 레코드, 인스턴스, 데이터포인트 에 대한 데이터를 살펴보겠습니다.
# 인덱스넘버로 데이터에 접근하는 .iloc[색인]

array([1, '2020-06-01 00', 8179.056, 17.6, 2.5, 92.0, 0.8, 0.0, 0.0, 0.0],
      dtype=object)

In [44]:
# 10번 인덱스 부터 20번 인덱스 샘플 접근 행기준 슬라이싱
df.iloc[10:21]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
10,1,2020-06-01 10,8116.200,20.5,3.4,62.0,0.0,1.0,0.0,0.0
11,1,2020-06-01 11,8104.536,22.1,3.6,52.0,0.0,1.0,0.0,0.0
12,1,2020-06-01 12,8088.984,23.1,4.0,49.0,0.0,1.0,0.0,0.0
13,1,2020-06-01 13,8102.592,23.1,5.1,42.0,0.0,1.0,0.0,0.0
14,1,2020-06-01 14,8088.336,23.6,5.1,39.0,0.0,1.0,0.0,0.0
15,1,2020-06-01 15,8076.672,23.8,5.5,40.0,0.0,1.0,0.0,0.0
16,1,2020-06-01 16,8032.608,24.4,3.0,39.0,0.0,1.0,0.0,0.0
17,1,2020-06-01 17,8013.816,23.6,4.4,41.0,0.0,1.0,0.0,0.0
18,1,2020-06-01 18,8029.368,22.7,4.1,42.0,0.0,1.0,0.0,0.0
19,1,2020-06-01 19,8028.072,21.3,4.2,44.0,0.0,1.0,0.0,0.0
20,1,2020-06-01 20,7994.376,19.8,2.5,51.0,0.0,0.4,0.0,0.0

In [45]:
# 여러개의 관측치에 접근
df.iloc[[0, 10, 20]]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
10,1,2020-06-01 10,8116.200,20.5,3.4,62.0,0.0,1.0,0.0,0.0
20,1,2020-06-01 20,7994.376,19.8,2.5,51.0,0.0,0.4,0.0,0.0

In [51]:
# 변수 단위 샘플 접근
df['전력사용량(kWh)'] # 딕셔너리
# 딕셔너리
pd.DataFrame({'전력사용량(kWh)': df['전력사용량(kWh)'].values})

        전력사용량(kWh)
0         8179.056
1         8135.640
2         8107.128
3         8048.808
4         8043.624
...            ...
122395    4114.368
122396    3975.696
122397    3572.208
122398    3299.184
122399    3204.576

[122400 rows x 1 columns]

In [50]:
# 여러 컬럼 동시 접근
df[['date_time','전력사용량(kWh)']]

            date_time  전력사용량(kWh)
0       2020-06-01 00    8179.056
1       2020-06-01 01    8135.640
2       2020-06-01 02    8107.128
3       2020-06-01 03    8048.808
4       2020-06-01 04    8043.624
...               ...         ...
122395  2020-08-24 19    4114.368
122396  2020-08-24 20    3975.696
122397  2020-08-24 21    3572.208
122398  2020-08-24 22    3299.184
122399  2020-08-24 23    3204.576

[122400 rows x 2 columns]

In [55]:
# row와 columns을 동시에 슬라이싱 하는 속성
# df.loc[인덱스, 컬럼명]
df.iloc[10:21, :4] # 관측치, 변수 (행, 열) [인덱스 번호만 들어감]
df.loc[10:21, ['num', 'date_time', '전력사용량(kWh)', '기온(°C)']]

    num      date_time  전력사용량(kWh)  기온(°C)
10    1  2020-06-01 10    8116.200    20.5
11    1  2020-06-01 11    8104.536    22.1
12    1  2020-06-01 12    8088.984    23.1
13    1  2020-06-01 13    8102.592    23.1
14    1  2020-06-01 14    8088.336    23.6
15    1  2020-06-01 15    8076.672    23.8
16    1  2020-06-01 16    8032.608    24.4
17    1  2020-06-01 17    8013.816    23.6
18    1  2020-06-01 18    8029.368    22.7
19    1  2020-06-01 19    8028.072    21.3
20    1  2020-06-01 20    7994.376    19.8
21    1  2020-06-01 21    7974.936    18.6

In [60]:
df.head()
# 300, 500, 700인덱스 기온(°C)	풍속(m/s)	습도(%)
df.iloc[[300, 500, 700], 3:6]
df.loc[[300, 500, 700], ['기온(°C)', '풍속(m/s)', '습도(%)']]

     기온(°C)  풍속(m/s)  습도(%)
300    30.7      1.6   34.0
500    28.1      2.1   53.0
700    18.8      3.9   94.0

In [65]:
# 변수명 인덱싱
df.columns[3:]

Index(['기온(°C)', '풍속(m/s)', '습도(%)', '강수량(mm)', '일조(hr)', '비전기냉방설비운영',
       '태양광보유'],
      dtype='object')

In [52]:
# 컬럼명 순환

num
date_time
전력사용량(kWh)
기온(°C)
풍속(m/s)
습도(%)
강수량(mm)
일조(hr)
비전기냉방설비운영
태양광보유

In [53]:
# 컬럼명을 순환하면서 각 컬럼의 고윳값 출력

num [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60]
date_time ['2020-06-01 00' '2020-06-01 01' '2020-06-01 02' ... '2020-08-24 21'
 '2020-08-24 22' '2020-08-24 23']
전력사용량(kWh) [8179.056 8135.64  8107.128 ... 4294.08  4212.432 3975.696]
기온(°C) [17.6 17.7 17.5 17.1 17.  16.9 16.7 17.8 19.3 20.5 22.1 23.1 23.6 23.8
 24.4 22.7 21.3 19.8 18.6 17.9 17.2 16.6 16.2 15.9 15.7 15.5 14.8 15.
 16.  17.3 16.3 20.4 20.9 21.7 21.2 20.6 20.3 19.9 19.6 19.  18.4 18.3
 18.2 18.1 19.7 20.8 22.  26.1 26.8 27.9 28.2 28.1 21.  20.1 20.  22.4
 23.9 25.  26.  26.4 25.4 24.3 23.2 22.8 21.4 19.5 18.9 18.7 22.3 25.1
 26.3 27.2 27.8 28.5 28.6 25.8 21.1 20.7 19.4 19.2 24.  25.6 29.3 29.4
 30.5 30.6 29.1 27.1 25.2 24.8 23.4 27.4 28.4 28.9 28.  25.7 24.5 23.
 21.6 22.5 25.5 29.8 31.2 31.6 30.7 22.9 27.7 29.5 31.1 31.9 32.6 32.7
 32.5 30.  26.6 24.6 24.9 29.  30.3 31.  28.7 23.7 22.6 22.2 21.8 21.9
 24.2 25.9 29.2 30.2 31.3 31.4 23.3 23.5 26.5 27.3 27.  24.1 21.5 27.5
 33.1 33.  32.  29.7 26.9 19.1 18.8 20.2 30.4 29.6 24.7 27.6 29.9 25.3
 26.2 26.7 28.8 28.3 31.5 31.8 32.3 30.9 32.8 33.7 35.2 35.  31.7 30.8
 30.1 18.5 32.4 18.  32.1 32.2 16.1 15.2 14.6 14.1 13.6 13.8 13.9 13.2
 13.4 14.5 16.5 17.4 33.6 15.8 33.9 33.8 34.5 32.9 33.4 16.4 16.8 34.6
 34.1 33.5 34.7 35.6 36.3 35.5 35.3 33.3 33.2 34.8 34.9 34.2 35.1 34.4
 35.4 35.8 34.3 35.7 36.  14.  14.3 14.2 15.1 13.3 13.  12.9 12.6 14.4
 14.7 34.  15.6 15.3 12.8 11.9 12.3 15.4 11.7 12.  12.1 13.1 14.9 13.7
 13.5 11.8 12.5 12.2 11.3 11.1 11.2]
풍속(m/s) [ 2.5  2.9  3.2  3.3  3.4  2.3  2.1  3.6  4.   5.1  5.5  3.   4.4  4.1
  4.2  2.   1.6  0.8  1.1  0.4  0.9  1.3  2.2  1.4  2.6  3.1  2.4  2.7
  1.7  1.8  1.5  2.8  3.8  4.5  4.8  5.2  1.   3.5  1.9  1.2  0.6  4.3
  0.7  3.7  0.5  5.8  0.2  0.3  4.6  3.9  0.   5.3  6.5  6.1  4.7  5.6
  5.   6.3  4.9  6.7  5.9  5.4  6.9  6.4  7.9  6.6  0.1  5.7  6.   6.2
  7.4  7.5  8.  10.9  8.3 11.3 10.2  9.1 11.8  9.2  8.1  9.5  9.3  8.4
  7.3  7.7  8.2  9.4  7.6  7.   8.5  8.7 11.5 11.6 11.7 12.1 12.3 10.
  8.6  7.2  9.9  7.1  8.8 12.8 12.7  9.7  6.8 10.4  9.6  9.   7.8 10.1
  8.9 11.1 12.6 10.8 10.7 10.3 12.5 11.9 15.2 13.6 19.8 20.1 18.9 16.2
 16.6 13.3 12.  10.5  9.8 11.2 11.  12.4 10.6 18.1 13.2 14.7 17.5 17.2
 15.6 16.8 15.4 13.7 13.5 16.3 14.6 16.4 14.8 15.5 15.  12.9 13.1 13.8
 14.2]
습도(%) [ 92.   91.   93.   90.   86.   80.   73.   62.   52.   49.   42.   39.
  40.   41.   44.   51.   55.   68.   74.   77.   78.   79.   75.   71.
  65.   70.   48.   46.   58.   61.   84.   89.   87.   88.   82.   76.
  50.   60.   81.   83.   63.   66.   67.   57.   64.   72.   47.   45.
  59.   69.   56.   85.   43.   53.   38.   36.   54.   34.   29.   33.
  35.   37.   30.   27.   31.   94.   95.   96.   97.   98.   99.  100.
  22.   23.   19.   32.   28.   24.   26.   25.   72.2  85.9  86.8  88.5
  90.2  20.   97.7  97.5  97.3  97.8  94.1  94.6]
강수량(mm) [ 0.8  0.3  0.   0.1  1.9  1.   2.4  0.2  6.6  7.8  6.2  1.5  0.7  3.3
  1.2  1.7  1.6  1.1  2.   3.1  2.7  0.5  0.4  0.6  5.   5.6 13.3 10.8
  2.3 12.4 11.  10.6  1.4  1.3  2.1  2.5  1.8  3.8  3.9  2.8  5.3  3.7
  7.3 14.6  5.8  0.9  5.2  8.7 10.7 17.3 16.6  9.8 15.1 10.4  2.6  3.4
 26.9  8.  19.  11.6  3.   5.5  2.9 12.2  3.2  8.9 19.8 15.3 16.3 21.6
 11.7  6.1  6.3  6.  17.9 15.7 15.5  4.6  4.8  4.7  6.4  7.2 28.6  4.3
 18.2 19.4 21.8 14.4 22.8  4.9 16.8 22.3  5.1  7.5 26.7 18.3 10.2  5.9
  4.4  3.5  7.7 17.4  9.5 13.8 14.  18.6  5.4 24.6 51.7 20.1 23.7 54.8
 12.5  8.4  4.1  7.   9.9  4.5  8.6  7.1 13.5 16.9 48.5  8.3 10.5  9.6
 24.1 70.4  4.  12.  19.9  2.2 29.2 12.8  5.7 61.4 26.  17.  19.5 25.3
 26.3  9.2 13.2  3.6  8.5  4.2 36.3 13.7 10.1  6.7 13.4  9.1  8.1 11.2
 32.1  9.4 21.5  6.9 15.4 16.   8.8 39.1 14.7 14.5  9.3 24.4 42.6 24.7
  7.4 38.  21.3 17.7 20.5 27.5  6.5  9.   8.2  7.9 11.9 15.6 16.4 17.5
 21.9 11.1 21.  34.  12.7 27.1 14.1 13.  18.5 11.3 33.4 23.4 23.9 13.9
 17.8 14.9 24.  10.   7.6 10.9 18.1 13.6 25.  15.2 29.9 16.2 34.9 28.5
  6.8 11.4 16.7 17.6 11.8 25.7 15.  32.  21.2 31.  22.  16.5 26.5 19.1
 21.7 36.  12.1 11.5 23.3 12.3 24.9 29.3 15.8 31.5 12.9 10.3 20.8  9.7
 22.5 12.6 46.  14.3 24.2 37.5 17.1 14.8 52.2 26.6 38.1 20.  23.5 28.
 22.6 22.9 25.2 35.1 25.8 20.6 47.4 29.4 13.1 26.8 20.3 16.1 39.3 33.
 24.3 23.  25.1 50.4 43.1 27.2 20.9 24.5 34.2 38.6 30.5 21.1 26.2 48.4
 27.8 52.9 19.3 81.5 34.8 30.9 18.7 17.2 19.6 36.5 27.9 48.8 34.4 54.6
 22.4 14.2]
일조(hr) [0.  0.1 0.3 0.7 1.  0.4 0.9 0.2 0.6 0.8 0.5]
비전기냉방설비운영 [0. 1.]
태양광보유 [0. 1.]

## 팬시인덱싱 전달
기본적인 인덱싱 방법에 추가로 조건에 따른 데이터 샘플링도 가능합니다.  
넘파이의 bool 타입데이터를 인덱스로 전달받는 방법으로 조건에 다른 데이터를 선별한다면 조금 더 고차원적인 데이터 선택이 가능합니다.

In [70]:
# 조건식을 인덱스로 받는 팬시인덱싱
# 건물 번호 기준으로 한 건물에 해당하는 관측치 선별
# 엑셀 필터 적용
df['num'] > 40

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
81600,41,2020-06-01 00,411.966,17.0,2.0,100.0,1.1,0.0,1.0,0.0
81601,41,2020-06-01 01,334.044,17.2,2.3,99.0,0.1,0.0,1.0,0.0
81602,41,2020-06-01 02,336.960,17.2,3.7,98.0,0.0,0.0,1.0,0.0
81603,41,2020-06-01 03,336.636,16.7,3.1,99.0,0.0,0.0,1.0,0.0
81604,41,2020-06-01 04,334.368,16.9,3.5,98.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [79]:
# 전력 사용량 기준으로 15000kWh 이상 사용한 관측치 
df.loc[df['전력사용량(kWh)'] >= 15000]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
14459,8,2020-06-08 11,15177.411,27.9,1.2,53.0,0.0,1.0,1.0,1.0
14464,8,2020-06-08 16,15152.454,31.0,1.5,40.0,0.0,1.0,1.0,1.0
14482,8,2020-06-09 10,15139.800,26.7,0.9,50.0,0.0,1.0,1.0,1.0
14483,8,2020-06-09 11,15417.936,28.7,1.8,45.0,0.0,1.0,1.0,1.0
14485,8,2020-06-09 13,15177.420,30.7,1.4,36.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
16309,8,2020-08-24 13,17423.793,31.5,2.0,56.0,0.0,1.0,1.0,1.0
16310,8,2020-08-24 14,17458.137,31.4,1.9,55.0,0.0,1.0,1.0,1.0
16311,8,2020-08-24 15,17230.671,32.1,2.1,56.0,0.0,1.0,1.0,1.0
16312,8,2020-08-24 16,17300.313,32.3,1.6,54.0,0.0,1.0,1.0,1.0
16313,8,2020-08-24 17,17136.351,31.6,1.0,57.0,0.0,1.0,1.0,1.0

In [82]:
# 해당시간 데이터보다 나중에 발생한 관측치 선택 
df.loc[df['date_time'] > '2020-08-01 00']

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
1465,1,2020-08-01 01,8591.184,24.6,0.5,90.0,0.2,0.0,0.0,0.0
1466,1,2020-08-01 02,8582.112,24.6,0.5,91.0,0.0,0.0,0.0,0.0
1467,1,2020-08-01 03,8593.776,24.7,1.2,93.0,0.0,0.0,0.0,0.0
1468,1,2020-08-01 04,8575.632,24.7,0.8,94.0,0.0,0.0,0.0,0.0
1469,1,2020-08-01 05,8567.208,24.5,1.3,94.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [88]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [95]:
# or 연산 | 
# and 연산 &
# 조건을 2개 사용한 관측치 선택 비전기냉방설비운영, 태양광보유 한 관측치 찾기
df.loc[(df['num'] == 1) | (df['num'] == 10)]
df.loc[(df['기온(°C)'] >= 30) & (df['습도(%)'] >= 80)]
# 조건식을 변수형태로 전달
con1 = (df['기온(°C)'] >= 30)
con2 = (df['습도(%)'] >= 80)
df.loc[con1 & con2]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
18064,9,2020-08-12 16,1308.312,30.0,1.2,83.0,0.0,0.2,0.0,1.0
28238,14,2020-08-11 14,2634.660,30.4,4.9,81.0,0.3,0.3,1.0,1.0
32152,16,2020-08-04 16,1909.008,30.0,2.4,81.0,0.0,0.2,1.0,1.0
32172,16,2020-08-05 12,2010.420,30.4,4.0,81.0,0.0,0.8,1.0,1.0
32362,16,2020-08-13 10,2016.252,30.4,1.7,83.0,0.0,0.4,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
116051,57,2020-08-15 11,2235.168,30.1,3.1,81.0,0.0,0.9,1.0,0.0
116075,57,2020-08-16 11,2255.040,30.6,3.0,81.0,0.0,1.0,1.0,0.0
116082,57,2020-08-16 18,2365.632,30.1,3.2,82.0,0.0,0.5,1.0,0.0
116107,57,2020-08-17 19,2464.992,30.3,0.9,82.0,0.0,0.3,1.0,0.0
116131,57,2020-08-18 19,3120.336,30.0,1.6,80.0,0.0,0.9,1.0,0.0

In [97]:
# 조건식이 아닌 특정 값 기준으로 데이터를 찾을 때
# 필터링 샘플링 하실 때 조건식보다 조금 더 편하실 수 있음
df.loc[df['num'].isin([10, 20, 30, 40])]
# 변수에 포함되어 있는 데이터의 정확한 값을 알고 있을 때 사용가능

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
18360,10,2020-06-01 00,417.960000,18.3,2.5,94.0,0.0,0.0,1.0,0.0
18361,10,2020-06-01 01,407.592000,18.8,2.3,89.0,0.0,0.0,1.0,0.0
18362,10,2020-06-01 02,404.028000,19.0,3.2,86.0,0.0,0.0,1.0,0.0
18363,10,2020-06-01 03,397.548000,19.0,4.1,85.0,0.0,0.0,1.0,0.0
18364,10,2020-06-01 04,397.224000,18.9,3.9,87.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
81595,40,2020-08-24 19,3776.670000,31.1,1.1,67.0,0.0,0.6,1.0,1.0
81596,40,2020-08-24 20,2494.083659,29.3,0.7,80.0,0.0,0.0,1.0,1.0
81597,40,2020-08-24 21,1343.769750,28.6,0.9,84.0,0.0,0.0,1.0,1.0
81598,40,2020-08-24 22,947.151000,28.3,1.3,88.0,0.0,0.0,1.0,1.0
81599,40,2020-08-24 23,1975.392000,27.8,0.7,88.0,0.0,0.0,1.0,1.0

In [100]:
# contains로 전달하는 문자열이 포함되면 True
df.loc[df['date_time'].str.contains('07-31 00')]
# 상품명 오뚜기 진라면 5EA 500ml

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
1440,1,2020-07-31 00,8510.832000,23.4,1.0,86.0,0.0,0.0,0.0,0.0
3480,2,2020-07-31 00,1025.784000,23.6,1.5,89.0,0.0,0.0,1.0,0.0
5520,3,2020-07-31 00,3767.571529,22.6,0.1,97.0,0.0,0.0,1.0,1.0
7560,4,2020-07-31 00,323.136000,22.8,1.2,90.0,0.0,0.0,1.0,1.0
9600,5,2020-07-31 00,2904.768000,23.6,1.5,89.0,0.0,0.0,1.0,0.0
11640,6,2020-07-31 00,669.060000,22.6,0.1,97.0,0.0,0.0,0.0,0.0
13680,7,2020-07-31 00,1484.163000,23.4,1.0,86.0,0.0,0.0,1.0,0.0
15720,8,2020-07-31 00,6467.841000,24.7,0.5,95.0,0.0,0.0,1.0,1.0
17760,9,2020-07-31 00,1278.504000,21.3,0.2,100.0,0.0,0.0,0.0,1.0
19800,10,2020-07-31 00,494.100000,23.6,1.5,89.0,0.0,0.0,1.0,0.0
21840,11,2020-07-31 00,638.496000,23.6,1.5,89.0,0.0,0.0,0.0,0.0
23880,12,2020-07-31 00,479.088000,22.2,0.8,94.0,0.0,0.0,1.0,1.0
25920,13,2020-07-31 00,855.684000,23.8,0.9,91.0,0.0,0.0,1.0,0.0
27960,14,2020-07-31 00,1458.540000,25.9,0.4,91.0,0.0,0.0,1.0,1.0
30000,15,2020-07-31 00,3110.238000,22.6,0.1,97.0,0.0,0.0,1.0,0.0
32040,16,2020-07-31 00,1566.864000,21.6,0.0,100.0,0.0,0.0,1.0,1.0
34080,17,2020-07-31 00,604.800000,23.4,1.0,86.0,0.0,0.0,1.0,0.0
36120,18,2020-07-31 00,1877.877000,22.6,0.1,97.0,0.0,0.0,0.0,0.0
38160,19,2020-07-31 00,772.578000,23.6,1.5,89.0,0.0,0.0,0.0,0.0
40200,20,2020-07-31 00,1308.096000,23.4,1.0,86.0,0.0,0.0,0.0,0.0
42240,21,2020-07-31 00,1426.248000,23.4,1.0,86.0,0.0,0.0,0.0,1.0
44280,22,2020-07-31 00,1053.324000,25.0,1.3,97.0,0.0,0.0,1.0,0.0
46320,23,2020-07-31 00,1647.909000,25.0,1.3,97.0,0.0,0.0,0.0,1.0
48360,24,2020-07-31 00,3179.952000,22.6,0.1,97.0,0.0,0.0,1.0,1.0
50400,25,2020-07-31 00,1073.736000,22.6,0.1,97.0,0.0,0.0,1.0,0.0
52440,26,2020-07-31 00,2485.365882,22.7,0.0,98.0,0.0,0.0,0.0,1.0
54480,27,2020-07-31 00,578.340000,23.6,0.3,96.0,0.0,0.0,1.0,1.0
56520,28,2020-07-31 00,1894.428000,23.6,1.5,89.0,0.0,0.0,1.0,0.0
58560,29,2020-07-31 00,420.552000,22.5,2.6,97.0,0.0,0.0,0.0,0.0
60600,30,2020-07-31 00,6761.232000,26.1,3.9,100.0,0.0,0.0,1.0,1.0
62640,31,2020-07-31 00,5830.272000,23.4,1.0,86.0,0.0,0.0,1.0,0.0
64680,32,2020-07-31 00,2384.208000,22.6,0.1,97.0,0.0,0.0,0.0,0.0
66720,33,2020-07-31 00,2481.624000,25.0,1.3,97.0,0.0,0.0,1.0,0.0
68760,34,2020-07-31 00,714.420000,23.4,1.0,86.0,0.0,0.0,1.0,1.0
70800,35,2020-07-31 00,653.184000,22.2,0.8,94.0,0.0,0.0,1.0,0.0
72840,36,2020-07-31 00,1021.248000,25.9,3.9,94.0,0.0,0.0,0.0,1.0
74880,37,2020-07-31 00,1869.120000,23.8,0.0,83.0,0.0,0.0,1.0,1.0
76920,38,2020-07-31 00,3820.320000,23.4,1.0,86.0,0.0,0.0,1.0,1.0
78960,39,2020-07-31 00,1695.033000,25.2,0.8,95.0,0.0,0.0,1.0,1.0
81000,40,2020-07-31 00,1825.002000,25.0,1.3,97.0,0.0,0.0,1.0,1.0
83040,41,2020-07-31 00,447.930000,22.6,0.1,97.0,0.0,0.0,1.0,0.0
85080,42,2020-07-31 00,3122.064000,22.2,0.8,94.0,0.0,0.0,1.0,1.0
87120,43,2020-07-31 00,1283.472000,25.6,1.0,90.0,0.0,0.0,1.0,1.0
89160,44,2020-07-31 00,2121.228000,25.9,1.6,98.0,0.0,0.0,1.0,1.0
91200,45,2020-07-31 00,1137.456000,22.6,0.1,97.0,0.0,0.0,0.0,1.0
93240,46,2020-07-31 00,781.056000,23.4,1.0,86.0,0.0,0.0,1.0,0.0
95280,47,2020-07-31 00,1605.264000,23.4,1.0,86.0,0.0,0.0,1.0,1.0
97320,48,2020-07-31 00,550.737000,22.2,0.8,94.0,0.0,0.0,0.0,0.0
99360,49,2020-07-31 00,1089.720000,23.4,1.0,86.0,0.0,0.0,0.0,0.0
101400,50,2020-07-31 00,984.528000,23.6,1.5,89.0,0.0,0.0,0.0,0.0
103440,51,2020-07-31 00,1547.424000,23.4,1.0,86.0,0.0,0.0,0.0,1.0
105480,52,2020-07-31 00,3135.780000,23.4,1.0,86.0,0.0,0.0,1.0,1.0
107520,53,2020-07-31 00,1234.278000,25.0,1.3,97.0,0.0,0.0,1.0,0.0
109560,54,2020-07-31 00,5868.288000,22.6,0.1,97.0,0.0,0.0,1.0,0.0
111600,55,2020-07-31 00,1593.216000,23.4,1.0,86.0,0.0,0.0,1.0,1.0
113640,56,2020-07-31 00,516.456000,23.0,0.1,100.0,0.0,0.0,0.0,1.0
115680,57,2020-07-31 00,2724.624000,25.9,1.6,98.0,0.0,0.0,1.0,0.0
117720,58,2020-07-31 00,637.308000,23.4,1.0,86.0,0.0,0.0,1.0,0.0
119760,59,2020-07-31 00,1118.124000,22.1,0.2,99.0,0.0,0.0,1.0,0.0
121800,60,2020-07-31 00,3041.280000,22.2,0.8,94.0,0.0,0.0,1.0,1.0

In [102]:
# 랜덤한 샘플의 수 혹은 비율에 따른 선별 방법
df.sample(frac=0.05)
# n= 샘플수, frac= 비율

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
37759,19,2020-07-14 07,759.456,18.8,1.1,99.0,1.0,0.0,0.0,0.0
75149,37,2020-08-11 05,1855.287,25.2,1.1,87.0,1.1,0.0,1.0,1.0
12611,7,2020-06-16 11,2331.423,25.4,2.2,55.0,0.0,1.0,1.0,0.0
120393,60,2020-06-02 09,3161.376,16.2,0.7,80.0,0.0,0.0,1.0,1.0
43827,22,2020-07-12 03,982.044,24.5,3.4,76.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
22758,12,2020-06-14 06,470.880,20.6,0.9,76.0,0.0,0.0,1.0,1.0
60811,30,2020-08-08 19,7831.404,27.2,8.1,97.0,0.0,0.0,1.0,1.0
59982,30,2020-07-05 06,3517.236,19.6,1.7,100.0,0.0,0.0,1.0,1.0
108449,54,2020-06-14 17,5875.416,26.7,3.9,64.0,0.0,1.0,1.0,0.0
76054,38,2020-06-24 22,5120.640,20.5,2.5,97.0,1.6,0.0,1.0,1.0

## 집계값 계산

In [103]:
df.columns

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

In [121]:
df['태양광보유'].value_counts()

0.0    63240
1.0    59160
Name: 태양광보유, dtype: int64

In [118]:
# 전력사용량 기준 집계값 계산
# 평균, 합, 최대값, 최소값, 평균, 분산
print(df['전력사용량(kWh)'].mean())
print(df['전력사용량(kWh)'].sum())
print(df['전력사용량(kWh)'].max())
print(df['전력사용량(kWh)'].min())
print(df['전력사용량(kWh)'].std()) # 표준편차
print(df['전력사용량(kWh)'].var()) # 분산
# print(df['전력사용량(kWh)'].cumsum()) # 누적합
print(df['전력사용량(kWh)'].argmax()) # 최대값 인덱스 리턴
print(df['전력사용량(kWh)'].argmin()) # 최대값 인덱스 리턴 최소, 최대가 여러개면 작은 인덱스
print(df['전력사용량(kWh)'].unique()) # 고윳값, 중복된 데이터가 제거 된 고유한 값만 출력
print(df['전력사용량(kWh)'].nunique()) # 고윳값 갯수 출력
print(df['전력사용량(kWh)'].value_counts()) # 고윳값 갯수 count 내림차순으로 정렬 (카테고리컬 데이터)

2324.830865868444
284559297.98229754
17739.225
0.0
2058.999325845112
4239478.223830625
16166
54684
[8179.056 8135.64  8107.128 ... 4294.08  4212.432 3975.696]
52894
1078.920    25
966.168     24
964.224     22
1049.760    21
1030.320    21
            ..
1642.554     1
1669.275     1
1668.501     1
1661.346     1
3975.696     1
Name: 전력사용량(kWh), Length: 52894, dtype: int64

In [126]:
print(df.loc[df['num'] == 1, '전력사용량(kWh)'].mean())
print(df.loc[df['num'] == 2, '전력사용량(kWh)'].mean())

8543.273488235294
1299.9143647058822

In [129]:
# 값 기준 정렬
# 컬럼 값 기준 가장 큰, 작은 값을 가진 샘플 확인 nlargest
df['전력사용량(kWh)'].nlargest(10)
# 컬럼 값 기준으로 가장 작은 값 nsmallest
df['전력사용량(kWh)'].nsmallest(10)

54684      0.000
54685      0.000
54686      0.000
54687      0.000
54688      0.000
55044     85.320
6343     138.240
55018    146.880
6463     152.496
6319     152.928
Name: 전력사용량(kWh), dtype: float64

## 데이터 재구조화
기존의 데이터 샘플링과는 달리 기준점으로 생각할 수 있는 컬럼 값을 기준으로 새롭게 데이터 프레임을 생성하며  
평균, 합, 카운트 등을 통해 데이터를 다차원적으로 분석 할 수 있는 함수를 제공합니다.
> 기준 변수(컬럼)가 한개 일 경우
>> **`df`**.**`groupby('컬럼명')`**.**`agg(집계방법)`**  

> 기준 변수(컬럼)가 두개 이상일 경우  
>>  **`pd`**.**`pivot_table(data=데이터프레임명, index=기준컬럼1, columns=기준컬럼2, values=집계데이터, aggfunc=집계방법)`**  

>> 적용가능한 통계 함수

| 함수명 | 내용 |
|-|-|
| count | 갯수 |
| sum | 합 |
| mean | 평균 |
| median | 중앙값 |
| var, std | 분산, 표준편차 |
| min, max | 최소값, 최대값 |
| unique, nunique | 고윳값, 고윳값 갯수 |
| prod | 곱 |

In [154]:
df.columns

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

In [156]:
# groupby 피벗테이블 적용 시 인덱스값 하나 설정 (변수가 카테고리컬 결과값 테이블이 명확)
df.groupby('num', as_index=False).agg('mean', numeric_only=True)
# 붉은색 박스 - 워닝메세지 지금현재 코드는 문제 X, 판다스가 버전업이 되면서 앞으로는 이렇게 써야한다.
df.groupby('num').mean(numeric_only=True)
df.groupby('num').agg({'전력사용량(kWh)' : ['mean', 'max', 'min'],
                       '기온(°C)' : ['mean', 'var']}, 
                      numeric_only=True)
df.groupby(['num', '태양광보유']).agg({'전력사용량(kWh)' : ['mean']},)
# 기준변수로 사용할 변수가 여러개여도 사용은 가능하나 해석이 어렵고 생성한 데이터프레임의 값에 접근도 어려워
# 멀티인덱스 추천은 드리지 않음

            전력사용량(kWh)
                  mean
num 태양광보유
1   0.0    8543.273488
2   0.0    1299.914365
3   1.0    3371.353699
4   1.0     763.997353
5   0.0    2714.509694
6   0.0    1184.129868
7   0.0    1527.138356
8   1.0    8837.364073
9   1.0    1256.884880
10  0.0    1427.164069
11  0.0    2391.372635
12  1.0    1748.853338
13  0.0    1089.115200
14  1.0    1770.616219
15  0.0    2198.973266
16  1.0    1660.828447
17  0.0    1019.795029
18  0.0    1797.636244
19  0.0     827.193587
20  0.0    1463.527203
21  1.0    1662.093794
22  0.0    1203.965894
23  1.0    1884.175209
24  1.0    3114.640165
25  0.0    1519.179927
26  1.0    2987.688676
27  1.0     666.142241
28  0.0    2264.569571
29  0.0     861.074248
30  1.0    5761.224314
31  0.0    5964.317576
32  0.0    2402.439671
33  0.0    2576.495435
34  1.0     900.586521
35  0.0    1299.956933
36  1.0    1093.786776
37  1.0    1992.514160
38  1.0    7588.679824
39  1.0    1858.357760
40  1.0    2597.993842
41  0.0    1255.038925
42  1.0    3624.592027
43  1.0    1838.532282
44  1.0    2487.588618
45  1.0    1380.596589
46  0.0    1841.530091
47  1.0    2137.956044
48  0.0    1143.003467
49  0.0    1168.672804
50  0.0    1065.012348
51  1.0    1705.039200
52  1.0    3779.359279
53  0.0    1423.925921
54  0.0    6839.836376
55  1.0    2088.306878
56  1.0     688.120412
57  0.0    2589.972801
58  0.0     913.814029
59  0.0    1070.658348
60  1.0    3354.771964

In [157]:
df.columns

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

In [158]:
# pivot_table 엑셀 피벗테이블 작성하실 때 레이아웃 index, columns
# 기획이 훨신 어려움 데이터도 카테고리컬 데이터가 유효
# 비전기냉방설비운영과 태양광 보유에 따른 전력사용량 평균
pd.pivot_table(data=df,
               index='비전기냉방설비운영',
               columns='태양광보유',
               values='전력사용량(kWh)',
               aggfunc='mean',
               fill_value=0) # 데이터 집계값 계산시 NaN, null 데이터가 생기면 값 대체

태양광보유              0.0          1.0
비전기냉방설비운영
0.0        2077.030506  1582.298192
1.0        2101.993590  2949.726621

## 데이터로 부터 의미있는 정보 추출하기

In [134]:
# 건물번호 10번의 총 전력사용량
df.loc[df['num'] == 10, '전력사용량(kWh)'].sum()

2911414.7000010004

In [140]:
# 기온이 30도 이상인 관측치의 전력사용량 평균
# 2915.704816839361
df.loc[df['기온(°C)'] >= 30, '전력사용량(kWh)'].mean()

2901.692666127581

In [195]:
# 평균 전력사용량이 높은 건물번호 순서대로 5개 나열
df.groupby('num').mean(numeric_only=True).nlargest(5, columns='전력사용량(kWh)')

,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
num,,,,,,,,
8,8837.364073,24.124363,1.305735,79.162255,0.488922,0.199167,1.0,1.0
1,8543.273488,24.608578,2.345980,75.971569,0.493873,0.184608,0.0,0.0
38,7588.679824,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,1.0
54,6839.836376,24.241275,1.937402,82.667157,0.540882,0.219657,1.0,0.0
31,5964.317576,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,0.0

## 데이터프레임 병합
> 실제 분석업무를 진행하다보면 데이터가 여기저기 분산되어 있을 경우가 더 많습니다.  
조각난 데이터를 분석에 필요한 데이터셋으로 만들기 위해 데이터프레임 병합을 많이 사용합니다.  
한개 이상의 데이터프레임을 병합 할 때 주로 사용하는 함수 2가지를 알아보겠습니다.

### 데이터 병합에 사용가능한 key(병합할 기준이 되는 행 or 열)값이 있는경우
> **`pd`**.**`merge(베이스데이터프레임, 병합할데이터프레임)`**

>> 사용가능한 파라메터
>> - how : 'left', 'right', 'inner', 'outer'
>> - left_on : key값이 다를 경우 베이스데이터프레임의 key 설정
>> - right_on : key값이 다를 경우 병합데이터프레임의 key 설정

In [171]:
merge_df1 = pd.DataFrame({
    '이름': ['원영', '사쿠라', '유리', '예나', '유진', '나코', '은비', '혜원', '히토미', '채원', '민주', '째욘'],
    '국어': [100, 70, 70, 70, 60, 90, 90, 70, 70, 80, 100, 100],
    '영어': [100, 90, 80, 50, 70, 100, 70, 90, 100, 100, 80, 100]
    }, columns=['이름', '국어', '영어'])

merge_df2 = pd.DataFrame({
    '일어': [80, 100, 100, 90, 70, 50, 100],
    '수학': [90, 70, 100, 80, 70, 80, 90],
    'name': ['원영', '사쿠라', '나코', '히토미', '예나', '은비', '째욘'],
    }, columns=['일어', '수학', 'name'])

In [172]:
merge_df2

    일어   수학 name
0   80   90   원영
1  100   70  사쿠라
2  100  100   나코
3   90   80  히토미
4   70   70   예나
5   50   80   은비
6  100   90   째욘

In [ ]:
# key 주민번호, id, 전화번호
# 삼성전자 제품 일련번호

In [175]:
# merge 테스트
pd.merge(merge_df1, merge_df2, how='left', left_on='이름', right_on='name') # 'left', 'right', 'inner', 'outer'
# and 양쪽 데이터프레임에 key값의 데이터가 모두 있는 경우 inner
# or 한쪽 데이터프레임에만 데이터가 존재해도 병합 진행 outer
# vlookup 적용한 데이터적용

     이름   국어   영어     일어     수학 name
0    원영  100  100   80.0   90.0   원영
1   사쿠라   70   90  100.0   70.0  사쿠라
2    유리   70   80    NaN    NaN  NaN
3    예나   70   50   70.0   70.0   예나
4    유진   60   70    NaN    NaN  NaN
5    나코   90  100  100.0  100.0   나코
6    은비   90   70   50.0   80.0   은비
7    혜원   70   90    NaN    NaN  NaN
8   히토미   70  100   90.0   80.0  히토미
9    채원   80  100    NaN    NaN  NaN
10   민주  100   80    NaN    NaN  NaN
11   째욘  100  100  100.0   90.0   째욘

### 단순 데이터 연결
> **`pd`**.**`concat([베이스데이터프레임, 병합할데이터프레임], axis=0 or 1)`**  
현재 df에 저장되어있는 데이터에 추가로 데이터를 이어붙여보겠습니다.  
df1 이라는 변수에 이어붙일 데이터를 불러들여 병합을 진행해보겠습니다.

In [176]:
df1 = pd.read_csv('./data/energy2.csv', encoding='cp949')
df1.head()

,num,date_time,기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
0,1,2020-08-25 00,27.8,1.5,74.0,0.0,0.0,NaN,NaN
1,1,2020-08-25 01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-08-25 02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-08-25 03,27.3,1.1,78.0,NaN,0.0,NaN,NaN
4,1,2020-08-25 04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
df.tail()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [181]:
# concat병합은 데이터를 그대로 이어붙이기 때문에 컬럼 순서나 shape이 동일한지 확인 해야 합니다.
df.shape, df1.shape

((122400, 10), (10080, 10))

In [180]:
# 전력사용량 변수 동일 위치에 추가
df1.insert(2, '전력사용량(kWh)', 0)
# 전달하는 데이터를 원하는 변수명으로 df 중간에 삽입

In [ ]:
del df1['전력사용량(kWh)']

In [186]:
# 컬럼명 동일하게 저장
df.columns

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

In [187]:
df1.columns

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm, 6시간)', '일조(hr, 3시간)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

In [193]:
# concat병합은 데이터를 그대로 이어붙이기 때문에 컬럼 순서나 shape이 동일한지 확인 해야 합니다.
# 모두 참이여야 참
# (df.columns == df1.columns).all() # 전체가 참이여야 참
(df.columns == df1.columns).any() # 하나라도 참이면 참
# (df.columns == df1.columns).sum() # 참 갯수 카운트

True

In [206]:
df_concat = pd.concat([df, df1], ignore_index=True)
# axis=0 행기준 병합(기본설정), axis=1 열기준 병합
# 행렬 3 x 4
# 병합 내용이 변수에 저장이 되어야 원본값처럼 사용이 가능
# 작업결과만 확인하는 행위를 뷰값을 본다. 메모리에 저장 되어 있는 값을 참조
# 인덱스까지 이어붙임

In [207]:
df_concat

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
132475,60,2020-08-31 19,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132476,60,2020-08-31 20,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132477,60,2020-08-31 21,0.000,27.9,4.1,68.0,NaN,0.0,1.0,1.0
132478,60,2020-08-31 22,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132479,60,2020-08-31 23,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 인덱스 편집
> 방금 전 concat으로 병합한 데이터프레임의 이상한 점을 찾으셨나요?  
데이터 자체는 잘 붙였지만 인덱스가 꼬여있습니다.  
인덱스 조작은 데이터분석을 위해 필요한 인덱스를 설정하기 위해 필요합니다.

In [203]:
# 뷰를 본다
# 인덱스 초기화 reset_index
# drop=True 기존 인덱스 버림
# inplace=True 뷰값의 작업결과를 원본값에 저장
df_concat.reset_index(drop=True, inplace=True)

In [204]:
# 인덱스 초기화
# 기존에 엉켜있던 인덱스는 지우고 원본값을 변경하는 매개변수를 추가
df_concat

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
132475,60,2020-08-31 19,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132476,60,2020-08-31 20,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132477,60,2020-08-31 21,0.000,27.9,4.1,68.0,NaN,0.0,1.0,1.0
132478,60,2020-08-31 22,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132479,60,2020-08-31 23,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
# 기존 컬럼값을 취해 index로 사용
df_concat.set_index('date_time')

,num,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
date_time,,,,,,,,,
2020-06-01 00,1,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
2020-06-01 01,1,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2020-06-01 02,1,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
2020-06-01 03,1,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
2020-06-01 04,1,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2020-08-31 19,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 20,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 21,60,0.000,27.9,4.1,68.0,NaN,0.0,1.0,1.0
2020-08-31 22,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 23,60,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [208]:
df_concat.to_csv('./data/df_concat.csv', index=False)

In [209]:
df = pd.read_csv('./data/df_concat.csv')
df.shape

(132480, 10)

## 컬럼 편집
> 인덱스 조작과 마찬가지로 데이터프레임의 컬럼을 변경해야 할 경우도 있습니다.  
데이터프레임은 컬럼단위 샘플링 및 인덱싱, 이름변경이 가능합니다.

In [215]:
# 컬럼명 변경
# 한글변수명 X, 영어로 변환
df.rename({'전력사용량(kWh)':'전력사용량',
           '기온(°C)':'기온',
           '풍속(m/s)':'풍속',
           '습도(%)':'습도',
           '강수량(mm)':'강수량',
           '일조(hr)':'일조'}, axis=1, inplace=True)
# 열방향으로 작업을 진행하면서 이름값이 전력~ 이면 value값 기준으로 이름값을 바꾸어라

In [223]:
# 변수 생성
df['기온'] + df['풍속']

0         20.1
1         20.6
2         20.7
3         20.3
4         20.3
          ...
132475     NaN
132476     NaN
132477    32.0
132478     NaN
132479     NaN
Length: 132480, dtype: float64

In [226]:
# 전력사용량2, wh 변환한 전력사용량 데이터 할당
df['전력사용량2'] = df['전력사용량'] * 1000

In [228]:
df.head()

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,test,test2,전력사용량2
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,0,20.1,8179056.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,0,20.6,8135640.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,0,20.7,8107128.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,0,20.3,8048808.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,0,20.3,8043624.0

In [229]:
# 컬럼삭제
del df['test']

In [231]:
df.drop('test2', axis=1, inplace=True)

In [232]:
pop_test = df.pop('전력사용량2') # 데이터를 빼오는 작업

In [235]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132480 entries, 0 to 132479
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        132480 non-null  int64
 1   date_time  132480 non-null  object
 2   전력사용량      132480 non-null  float64
 3   기온         125760 non-null  float64
 4   풍속         125760 non-null  float64
 5   습도         125760 non-null  float64
 6   강수량        124080 non-null  float64
 7   일조         125760 non-null  float64
 8   비전기냉방설비운영  124696 non-null  float64
 9   태양광보유      124024 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 10.1+ MB

In [238]:
# 데이터타입에 따른 변수 선별
df.select_dtypes(object)

            date_time
0       2020-06-01 00
1       2020-06-01 01
2       2020-06-01 02
3       2020-06-01 03
4       2020-06-01 04
...               ...
132475  2020-08-31 19
132476  2020-08-31 20
132477  2020-08-31 21
132478  2020-08-31 22
132479  2020-08-31 23

[132480 rows x 1 columns]

In [241]:
# 변수 590개 
df[df.columns[3:8]]

          기온   풍속    습도  강수량   일조
0       17.6  2.5  92.0  0.8  0.0
1       17.7  2.9  91.0  0.3  0.0
2       17.5  3.2  91.0  0.0  0.0
3       17.1  3.2  91.0  0.0  0.0
4       17.0  3.3  92.0  0.0  0.0
...      ...  ...   ...  ...  ...
132475   NaN  NaN   NaN  NaN  NaN
132476   NaN  NaN   NaN  NaN  NaN
132477  27.9  4.1  68.0  NaN  0.0
132478   NaN  NaN   NaN  NaN  NaN
132479   NaN  NaN   NaN  NaN  NaN

[132480 rows x 5 columns]

### apply 함수로 컬럼에 함수 적용
> 인스턴스 함수인 lambda 와 apply 함수를 사용하여 인자로 받는 모든 데이터에 함수를 적용  
커스텀 함수 적용도 가능

> apply 함수로 컬럼에 적용시키는 코드 구조  
 **`df['컬럼명']`** = **`df['컬럼명']`**.**`apply(lambda x: func(x) if 조건문)`**  
 **`df['컬럼명']`** = **`df['컬럼명']`**.**`apply(함수명)`**

In [247]:
# 화씨 변환 함수
def make_f(x): # 함수명으로 사용할 이름값을 정의
    return x * (9 / 5) + 32

In [249]:
# 함수호출 테스트
make_f(28)

82.4

In [244]:
# 기온 (섭씨) -> 화씨
# c X 9/5 + 32
a = 17.6
a * (9 / 5) + 32

# 함수형태
# y = f(x) 수학함수
# 입력값 x, func(x), y
sum([1, 2, 3])

6

### 날짜 형식 데이터의 활용

In [227]:
# 문자형식 데이터를 날짜형식으로 형변환

In [231]:
# datetime 데이터 타입의 요일정보를 변수로 추가

### 데이터 범주화
간혹 연속형 데이터를 범주화(카테고리컬 데이터) 시켜야 할 경우가 있습니다.  
범주화를 위한 함수를 알아보겠습니다.

0          저온
1          저온
2          저온
3          저온
4          저온
         ...
132475    NaN
132476    NaN
132477     고온
132478    NaN
132479    NaN
Name: 기온, Length: 132480, dtype: category
Categories (2, object): ['저온' < '고온']

## 결측치 처리
> 데이터 분석을 위해서는 데이터셋 내에 빈 값이 있는 경우 분석에 방해가 될 수 있는 여지가 많습니다.  
모든 결측치를 없애야 하는 것은 아니지만 되도록이면 결측치를 채우는 방법, 혹은 없애는 방법등으로 결측치를 처리합니다.  
몇가지 예시를 살펴보면서 결측치 처리에 대해 알아봅시다.

In [232]:
# info() 함수는 결측치에 대한 정보도 보여줍니다.
# 컬럼별 isnull() 함수를 사용해도 무방합니다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132480 entries, 0 to 132479
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        132480 non-null  int64
 1   date_time  132480 non-null  datetime64[ns]
 2   전력사용량      122400 non-null  float64
 3   기온         125760 non-null  float64
 4   풍속         125760 non-null  float64
 5   습도         125760 non-null  float64
 6   강수량        124080 non-null  float64
 7   일조         125760 non-null  float64
 8   비전기냉방설비운영  124696 non-null  float64
 9   태양광보유      124024 non-null  float64
 10  전력사용량(Wh)  122400 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 11.1 MB

확인결과 num, date_time 변수를 제외 한 다른 변수에 결측치가 존재합니다.  
해당 컬럼의 결측치 샘플들을 살펴보고 결측치를 처리해 보겠습니다.

In [233]:
# 컬럼별 결측치 확인을 위한 isnull()함수 리턴값이 bool 형태로 반환되어 조건부 샘플링이 가능합니다.

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력사용량(Wh)
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
132475,False,False,True,True,True,True,True,True,True,True,True
132476,False,False,True,True,True,True,True,True,True,True,True
132477,False,False,True,False,False,False,True,False,False,False,True
132478,False,False,True,True,True,True,True,True,True,True,True
132479,False,False,True,True,True,True,True,True,True,True,True

### 결측치 비율 계산

In [235]:
# 컬럼명을 순환하면서 결측치 비율 계산

num 0.0
date_time 0.0
전력사용량 0.08235294117647059
기온 0.054901960784313725
풍속 0.054901960784313725
습도 0.054901960784313725
강수량 0.06862745098039216
일조 0.054901960784313725
비전기냉방설비운영 0.06359477124183006
태양광보유 0.06908496732026144
전력사용량(Wh) 0.08235294117647059

In [239]:
# fillna() 함수로 NaN 값을 컬럼의 평균으로 채우기

0         17.60000
1         17.70000
2         17.50000
3         17.10000
4         17.00000
            ...
132475    24.34667
132476    24.34667
132477    27.90000
132478    24.34667
132479    24.34667
Name: 기온, Length: 132480, dtype: float64

### 결측치 제거

In [240]:
# 마지막에 합니다.

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력사용량(Wh)
0,1,2020-06-01 00:00:00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,8179056.0
1,1,2020-06-01 01:00:00,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,8135640.0
2,1,2020-06-01 02:00:00,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,8107128.0
3,1,2020-06-01 03:00:00,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,8048808.0
4,1,2020-06-01 04:00:00,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,8043624.0
...,...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19:00:00,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0,4114368.0
122396,60,2020-08-24 20:00:00,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0,3975696.0
122397,60,2020-08-24 21:00:00,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0,3572208.0
122398,60,2020-08-24 22:00:00,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0,3299184.0
122399,60,2020-08-24 23:00:00,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0,3204576.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122400 entries, 0 to 122399
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        122400 non-null  int64
 1   date_time  122400 non-null  datetime64[ns]
 2   전력사용량      122400 non-null  float64
 3   기온         122400 non-null  float64
 4   풍속         122400 non-null  float64
 5   습도         122400 non-null  float64
 6   강수량        122400 non-null  float64
 7   일조         122400 non-null  float64
 8   비전기냉방설비운영  122400 non-null  float64
 9   태양광보유      122400 non-null  float64
 10  전력사용량(Wh)  122400 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 11.2 MB

이제 모든 컬럼에 결측치가 사라졌습니다. 이후 분석은 시각화를 통해 진행해보겠습니다.