In [ ]:
# 파이썬은 오픈소스 프로그래밍 언어
# 사용도 무료, 남이 만든 프로그램을 가져와서 쓰는것도 자유, 무료
# 라이브러리, 패키지, 모듈 --> 파이썬에서 가져와서 사용가능한 프로그램
# 특정 목적을 위해 만들어진 코드 묶음
# pandas 데이터 로딩, 처리, 저장 전처리를 위한 다양한 기능을 모함하는 프로그램

# Pandas
> 데이터 과학자를 위해 테이블형태로 데이터를 다룰 수 있게 해주는 패키지 (python용 엑셀)  
기존 데이터처리 라이브러리인 numpy 대신 주로 사용  
일반인이 데이터분석을 접하기 쉽게 만들어준 결정적인 라이브러리  
pandas만으로도 충분히 데이터 분석이 가능할 정도로 고수준의 함수들을 내장  
앞으로 진행하는 데이터분석 과정에서 주로 사용하게 될 데이터구조

## pandas 설치
> 콘솔창에서 실행 시  
**pip install pandas**
    
> 주피터 노트북으로 실행 시  
 **!pip install pandas**
    
> 아나콘다 환경으로 python 환경설정 시 기본적으로 설치가 되어있음

In [1]:
# pandas 설치
!pip install pandas

Requirement already satisfied: pandas in /Users/byun/anaconda3/envs/main/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/byun/anaconda3/envs/main/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/byun/anaconda3/envs/main/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/byun/anaconda3/envs/main/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/byun/anaconda3/envs/main/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
# 필요 모듈 import
import pandas as pd # pandas 패키지를 불러들여서 pd라는 약자로 사용하겠다.
# 100 / 100 대부분의 유저가 이렇게 사용을 합니다.

In [ ]:
# 이런것도 할 수 있어요~
# 텍스트를 음성으로 변환시켜주는 패키지(모듈) 입니다.
# 사용하기 전 패키지를 다운받는 과정이 필요합니다.
# !pip install pyttsx3
import pyttsx3
engine = pyttsx3.init()
engine.say("수강생여러분.")
engine.say("파이썬 공부하느라 고생하십니다.")
engine.say("파이썬으로 이런것도 가능해요")
engine.say("하지만 이해못해도 괜챦아요.")
engine.say("왜냐하면 우리는 가져다 쓸꺼니까요. 찡긋")
engine.runAndWait()

## DataFrame 데이터 불러오기
> 엑셀에 익숙한 사용자를 위해 제작 된 테이블형태의 데이터 구조  
다양한 형태의 데이터를 받아 사용할 수 있으며 다양한 통계, 시각화 함수를 제공한다.  
실제 데이터를 불러들이고 값을 확인 해 보며 기본적인 pandas 사용법을 익혀보도록 하겠습니다.

### 데이터 불러오기
pandas는 다양한 데이터 파일 형태를 지원하며 주로 csv, xlsx, sql을 사용한다.
    
> **`read_csv()`**  
**`read_excel()`**  
**`read_sql()`**  
**`read_json()`**

### csv 파일 로딩

In [7]:
pwd

'/Users/byun/0_lecture/06_samsung_preprocessing/2023_preprocessing_16'

In [2]:
# DataFrame 의 약자로서 형식적으로 df 변수명을 사용한다.
# pandas패키지의 read_csv() 함수를 사용하여 energy1.csv 파일을 불러들여 
# 데이터프레임을 만들고 df 이름의 변수로 저장
df = pd.read_csv('./data/energy1.csv', encoding='cp949')
# 불러들이고자 하는 파일의 경로+파일명+확장자를 문자열 형태로 전달
# 윈도우는 encoding='cp949', 파이썬 기본설정 'utf-8'

In [3]:
df

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

### excel 파일 로딩

In [12]:
# 만약 모듈을 찾을 수 없는 오류가 발생한다면 추가 모듈 설치
pd.read_excel('./data/energy1.xlsx', sheet_name='시트명')
# sheet_name='시트명' 지정하는 시트의 데이터를 불러와서 데이터프레임으로 저장
# header=인덱스넘버 인덱스넘버에 해당하는 열부터 데이터다 명시 가능

/Users/byun/anaconda3/envs/main/lib/python3.11/xml/etree/ElementTree.py:1647: UninitializedDeallocWarning: leaking an uninitialized object of type NSSpeechDriver
  return self.target.start(tag, attrib)

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0,0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0,0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0,0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0,0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1,1
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1,1
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1,1
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1,1
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1,1

### json 파일 로딩

,symbolCode,date,tradePrice,tradeTime,change,changePrice,changeRate,prevClosingPrice,exchangeCountry,openingPrice,highPrice,lowPrice,accTradePrice,accTradeVolume,periodTradePrice,periodTradeVolume,listedSharesCount
0,A005930,2023-02-03 15:30:19,63800,15:30:19,RISE,300,0.004724,63500,KOREA,63900,64000,63000,942509594000,14804617,942509594000,14804617,NaN
1,A005930,2023-02-02 15:30:07,63500,15:30:07,RISE,1700,0.027508,61800,KOREA,63200,63900,62600,1474629229812,23285983,1474629229812,23285983,NaN
2,A005930,2023-02-01 15:30:23,61800,15:30:23,RISE,800,0.013115,61000,KOREA,62600,62700,61000,1145781815984,18570133,1145781815984,18570133,NaN
3,A005930,2023-01-31 15:30:07,61000,15:30:07,FALL,2300,-0.036335,63300,KOREA,63500,63700,61000,1835768640685,29746731,1835768640685,29746731,NaN
4,A005930,2023-01-30 15:30:19,63300,15:30:19,FALL,1300,-0.020124,64600,KOREA,64900,64900,63100,1337025734920,20995234,1337025734920,20995234,NaN
5,A005930,2023-01-27 15:30:08,64600,15:30:08,RISE,700,0.010955,63900,KOREA,64400,65000,63900,1212764792491,18760182,1212764792491,18760182,NaN
6,A005930,2023-01-26 15:30:14,63900,15:30:14,RISE,500,0.007886,63400,KOREA,63800,63900,63300,846408637700,13278277,846408637700,13278277,NaN
7,A005930,2023-01-25 15:30:24,63400,15:30:24,RISE,1600,0.025890,61800,KOREA,63500,63700,63000,1066200962700,16822710,1066200962700,16822710,NaN
8,A005930,2023-01-20 15:30:22,61800,15:30:22,RISE,300,0.004878,61500,KOREA,62100,62300,61100,595372614900,9646327,595372614900,9646327,NaN
9,A005930,2023-01-19 15:30:25,61500,15:30:25,RISE,1100,0.018212,60400,KOREA,60500,61500,60400,781937546636,12808490,781937546636,12808490,NaN

### API를 활용하여 웹에서 수집한 데이터 로딩

In [13]:
import requests # 컴퓨터간 통신 프로토콜을 파이썬 제어
import json # json
url = 'https://finance.daum.net/api/quote/A005930/days?symbolCode=A005930&page=1&perPage=10&pagination=true'
info = {
    'referer': 'https://finance.daum.net/quotes/A005930?period=day',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'
}

resp = requests.get(url, headers=info)
data = json.loads(resp.text)
pd.DataFrame(data['data'])
# 삼성전자 주가 데이터

,symbolCode,date,tradePrice,tradeTime,change,changePrice,changeRate,prevClosingPrice,exchangeCountry,openingPrice,highPrice,lowPrice,accTradePrice,accTradeVolume,periodTradePrice,periodTradeVolume,listedSharesCount
0,A005930,2023-09-12 15:30:14,70500.0,15:30:14,FALL,300.0,-0.004237,70800.0,KOREA,70800.0,71000.0,70400.0,821865476400,11639868,821865476400,11639868,None
1,A005930,2023-09-11 15:30:11,70800.0,15:30:11,RISE,500.0,0.007112,70300.0,KOREA,70400.0,70800.0,70000.0,830034512852,11785462,830034512852,11785462,None
2,A005930,2023-09-08 15:30:24,70300.0,15:30:24,FALL,100.0,-0.001420,70400.0,KOREA,70200.0,70300.0,69600.0,747653334264,10688118,747653334264,10688118,None
3,A005930,2023-09-07 15:30:27,70400.0,15:30:27,RISE,400.0,0.005714,70000.0,KOREA,70000.0,70600.0,69600.0,964326666248,13741241,964326666248,13741241,None
4,A005930,2023-09-06 15:30:09,70000.0,15:30:09,FALL,700.0,-0.009901,70700.0,KOREA,70700.0,70800.0,69700.0,799882288000,11414620,799882288000,11414620,None
5,A005930,2023-09-05 15:30:13,70700.0,15:30:13,FALL,500.0,-0.007022,71200.0,KOREA,70900.0,71500.0,70200.0,871401576900,12330239,871401576900,12330239,None
6,A005930,2023-09-04 15:30:29,71200.0,15:30:29,RISE,200.0,0.002817,71000.0,KOREA,72900.0,72900.0,70700.0,1881296768471,26286495,1881296768471,26286495,None
7,A005930,2023-09-01 15:30:20,71000.0,15:30:20,RISE,4100.0,0.061286,66900.0,KOREA,66800.0,71000.0,66700.0,2064179447500,29738235,2064179447500,29738235,None
8,A005930,2023-08-31 15:30:28,66900.0,15:30:28,FALL,200.0,-0.002981,67100.0,KOREA,67100.0,67200.0,66400.0,1066351061800,15964630,1066351061800,15964630,None
9,A005930,2023-08-30 15:30:20,67100.0,15:30:20,RISE,300.0,0.004491,66800.0,KOREA,67300.0,67700.0,67100.0,618598277000,9181223,618598277000,9181223,None

### 데이터베이스에서 쿼리를 사용한 데이터 로딩

In [ ]:
# 참고! 실습은 하지 않습니다만 쿼리를 사용하여 데이터베이스로부터 데이터프레임을 만드는 것도 가능합니다.
# 데이터베이스로 부터 자료 읽기

# 필요한 모듈 추가 설치 - 각 데이터베이스 별로 다릅니다.
# !pip install pymysql

# sql 모듈 로드하기
# import pymysql
# mysql, mariadb, sqlite, postgresql, ms-sql, oracle, mongodb

# 접속하기
# 접속방법 또한 DB 종류에 따라 다릅니다.
# con = pymysql.connect(host='db서버주소', port=3306, user='id', passwd='pwd', db='dbname')

# query 만들기
# query = 'select * from samples'

# 자료 불러오기
# data = pd.read_sql(query, con=con)

### 암호화 엑셀 파일 로딩

In [ ]:
# 나스카가 걸린 엑셀파일 --> 엑셀 프로그램으로 오픈 --> 클립보드 복사 ---> 데이터프레임으로 로딩

In [14]:
# pip uninstall xlwings
# pip instal appscript
# pip install xlwings
import pandas as pd
import xlwings as xw

book = xw.Book('./data/energy1.xlsx')
sheet1 = book.sheets[0] # 시트번호로 선택
# sheet2 = book.sheet['시트명'] # 시트이름으로 선택
sheet1.used_range # 데이터입력 전 영역선택
df = sheet1.used_range.options(pd.DataFrame, index=False).value
df.head()

# 로컬컴퓨터에 엑셀이 있어야 함.

ApplicationNotFoundError: Local application 'Microsoft Excel.app' not found.

## 데이터 저장하기
불러들인 혹은 작업을 마친 데이터프레임을 다양한 파일형태로 저장이 가능합니다.  
데이터분석 과정은 원본데이터를 되도록이면 유지하며 전처리를 진행하지만 주기적으로 백업은 진행하는 것이 좋습니다.  
> **`to_csv()`**  
**`to_excel()`**

In [18]:
df

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [19]:
# 데이터 저장
df.to_csv('./data/save_test.csv', index=False, encoding='cp949')
# index=False 데이터를 저장하면서 인덱스를 초기화시켜서 저장 옵션
# encoding='cp949' 윈도우에서 파이썬으로 작업한 파일을 확인하고자 할 때 윈도우 인코딩 방식 지정

In [20]:
# 엑셀은 오래걸립니다~
df.to_excel('./data/save_test.xlsx', encoding='cp949')

/Users/byun/anaconda3/envs/main/lib/python3.11/site-packages/pandas/util/_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

## 사용 데이터 간략 설명
> 한국에너지관리공단에서 제공한 전력사용량 데이터  
1시간 간격으로 수집 된 60개 건물들의 2020년 6월 1일 부터 2020년 8월 24일까지의 데이터  
건물정보와 기후정보를 활용한 전력사용량을 예측하기 위한 데이터셋  
대회홈페이지 : https://dacon.io/competitions/official/235736/overview/description
>> 각 변수(컬럼) 설명  
>>- num : 건물번호  
>>- date_time : 데이터가 수집 된 날짜, 시간  
>>- 전력사용량 : 수집 된 시점에 사용한 전력량  
>>- 비전기냉방설비운영 : 0-미운영, 1-운영  
>>- 태양광보유 : 0-미보유, 1-보유

In [21]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

## 데이터 살펴보기

In [ ]:
# 테이블형태의 데이터 - 행렬
# 행 - row, 행, 샘플, 관측치, 인스턴스, 이벤트
# 열 - 열, columns, feature, 변수

In [23]:
# 데이터를 불러들인 후 가장 처음 하는 작업
# 데이터의 구조, 형태 파악하기
# 데이터의 첫 5개 관측치 확인하기
df.head(10)

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
5,1,2020-06-01 05,8010.576,16.9,3.4,93.0,0.0,0.0,0.0,0.0
6,1,2020-06-01 06,7978.176,16.7,3.4,90.0,0.1,0.0,0.0,0.0
7,1,2020-06-01 07,8019.000,16.9,2.3,86.0,0.0,0.1,0.0,0.0
8,1,2020-06-01 08,8020.944,17.8,3.3,80.0,0.0,0.3,0.0,0.0
9,1,2020-06-01 09,8083.152,19.3,2.1,73.0,0.0,0.7,0.0,0.0

In [24]:
# 데이터의 마지막 5개 샘플 확인하기
df.tail()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [25]:
# 데이터의 갯수를 살펴봅니다
len(df)

122400

In [26]:
# 데이터 shape 확인, 행렬데이터의 사이즈 4 X 5
df.shape

(122400, 10)

In [27]:
# 데이터의 전반적인 정보를 확인합니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   num         122400 non-null  int64
 1   date_time   122400 non-null  object
 2   전력사용량(kWh)  122400 non-null  float64
 3   기온(°C)      122400 non-null  float64
 4   풍속(m/s)     122400 non-null  float64
 5   습도(%)       122400 non-null  float64
 6   강수량(mm)     122400 non-null  float64
 7   일조(hr)      122400 non-null  float64
 8   비전기냉방설비운영   122400 non-null  float64
 9   태양광보유       122400 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 9.3+ MB

In [28]:
# 데이터의 기초통계량을 확인합니다.
df.describe()

,num,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
count,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000
mean,30.500000,2324.830866,24.251713,2.151641,80.169848,0.514989,0.213533,0.683333,0.483333
std,17.318173,2058.999326,3.407902,1.514475,15.525862,2.624505,0.370517,0.465178,0.499724
min,1.000000,0.000000,11.100000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,15.750000,1055.268000,21.800000,1.100000,70.000000,0.000000,0.000000,0.000000,0.000000
50%,30.500000,1700.352000,24.200000,1.900000,84.000000,0.000000,0.000000,1.000000,0.000000
75%,45.250000,2780.487000,26.500000,2.900000,93.000000,0.000000,0.300000,1.000000,1.000000
max,60.000000,17739.225000,36.300000,20.100000,100.000000,81.500000,1.000000,1.000000,1.000000

In [30]:
# 변수명
df.columns, df.shape

(Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
        '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
       dtype='object'),
 (122400, 10))

데이터셋을 살펴 본 결과 시간별로 관측 된 기후데이터와 전력사용량을 확인 할 수 있었습니다.  
각각의 관측치(샘플)에 대한 정보를 유추하고, 건물별로 수집 된 데이터의 특징을 볼 수 있었습니다.  
데이터의 크기, 사이즈, 기초통계량을 바탕으로 조금 더 디테일하게 데이터를 살펴보겠습니다.

## 데이터접근 (인덱싱, 슬라이싱, 샘플링)

In [32]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [33]:
df.iloc[[0]] # 벡터형태의 데이터를 판다스 serise 자료구조

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0

In [34]:
# 10번 인덱스 부터 20번 인덱스 샘플 접근
df.iloc[10:21]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
10,1,2020-06-01 10,8116.200,20.5,3.4,62.0,0.0,1.0,0.0,0.0
11,1,2020-06-01 11,8104.536,22.1,3.6,52.0,0.0,1.0,0.0,0.0
12,1,2020-06-01 12,8088.984,23.1,4.0,49.0,0.0,1.0,0.0,0.0
13,1,2020-06-01 13,8102.592,23.1,5.1,42.0,0.0,1.0,0.0,0.0
14,1,2020-06-01 14,8088.336,23.6,5.1,39.0,0.0,1.0,0.0,0.0
15,1,2020-06-01 15,8076.672,23.8,5.5,40.0,0.0,1.0,0.0,0.0
16,1,2020-06-01 16,8032.608,24.4,3.0,39.0,0.0,1.0,0.0,0.0
17,1,2020-06-01 17,8013.816,23.6,4.4,41.0,0.0,1.0,0.0,0.0
18,1,2020-06-01 18,8029.368,22.7,4.1,42.0,0.0,1.0,0.0,0.0
19,1,2020-06-01 19,8028.072,21.3,4.2,44.0,0.0,1.0,0.0,0.0
20,1,2020-06-01 20,7994.376,19.8,2.5,51.0,0.0,0.4,0.0,0.0

In [5]:
# 여러개의 관측치에 접근
df.iloc[[0, 10, 20]]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
10,1,2020-06-01 10,8116.200,20.5,3.4,62.0,0.0,1.0,0.0,0.0
20,1,2020-06-01 20,7994.376,19.8,2.5,51.0,0.0,0.4,0.0,0.0

In [6]:
# 변수 단위 샘플 접근
df['전력사용량(kWh)']

0         8179.056
1         8135.640
2         8107.128
3         8048.808
4         8043.624
            ...
122395    4114.368
122396    3975.696
122397    3572.208
122398    3299.184
122399    3204.576
Name: 전력사용량(kWh), Length: 122400, dtype: float64

In [7]:
# 여러 컬럼 동시 접근
df[['date_time', '전력사용량(kWh)']]

            date_time  전력사용량(kWh)
0       2020-06-01 00    8179.056
1       2020-06-01 01    8135.640
2       2020-06-01 02    8107.128
3       2020-06-01 03    8048.808
4       2020-06-01 04    8043.624
...               ...         ...
122395  2020-08-24 19    4114.368
122396  2020-08-24 20    3975.696
122397  2020-08-24 21    3572.208
122398  2020-08-24 22    3299.184
122399  2020-08-24 23    3204.576

[122400 rows x 2 columns]

In [9]:
# row와 columns을 동시에 슬라이싱 하는 속성
# df.loc[인덱스, 컬럼명]
df.loc[10:20, ['date_time','전력사용량(kWh)']]

        date_time  전력사용량(kWh)
10  2020-06-01 10    8116.200
11  2020-06-01 11    8104.536
12  2020-06-01 12    8088.984
13  2020-06-01 13    8102.592
14  2020-06-01 14    8088.336
15  2020-06-01 15    8076.672
16  2020-06-01 16    8032.608
17  2020-06-01 17    8013.816
18  2020-06-01 18    8029.368
19  2020-06-01 19    8028.072
20  2020-06-01 20    7994.376

## 팬시인덱싱 전달
기본적인 인덱싱 방법에 추가로 조건에 따른 데이터 샘플링도 가능합니다.  
넘파이의 bool 타입데이터를 인덱스로 전달받는 방법으로 조건에 다른 데이터를 선별한다면 조금 더 고차원적인 데이터 선택이 가능합니다.

In [12]:
# 조건식을 인덱스로 받는 팬시인덱싱
# 건물 번호 기준으로 한 건물에 해당하는 관측치 선별
df.loc[df['num'] == 1]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2035,1,2020-08-24 19,8714.952,29.4,3.4,66.0,0.0,0.2,0.0,0.0
2036,1,2020-08-24 20,8740.224,28.7,1.9,69.0,0.0,0.0,0.0,0.0
2037,1,2020-08-24 21,8730.504,28.3,1.1,71.0,0.0,0.0,0.0,0.0
2038,1,2020-08-24 22,8725.968,28.3,2.4,72.0,0.0,0.0,0.0,0.0
2039,1,2020-08-24 23,8705.232,28.1,2.3,73.0,0.0,0.0,0.0,0.0

In [15]:
# 전력 사용량 기준으로 15000kWh 이상 사용한 관측치 
df.loc[df['전력사용량(kWh)'] >= 15000]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
14459,8,2020-06-08 11,15177.411,27.9,1.2,53.0,0.0,1.0,1.0,1.0
14464,8,2020-06-08 16,15152.454,31.0,1.5,40.0,0.0,1.0,1.0,1.0
14482,8,2020-06-09 10,15139.800,26.7,0.9,50.0,0.0,1.0,1.0,1.0
14483,8,2020-06-09 11,15417.936,28.7,1.8,45.0,0.0,1.0,1.0,1.0
14485,8,2020-06-09 13,15177.420,30.7,1.4,36.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
16309,8,2020-08-24 13,17423.793,31.5,2.0,56.0,0.0,1.0,1.0,1.0
16310,8,2020-08-24 14,17458.137,31.4,1.9,55.0,0.0,1.0,1.0,1.0
16311,8,2020-08-24 15,17230.671,32.1,2.1,56.0,0.0,1.0,1.0,1.0
16312,8,2020-08-24 16,17300.313,32.3,1.6,54.0,0.0,1.0,1.0,1.0
16313,8,2020-08-24 17,17136.351,31.6,1.0,57.0,0.0,1.0,1.0,1.0

In [17]:
# 30번 이후 건물데이터 모두 선택
df.loc[df['num'] >= 30]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
59160,30,2020-06-01 00,5032.908,19.3,2.2,99.0,0.0,0.0,1.0,1.0
59161,30,2020-06-01 01,4625.748,18.7,2.8,99.0,0.0,0.0,1.0,1.0
59162,30,2020-06-01 02,4002.048,17.3,2.6,100.0,0.0,0.0,1.0,1.0
59163,30,2020-06-01 03,2995.488,18.6,3.6,100.0,0.0,0.0,1.0,1.0
59164,30,2020-06-01 04,2418.336,18.4,5.1,100.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [20]:
# 해당시간 데이터보다 나중에 발생한 관측치 선택 
df.loc[df['date_time'] > '2020-07-31 23']

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
1464,1,2020-08-01 00,8623.584,25.0,3.4,90.0,1.0,0.0,0.0,0.0
1465,1,2020-08-01 01,8591.184,24.6,0.5,90.0,0.2,0.0,0.0,0.0
1466,1,2020-08-01 02,8582.112,24.6,0.5,91.0,0.0,0.0,0.0,0.0
1467,1,2020-08-01 03,8593.776,24.7,1.2,93.0,0.0,0.0,0.0,0.0
1468,1,2020-08-01 04,8575.632,24.7,0.8,94.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [24]:
# or 연산 | 
# and 연산 &
# 조건을 2개 사용한 관측치 선택 비전기냉방설비운영, 태양광보유 한 관측치 찾기
# 고온다습한 기후의 관측치를 선별 기온 30도 이상, 습도 80이상
df.loc[(df['기온(°C)'] >= 30) & (df['습도(%)'] >= 80)]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
18064,9,2020-08-12 16,1308.312,30.0,1.2,83.0,0.0,0.2,0.0,1.0
28238,14,2020-08-11 14,2634.660,30.4,4.9,81.0,0.3,0.3,1.0,1.0
32152,16,2020-08-04 16,1909.008,30.0,2.4,81.0,0.0,0.2,1.0,1.0
32172,16,2020-08-05 12,2010.420,30.4,4.0,81.0,0.0,0.8,1.0,1.0
32362,16,2020-08-13 10,2016.252,30.4,1.7,83.0,0.0,0.4,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
116051,57,2020-08-15 11,2235.168,30.1,3.1,81.0,0.0,0.9,1.0,0.0
116075,57,2020-08-16 11,2255.040,30.6,3.0,81.0,0.0,1.0,1.0,0.0
116082,57,2020-08-16 18,2365.632,30.1,3.2,82.0,0.0,0.5,1.0,0.0
116107,57,2020-08-17 19,2464.992,30.3,0.9,82.0,0.0,0.3,1.0,0.0
116131,57,2020-08-18 19,3120.336,30.0,1.6,80.0,0.0,0.9,1.0,0.0

In [29]:
# or 건물번호 10번 건물 40번건물
df.loc[(df['num'] == 10) | (df['num'] == 40)]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
18360,10,2020-06-01 00,417.960000,18.3,2.5,94.0,0.0,0.0,1.0,0.0
18361,10,2020-06-01 01,407.592000,18.8,2.3,89.0,0.0,0.0,1.0,0.0
18362,10,2020-06-01 02,404.028000,19.0,3.2,86.0,0.0,0.0,1.0,0.0
18363,10,2020-06-01 03,397.548000,19.0,4.1,85.0,0.0,0.0,1.0,0.0
18364,10,2020-06-01 04,397.224000,18.9,3.9,87.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
81595,40,2020-08-24 19,3776.670000,31.1,1.1,67.0,0.0,0.6,1.0,1.0
81596,40,2020-08-24 20,2494.083659,29.3,0.7,80.0,0.0,0.0,1.0,1.0
81597,40,2020-08-24 21,1343.769750,28.6,0.9,84.0,0.0,0.0,1.0,1.0
81598,40,2020-08-24 22,947.151000,28.3,1.3,88.0,0.0,0.0,1.0,1.0
81599,40,2020-08-24 23,1975.392000,27.8,0.7,88.0,0.0,0.0,1.0,1.0

In [32]:
# 조건식이 아닌 특정 값 기준으로 데이터를 찾을 때
# 필터링 샘플링 하실 때 조건식보다 조금 더 편하실 수 있음
# 건물 번호기준으로 1, 3, 5, 7, 9
df.loc[df['num'].isin([1, 3, 5, 7, 9])]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
18355,9,2020-08-24 19,1321.920,28.2,0.6,77.0,0.0,0.3,0.0,1.0
18356,9,2020-08-24 20,1299.240,27.0,1.1,84.0,0.0,0.0,0.0,1.0
18357,9,2020-08-24 21,1286.280,26.8,0.8,85.0,0.0,0.0,0.0,1.0
18358,9,2020-08-24 22,1295.676,25.1,0.8,92.0,0.0,0.0,0.0,1.0
18359,9,2020-08-24 23,1301.724,24.7,0.3,94.0,0.0,0.0,0.0,1.0

In [35]:
# contains로 전달하는 문자열이 포함되면 True
df.loc[df['date_time'].str.contains('08-01 08')]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
1472,1,2020-08-01 08,8576.2800,24.6,1.2,96.0,0.1,0.0,0.0,0.0
3512,2,2020-08-01 08,1243.8360,26.1,3.3,86.0,0.0,0.3,1.0,0.0
5552,3,2020-08-01 08,3854.3688,26.0,3.0,94.0,0.0,0.0,1.0,1.0
7592,4,2020-08-01 08,569.8080,25.9,0.6,92.0,0.0,0.0,1.0,1.0
9632,5,2020-08-01 08,2511.2160,26.1,3.3,86.0,0.0,0.3,1.0,0.0
11672,6,2020-08-01 08,691.7400,26.0,3.0,94.0,0.0,0.0,0.0,0.0
13712,7,2020-08-01 08,962.3610,24.6,1.2,96.0,0.1,0.0,1.0,0.0
15752,8,2020-08-01 08,5774.6880,25.9,0.4,93.0,0.0,0.1,1.0,1.0
17792,9,2020-08-01 08,1247.5080,24.5,0.6,100.0,0.0,0.0,0.0,1.0
19832,10,2020-08-01 08,877.7160,26.1,3.3,86.0,0.0,0.3,1.0,0.0
21872,11,2020-08-01 08,879.1200,26.1,3.3,86.0,0.0,0.3,0.0,0.0
23912,12,2020-08-01 08,943.0560,24.6,4.7,96.0,1.3,0.0,1.0,1.0
25952,13,2020-08-01 08,1035.8280,25.6,0.0,87.0,0.0,0.0,1.0,0.0
27992,14,2020-08-01 08,1622.4300,27.6,0.6,74.0,0.0,0.2,1.0,1.0
30032,15,2020-08-01 08,2361.9600,26.0,3.0,94.0,0.0,0.0,1.0,0.0
32072,16,2020-08-01 08,1564.9200,26.1,0.0,94.0,0.0,0.1,1.0,1.0
34112,17,2020-08-01 08,813.2400,24.6,1.2,96.0,0.1,0.0,1.0,0.0
36152,18,2020-08-01 08,790.4250,26.0,3.0,94.0,0.0,0.0,0.0,0.0
38192,19,2020-08-01 08,851.3100,26.1,3.3,86.0,0.0,0.3,0.0,0.0
40232,20,2020-08-01 08,1498.9320,24.6,1.2,96.0,0.1,0.0,0.0,0.0
42272,21,2020-08-01 08,1712.6640,24.6,1.2,96.0,0.1,0.0,0.0,1.0
44312,22,2020-08-01 08,1045.2240,25.1,0.1,97.0,0.0,0.0,1.0,0.0
46352,23,2020-08-01 08,1590.6330,25.1,0.1,97.0,0.0,0.0,0.0,1.0
48392,24,2020-08-01 08,3014.0640,26.0,3.0,94.0,0.0,0.0,1.0,1.0
50432,25,2020-08-01 08,1147.9320,26.0,3.0,94.0,0.0,0.0,1.0,0.0
52472,26,2020-08-01 08,2642.2200,25.6,0.2,94.0,0.0,0.0,0.0,1.0
54512,27,2020-08-01 08,473.8500,25.4,0.1,92.0,0.0,0.0,1.0,1.0
56552,28,2020-08-01 08,2758.1040,26.1,3.3,86.0,0.0,0.3,1.0,0.0
58592,29,2020-08-01 08,986.9040,27.3,1.2,92.0,0.0,0.4,0.0,0.0
60632,30,2020-08-01 08,5989.7880,27.0,4.6,92.0,0.0,0.1,1.0,1.0
62672,31,2020-08-01 08,6013.4400,24.6,1.2,96.0,0.1,0.0,1.0,0.0
64712,32,2020-08-01 08,2392.8480,26.0,3.0,94.0,0.0,0.0,0.0,0.0
66752,33,2020-08-01 08,2493.5040,25.1,0.1,97.0,0.0,0.0,1.0,0.0
68792,34,2020-08-01 08,761.0760,24.6,1.2,96.0,0.1,0.0,1.0,1.0
70832,35,2020-08-01 08,1156.8960,24.6,4.7,96.0,1.3,0.0,1.0,0.0
72872,36,2020-08-01 08,1159.9200,26.6,3.8,82.0,0.0,0.8,0.0,1.0
74912,37,2020-08-01 08,1492.5960,23.1,1.0,87.0,0.0,0.0,1.0,1.0
76952,38,2020-08-01 08,9288.7200,24.6,1.2,96.0,0.1,0.0,1.0,1.0
78992,39,2020-08-01 08,1709.6040,26.5,1.2,86.0,0.0,0.6,1.0,1.0
81032,40,2020-08-01 08,2027.5830,25.1,0.1,97.0,0.0,0.0,1.0,1.0
83072,41,2020-08-01 08,840.1320,26.0,3.0,94.0,0.0,0.0,1.0,0.0
85112,42,2020-08-01 08,2906.6040,24.6,4.7,96.0,1.3,0.0,1.0,1.0
87152,43,2020-08-01 08,1985.2560,26.1,0.4,84.0,0.0,0.0,1.0,1.0
89192,44,2020-08-01 08,2562.8400,26.1,0.3,95.0,0.0,0.1,1.0,1.0
91232,45,2020-08-01 08,1837.1610,26.0,3.0,94.0,0.0,0.0,0.0,1.0
93272,46,2020-08-01 08,1416.9600,24.6,1.2,96.0,0.1,0.0,1.0,0.0
95312,47,2020-08-01 08,1674.8640,24.6,1.2,96.0,0.1,0.0,1.0,1.0
97352,48,2020-08-01 08,572.0760,24.6,4.7,96.0,1.3,0.0,0.0,0.0
99392,49,2020-08-01 08,1199.0700,24.6,1.2,96.0,0.1,0.0,0.0,0.0
101432,50,2020-08-01 08,1109.3760,26.1,3.3,86.0,0.0,0.3,0.0,0.0
103472,51,2020-08-01 08,1709.5860,24.6,1.2,96.0,0.1,0.0,0.0,1.0
105512,52,2020-08-01 08,3018.0600,24.6,1.2,96.0,0.1,0.0,1.0,1.0
107552,53,2020-08-01 08,1072.1160,25.1,0.1,97.0,0.0,0.0,1.0,0.0
109592,54,2020-08-01 08,5903.2800,26.0,3.0,94.0,0.0,0.0,1.0,0.0
111632,55,2020-08-01 08,1731.8880,24.6,1.2,96.0,0.1,0.0,1.0,1.0
113672,56,2020-08-01 08,474.9840,25.1,0.9,96.0,0.0,0.1,0.0,1.0
115712,57,2020-08-01 08,1855.8720,26.1,0.3,95.0,0.0,0.1,1.0,0.0
117752,58,2020-08-01 08,944.1360,24.6,1.2,96.0,0.1,0.0,1.0,0.0
119792,59,2020-08-01 08,1614.8160,23.9,0.6,96.0,0.0,0.0,1.0,0.0
121832,60,2020-08-01 08,3739.3920,24.6,4.7,96.0,1.3,0.0,1.0,1.0

In [37]:
# 랜덤한 샘플의 수 혹은 비율에 따른 선별 방법
df.sample(frac=0.05)
# 가져오고자 하는 관측치 갯수를 전달하는 방법
# frac=비율전달 비율에 따라 랜덤한 관측치를 선별

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
24084,12,2020-08-08 12,3368.736,23.7,3.2,94.0,1.0,0.0,1.0,1.0
68982,34,2020-08-09 06,626.292,24.5,0.4,98.0,1.2,0.0,1.0,1.0
23068,12,2020-06-27 04,448.416,20.3,0.9,83.0,0.0,0.0,1.0,1.0
94896,47,2020-07-15 00,1496.016,20.5,1.7,72.0,0.0,0.0,1.0,1.0
113204,56,2020-07-12 20,592.920,20.4,2.2,97.0,1.8,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
99945,49,2020-08-24 09,1259.685,26.9,1.8,75.0,0.0,1.0,0.0,0.0
52663,26,2020-08-09 07,2557.332,26.7,1.0,86.0,0.0,0.1,0.0,1.0
6314,4,2020-06-09 02,336.960,23.6,1.0,56.0,0.0,0.0,1.0,1.0
106287,53,2020-06-09 15,2266.542,33.7,2.2,42.0,0.0,1.0,1.0,0.0
115652,57,2020-07-29 20,2420.928,25.8,2.3,99.0,0.0,0.0,1.0,0.0

## 집계값 계산

In [48]:
# 전력사용량 기준 집계값 계산
# 평균, 합, 최대값, 최소값, 평균, 분산
print(df['전력사용량(kWh)'].mean())
print(df['전력사용량(kWh)'].sum())
print(df['전력사용량(kWh)'].max())
print(df['전력사용량(kWh)'].min())
print(df['전력사용량(kWh)'].std())
print(df['전력사용량(kWh)'].var())
print(df['전력사용량(kWh)'].argmax()) # 최대값의 인덱스 리턴
print(df['전력사용량(kWh)'].argmin()) # 최대값의 인덱스 리턴

2324.830865868444
284559297.98229754
17739.225
0.0
2058.999325845112
4239478.2238306245
16166
54684

In [54]:
# 값기준 정렬
# 컬럼 값 기준 가장 큰, 작은 값을 가진 샘플 확인 nlargest
df['전력사용량(kWh)'].nlargest(20)
# 컬럼 값 기준으로 가장 작은 값 nsmallest
df['전력사용량(kWh)'].nsmallest(10)

54684      0.000
54685      0.000
54686      0.000
54687      0.000
54688      0.000
55044     85.320
6343     138.240
55018    146.880
6463     152.496
6319     152.928
Name: 전력사용량(kWh), dtype: float64

In [59]:
# 카테고리컬 데이터에 적용하는 집계값 계산 메소드
print(df['비전기냉방설비운영'].unique()) # 중복값을 제외 한 값
print(df['비전기냉방설비운영'].nunique()) # 고윳값 갯수 출력
df['비전기냉방설비운영'].value_counts() # 변수의 고윳값을 카운트 해서 내림차순

[0. 1.]
2

1.0    83640
0.0    38760
Name: 비전기냉방설비운영, dtype: int64

## 데이터 재구조화
기존의 데이터 샘플링과는 달리 기준점으로 생각할 수 있는 컬럼 값을 기준으로 새롭게 데이터 프레임을 생성하며  
평균, 합, 카운트 등을 통해 데이터를 다차원적으로 분석 할 수 있는 함수를 제공합니다.
> 기준 변수(컬럼)가 한개 일 경우
>> **`df`**.**`groupby('컬럼명')`**.**`agg(집계방법)`**  

> 기준 변수(컬럼)가 두개 이상일 경우  
>>  **`pd`**.**`pivot_table(data=데이터프레임명, index=기준컬럼1, columns=기준컬럼2, values=집계데이터, aggfunc=집계방법)`**  

>> 적용가능한 통계 함수

| 함수명 | 내용 |
|-|-|
| count | 갯수 |
| sum | 합 |
| mean | 평균 |
| median | 중앙값 |
| var, std | 분산, 표준편차 |
| min, max | 최소값, 최대값 |
| unique, nunique | 고윳값, 고윳값 갯수 |
| prod | 곱 |

### groupby

In [104]:
# groupby

           기온(°C) 풍속(m/s)
              max    mean
전력사용량(kWh)
0.000        23.7    1.76
85.320       27.8    0.80
138.240      22.9    2.40
146.880      27.3    1.90
152.496      22.0    1.40
...           ...     ...
17596.314    27.6    2.00
17604.450    31.5    1.50
17679.033    26.9    1.10
17733.402    25.7    1.70
17739.225    31.6    1.70

[52894 rows x 2 columns]

### pivot_table

In [108]:
# pivot_table

date_time,2020-06-01 00,2020-06-01 01,2020-06-01 02,2020-06-01 03,2020-06-01 04,2020-06-01 05,2020-06-01 06,2020-06-01 07,2020-06-01 08,2020-06-01 09,...,2020-08-24 14,2020-08-24 15,2020-08-24 16,2020-08-24 17,2020-08-24 18,2020-08-24 19,2020-08-24 20,2020-08-24 21,2020-08-24 22,2020-08-24 23
num,,,,,,,,,,,,,,,,,,,,,
1,8179.056,8135.640000,8107.128000,8048.808000,8043.62400,8010.576000,7978.176000,8019.0000,8020.9440,8083.152000,...,8782.3440,8782.344,8775.216000,8762.256000,8747.352000,8714.952000,8740.224000,8730.504000,8725.968000,8705.232000
2,977.184,966.168000,972.972000,965.844000,971.67600,972.648000,1041.336000,1187.1360,1394.8200,1533.168000,...,2011.7160,2001.024,1971.216000,1864.944000,1711.044000,1353.348000,1260.036000,1214.028000,1126.224000,1107.432000
3,3183.624,3171.636000,3175.740000,3194.856000,3198.52800,3177.468000,3215.268000,3236.7600,3266.3520,3291.840000,...,3600.2880,3579.768,3578.688000,3578.337000,3576.587341,3572.334982,3571.432457,3569.301794,3549.660490,3465.782444
4,339.552,387.504000,203.472000,186.192000,185.76000,196.560000,204.336000,221.1840,288.5760,500.688000,...,1086.4800,1215.648,1130.976000,1120.608000,857.952000,729.648000,700.272000,569.376000,375.408000,340.416000
5,3063.744,3147.120000,3098.736000,3047.760000,3111.69600,2730.240000,2541.456000,2275.3440,2644.7040,2823.552000,...,3128.9760,3142.368,3108.672000,3078.432000,2754.864000,3439.152000,3510.432000,3458.160000,3421.008000,3355.344000
6,527.580,518.940000,511.380000,514.620000,503.82000,509.220000,557.280000,682.0200,1094.0400,1595.700000,...,2922.4800,2988.360,2892.780000,2648.700000,1868.400000,1399.140000,1124.820000,905.580000,790.020000,735.480000
7,1313.658,1298.592000,1149.948491,632.448000,688.33800,1201.230000,1531.629000,1742.2290,1999.4850,2137.204764,...,2295.0135,2310.768,2268.607500,2221.992000,1820.920500,1507.410000,1304.910000,1135.090800,898.533000,1504.332000
8,4801.977,4754.687288,4765.205032,4776.684054,4815.64305,4858.899300,5348.095200,7230.9456,9243.6444,10441.371600,...,17458.1370,17230.671,17300.313000,17136.351000,12642.349550,9973.646380,9848.753514,9245.020757,8497.856250,7242.516000
9,1255.932,1242.432000,1246.644000,1234.008000,1225.26000,1203.336000,1172.448000,1149.1200,1135.1880,1111.752000,...,1208.3040,1206.900,1230.876000,1257.660000,1297.620000,1321.920000,1299.240000,1286.280000,1295.676000,1301.724000
10,417.960,407.592000,404.028000,397.548000,397.22400,370.980000,402.732000,455.2200,612.0180,1546.128000,...,2725.4880,2707.992,2753.352000,2758.536000,2731.320000,1823.472000,962.280000,626.940000,544.968000,468.504000
11,581.040,557.280000,548.640000,546.480000,540.00000,528.336000,582.768000,654.4800,768.5280,1435.536000,...,5079.0240,5054.832,5176.224000,5282.064000,5120.496000,4756.752000,3991.680000,1321.920000,827.712000,725.328000
12,441.072,486.864000,519.264000,483.840000,399.60000,412.560000,440.208000,573.2640,771.5520,1240.704000,...,3500.4960,3448.656,3436.128000,3410.208000,3364.848000,3364.416000,2655.072000,907.632000,730.512000,608.256000
13,640.872,626.778000,623.538000,653.022000,692.87400,701.460000,780.030000,936.6840,1171.0980,1275.264000,...,1772.1180,1768.716,1726.758000,1345.572000,1130.436000,1075.194000,1042.794000,1002.618000,984.312000,949.806000
14,1084.536,1212.408000,1142.856000,1004.616000,1037.88000,1073.088000,1397.736000,1801.0080,2115.7200,2197.368000,...,2651.6700,2625.480,2564.730000,2433.240000,2207.250000,1983.960000,1745.010000,1682.370000,1578.420000,1460.430000
15,2392.254,2373.786000,2139.534000,2092.472325,1610.92800,1596.186000,1705.860000,2286.1440,2568.5100,1944.162000,...,2557.6560,2598.966,2549.880000,2531.250000,2315.790000,2062.422000,2041.362000,2339.766000,2320.164000,3014.010000
16,1514.700,1508.544000,1506.924000,1498.500000,1508.22000,1508.868000,1565.568000,1631.9880,1685.4480,1709.424000,...,1963.7640,1936.548,1863.648000,1868.508000,1739.232000,1657.908000,1588.896000,1570.104000,1563.300000,1524.096000
17,490.590,485.460000,472.770000,471.960000,510.03000,779.490000,971.190000,1069.4700,1261.7100,1465.560000,...,1797.9300,1795.230,1784.430000,1688.850000,1308.960000,1217.700000,1034.910000,805.680000,706.320000,614.520000
18,1408.941,1418.283000,1403.838000,1393.605000,586.19700,543.645000,612.738000,1774.3860,2535.4080,2862.621000,...,2545.3440,2421.495,3167.248500,3327.318000,3152.817000,2522.421000,1398.627000,1144.800000,1042.470000,1649.214000
19,640.062,540.270000,494.262000,471.906000,472.87800,498.312000,590.814000,720.7380,715.3920,721.224000,...,1181.9520,1119.906,1111.320000,1185.516000,1289.196000,1484.892000,1506.762000,1471.932000,1377.810000,1190.700000
20,1136.484,957.474000,859.086000,821.340000,835.81200,864.648000,1072.548000,1307.2320,1388.1240,1301.454000,...,2002.2660,1990.494,2053.134000,2133.270000,2336.364000,2590.596000,2592.216000,2477.034000,2199.258000,1897.776000
21,1103.544,975.240000,902.340000,866.376000,854.06400,855.036000,1133.028000,1263.9240,1340.3880,1350.432000,...,2339.6040,2395.980,2456.892000,2571.264000,2672.676000,2826.576000,2870.964000,2693.088000,2431.620000,2056.104000
22,850.176,878.688000,879.984000,882.900000,885.49200,884.196000,946.080000,1005.6960,1077.6240,1205.604000,...,1997.1360,1947.564,1933.632000,1810.188000,1539.324000,1404.540000,1361.124000,1297.296000,1238.976000,1204.956000
23,1395.495,1375.515000,1361.475000,1356.885000,1355.98125,1355.823871,1443.015000,1693.3680,1779.3900,1859.598725,...,2839.3140,3228.924,3367.164000,2769.831750,2233.314000,2028.510000,1886.076000,1803.834000,1960.360013,2290.244332
24,2268.864,2252.880000,2328.048000,2336.688000,2326.32000,2350.512000,2372.544000,2517.2640,2878.4160,2960.064000,...,3805.9200,3987.360,4004.640000,4005.504000,3858.192000,3725.568000,3437.424000,3411.072000,3356.208000,3422.736000
25,1087.344,1063.368000,1037.448000,1032.912000,1039.71600,1018.980000,1025.460000,1196.2080,1431.1080,1706.508000,...,3055.6440,3011.580,2405.700000,1920.024000,1627.776000,1500.120000,1373.112000,1296.000000,1280.124000,1245.132000
26,1952.424,1917.432000,1890.864000,1880.172000,1863.97200,1826.712000,1856.520000,1914.8400,2148.7680,2717.712000,...,5157.4320,5216.724,5098.788000,4777.056000,3744.144000,3562.380000,3381.264000,3104.568000,2958.768000,2888.517176
27,537.300,549.720000,536.220000,530.550000,529.47000,494.100000,497.610000,471.6900,465.2100,479.520000,...,1112.9400,1225.260,1232.550000,1083.240000,827.010000,818.910000,823.230000,755.190000,682.020000,633.150000
28,1355.508,1196.748000,1123.848000,1064.124000,1175.25600,1063.044000,1272.996000,1420.8480,1754.3520,2006.208000,...,3103.3800,3196.584,3282.012000,3351.456000,3166.020000,3114.504000,2872.584000,2759.184000,2124.036000,2185.488000
29,357.210,348.948000,352.674000,347.004000,381.83400,450.846000,568.458000,825.0660,850.5000,855.036000,...,1271.3760,1210.788,1252.422000,1277.046000,1208.682000,1130.274000,996.624000,972.324000,760.104000,767.880000
30,5032.908,4625.748000,4002.048000,2995.488000,2418.33600,2691.468000,2785.968000,3060.9360,3653.7480,3741.838917,...,7722.8640,9536.700,9802.080000,9568.152000,8292.240000,7354.628471,7024.968000,6871.716000,6224.688000,6491.448000
31,5606.064,5600.880000,5587.488000,5570.640000,5549.04000,5565.024000,5566.752000,5587.4880,5673.8880,5726.592000,...,6536.5920,6550.416,6514.992000,6456.240000,6320.592000,6222.096000,6178.032000,6143.040000,6147.360000,6127.920000
32,2343.384,2349.216000,2349.000000,2344.896000,2337.33600,2331.936000,2328.264000,2358.0720,2372.5440,2391.984000,...,2519.2080,2510.784,2510.352000,2502.144000,2469.960000,2464.776000,2442.528000,2420.064000,2415.528000,2407.320000
33,2529.360,2532.384000,2527.416000,2515.536000,2519.42400,2518.560000,2545.344000,2633.6880,2700.4320,2727.864000,...,2780.1360,2758.320,2777.976000,2690.064000,2575.584000,2511.864000,2499.768000,2499.552000,2478.600000,2471.256000
34,530.388,537.516000,531.360000,540.756000,545.29200,536.544000,533.952000,579.3120,585.7920,641.844000,...,1163.8080,1219.860,1233.468000,1184.868000,1199.713950,1209.001442,1199.706943,1178.496000,941.868000,692.064000
35,553.824,547.776000,548.208000,543.456000,551.23200,534.384000,605.664000,867.8880,1348.2720,1775.088000,...,3984.3360,3822.768,3599.856000,3033.072000,1936.224000,1305.072000,1027.296000,892.512000,775.872000,733.104000
36,797.472,787.752000,810.648000,809.352000,813.88800,805.896000,827.280000,830.5200,928.5840,1105.920000,...,1590.4080,1605.744,1565.136000,1542.024000,1352.592000,1196.424000,1170.072000,1162.296000,1136.160000,1121.040000
37,1476.720,1469.250000,1471.518000,1469.934000,1482.21000,1521.072000,1626.390000,1906.2900,2069.9280,2164.509000,...,3073.5720,3057.651,3082.023000,3045.330000,2018.073000,1839.960000,1762.164000,1661.094000,1592.778176,1870.002000
38,3356.640,3235.680000,3102.120000,3114.720000,3550.68000,4689.720000,5884.200000,6637.6800,7297.9200,7761.600000,...,12405.9600,12380.760,12038.040000,11728.080000,10669.680000,9540.720000,8983.800000,7779.240000,6083.280000,4503.240000
39,1103.706,1097.523000,1084.068000,1062.837000,1053.18000,1055.196000,1006.699995,1070.8575,1184.2884,1383.667500,...,2443.6980,2701.080,2628.081000,2682.364138,2475.101523,2383.141500,2233.381907,2151.951000,2119.380000,2068.101000
40,1897.983,1820.556000,1611.342000,1247.211000,1173.17700,1159.866000,1507.448779,1383.7590,1093.7610,2389.590818,...,4408.1640,4403.628,4343.738439,4593.258000,4378.950000,3776.670000,2494.083659,1343.769750,947.151000,1975.392000
41,411.966,334.044000,336.960000,336.636000,334.36800,415.854000,454.896000,534.7620,867.9960,1164.942000,...,2165.1300,2165.778,2169.180000,2146.176000,2094.984000,2078.946000,2034.720000,1886.814000,946.080000,778.410000
42,3024.000,2989.440000,2641.896000,2625.912000,2647.51200,2665.224000,2852.064000,3011.7960,2393.3880,1985.472000,...,6019.7040,5903.064,5925.204000,5893.596000,5815.843036,5744.451214,3332.340000,1645.380000,1203.228000,3293.676000
43,1044.360,1071.792000,1097.280000,1080.000000,1052.13600,1085.184000,1211.760000,1409.4000,1660.8240,1866.672000,...,2891.8080,2886.408,2860.704000,2659.176000,2329.992000,2086.560000,1882.224000,1840.320000,1795.392000,1662.984000
44,1697.436,1669.572000,1649.808000,1638.792000,1668.60000,1736.964000,1917.756000,2235.9240,2582.2800,2843.424000,...,3436.9920,3436.992,3476.520000,3358.908000,3171.636000,3072.168000,2906.928000,2732.616000,2662.956000,2566.404000
45,847.368,834.624000,792.936000,773.496000,782.56800,940.341000,1326.933000,1552.7430,1667.4780,1681.890000,...,1462.8600,1481.112,1790.496000,1599.282000,1465.767000,1389.762000,1322.568000,1302.696000,1236.384000,1237.680000
46,675.648,665.712000,819.936000,756.432000,1195.34400,1278.288000,1528.416000,1772.4960,2515.9680,2779.056000,...,3338.9280,3210.192,3122.928000,2948.832000,2510.784000,2083.536000,1822.608000,1374.192000,1249.776000,1049.760000
47,1298.592,1291.680000,1288.656000,1276.128000,1264.03200,1291.680000,1429.488000,1616.9760,2709.5040,3113.424000,...,3494.8800,3436.128,3404.160000,3309.984000,2588.544000,2411.856000,2324.592000,1923.264000,1690.416000,1684.393412
48,340.335,338.481000,336.834000,339.750000,336.40200,344.439000,433.674000,754.7670,1215.4950,1715.670000,...,3364.0200,3302.649,3202.812000,2887.002000,2088.522000,1641.150000,1283.202000,953.811000,860.355000,787.077000
49,943.920,827.280000,761.400000,726.840000,724.14000,767.340000,906.660000,1039.5000,1034.3700,979.830000,...,1356.4800,1390.770,1423.035000,1565.055000,1758.105000,1919.430000,1942.650000,1833.840000,1673.865000,1501.702500
50,824.040,721.008000,654.912000,665.496000,681.48000,697.032000,820.152000,926.4240,938.9520,926.208000,...,1452.1680,1418.256,1446.120000,1641.816000,1859.112000,2056.536000,2046.816000,2012.256000,1793.448000,1557.144000
51,1318.194,1124.766000,1029.510000,984.312000,980.74800,1016.550000,1243.998000,1485.5400,1544.3460,1507.410000,...,2281.1220,2272.698,2264.112000,2361.798000,2601.072000,2909.358000,2934.954000,2780.406000,2529.468000,2181.978000
52,2764.800,2748.870000,2733.480000,2697.570000,2724.30000,2697.840000,2718.090000,2857.1400,3118.2300,3647.970000,...,5454.8100,5378.130,5402.430000,5050.890000,3976.290000,3794.040000,3696.300000,3530.790000,3417.930000,3358.530000
53,958.554,924.210000,920.484000,921.618000,916.11000,951.102000,982.692000,988.5240,1097.2260,1171.260000,...,2532.7080,2540.646,2603.988000,2126.412000,1550.502000,1498.014000,1445.202000,1359.504000,1347.840000,1373.274000
54,5273.424,5222.880000,5205.384000,5223.528000,5334.33600,6102.216000,6870.096000,7235.5680,7692.4080,7895.232000,...,9126.4320,9134.856,9042.840000,7849.224000,7398.216000,7130.592000,6516.936000,6321.888000,6193.584000,6270.696000
55,1400.544,1362.096000,1344.816000,1334.016000,1320.19200,1315.008000,1343.520000,1503.7920,1677.4560,1973.376000,...,3908.3040,3719.520,3691.008000,3248.640000,2758.320000,2553.552000,2245.536000,2030.832000,1910.304000,1781.568000
56,471.096,497.664000,492.480000,468.180000,458.78400,421.524000,426.384000,448.7400,551.1240,677.160000,...,1438.5600,1338.768,1401.300000,1224.396000,869.292000,845.640000,810.000000,702.108000,684.936000,602.964000
57,2401.920,2472.336000,2430.432000,2415.744000,2410.12800,2351.808000,1717.200000,1739.6640,2100.3840,2567.376000,...,4282.8480,4738.608,4186.512000,4012.416000,3386.448000,3124.224000,2904.768000,2604.096000,2404.512000,2263.680000
58,580.608,538.164000,529.254000,531.846000,549.99000,659.988000,711.828000,868.8060,1047.1680,1123.632000,...,1144.3680,1133.838,1145.988000,1121.850000,998.568000,959.688000,942.840000,915.300000,691.578000,690.444000
59,572.184,574.128000,910.440000,679.104000,683.64000,763.668000,821.016000,857.3040,1187.1360,919.512000,...,1749.9240,1566.540,1357.560000,1093.176000,1298.592000,1186.164000,929.232000,1003.104000,1110.672000,985.284000
60,2528.496,2243.808000,2284.848000,2248.992000,2377.72800,2572.128000,2827.440000,3023.1360,3034.8000,3026.592000,...,4269.4560,4323.888,4294.080000,4212.432000,4189.104000,4114.368000,3975.696000,3572.208000,3299.184000,3204.576000

## 데이터로 부터 의미있는 정보 추출하기

In [64]:
# 건물번호 10번의 전력사용량 평균
df.loc[df['num'] == 10, '전력사용량(kWh)'].mean()

1427.1640686279413

In [118]:
# 평균 전력사용량이 높은 건물번호 순서대로 5개 나열

,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
num,,,,,,,,
8,8837.364073,24.124363,1.305735,79.162255,0.488922,0.199167,1.0,1.0
1,8543.273488,24.608578,2.345980,75.971569,0.493873,0.184608,0.0,0.0
38,7588.679824,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,1.0
54,6839.836376,24.241275,1.937402,82.667157,0.540882,0.219657,1.0,0.0
31,5964.317576,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,0.0

In [69]:
# 기온이 30도 이상인 관측치의 전력사용량 평균
df.loc[df['기온(°C)'] >= 30, '전력사용량(kWh)'].mean()

2901.692666127581

## 데이터프레임 병합
> 실제 분석업무를 진행하다보면 데이터가 여기저기 분산되어 있을 경우가 더 많습니다.  
조각난 데이터를 분석에 필요한 데이터셋으로 만들기 위해 데이터프레임 병합을 많이 사용합니다.  
한개 이상의 데이터프레임을 병합 할 때 주로 사용하는 함수 2가지를 알아보겠습니다.

### 데이터 병합에 사용가능한 key(병합할 기준이 되는 행 or 열)값이 있는경우
> **`pd`**.**`merge(베이스데이터프레임, 병합할데이터프레임)`**

>> 사용가능한 파라메터
>> - how : 'left', 'right', 'inner', 'outer'
>> - left_on : key값이 다를 경우 베이스데이터프레임의 key 설정
>> - right_on : key값이 다를 경우 병합데이터프레임의 key 설정

In [13]:
merge_df1 = pd.DataFrame({
    '이름': ['원영', '사쿠라', '유리', '예나', '유진', '나코', '은비', '혜원', '히토미', '채원', '민주', '째욘'],
    '국어': [100, 70, 70, 70, 60, 90, 90, 70, 70, 80, 100, 100],
    '영어': [100, 90, 80, 50, 70, 100, 70, 90, 100, 100, 80, 100]
    }, columns=['이름', '국어', '영어'])

merge_df2 = pd.DataFrame({
    '일어': [80, 100, 100, 90, 70, 50, 100],
    '수학': [90, 70, 100, 80, 70, 80, 90],
    '이름': ['원영', '사쿠라', '나코', '히토미', '예나', '은비', '째욘'],
    }, columns=['일어', '수학', '이름'])

    일어   수학 name
0   80   90   원영
1  100   70  사쿠라
2  100  100   나코
3   90   80  히토미
4   70   70   예나
5   50   80   은비
6  100   90   째욘

In [16]:
# merge 테스트

    이름   국어   영어   일어   수학 name
0   원영  100  100   80   90   원영
1  사쿠라   70   90  100   70  사쿠라
2   나코   90  100  100  100   나코
3  히토미   70  100   90   80  히토미
4   예나   70   50   70   70   예나
5   은비   90   70   50   80   은비
6   째욘  100  100  100   90   째욘

### 단순 데이터 연결
> **`pd`**.**`concat([베이스데이터프레임, 병합할데이터프레임], axis=0 or 1)`**  
현재 df에 저장되어있는 데이터에 추가로 데이터를 이어붙여보겠습니다.  
df1 이라는 변수에 이어붙일 데이터를 불러들여 병합을 진행해보겠습니다.

,num,date_time,기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
0,1,2020-08-25 00,27.8,1.5,74.0,0.0,0.0,NaN,NaN
1,1,2020-08-25 01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-08-25 02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-08-25 03,27.3,1.1,78.0,NaN,0.0,NaN,NaN
4,1,2020-08-25 04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# concat병합은 데이터를 그대로 이어붙이기 때문에 변수 순서나 shape이 동일한지 확인 해야 합니다.
# 모두 참이여야 참

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

Index(['num', 'date_time', '기온(°C)', '풍속(m/s)', '습도(%)', '강수량(mm, 6시간)',
       '일조(hr, 3시간)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

In [147]:
# 전력사용량 변수 동일 위치에 추가

In [148]:
# 변수명 동일하게 저장

In [150]:
# concat병합은 데이터를 그대로 이어붙이기 때문에 변수 순서나 shape이 동일한지 확인 해야 합니다.
# 모두 참이여야 참

True

In [151]:

# axis=0 행기준 병합(기본설정), axis=1 열기준 병합

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
10075,60,2020-08-31 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10076,60,2020-08-31 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10077,60,2020-08-31 21,NaN,27.9,4.1,68.0,NaN,0.0,1.0,1.0
10078,60,2020-08-31 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10079,60,2020-08-31 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 인덱스 편집
> 방금 전 concat으로 병합한 데이터프레임의 이상한 점을 찾으셨나요?  
데이터 자체는 잘 붙였지만 인덱스가 꼬여있습니다.  
인덱스 조작은 데이터분석을 위해 필요한 인덱스를 설정하기 위해 필요합니다.

### 인덱스 초기화

In [155]:
# 기존에 엉켜있던 인덱스는 지우고 원본값을 변경하는 매개변수를 추가

### 기존 변수값을 인덱스로 사용

,num,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
date_time,,,,,,,,,
2020-06-01 00,1,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
2020-06-01 01,1,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2020-06-01 02,1,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
2020-06-01 03,1,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
2020-06-01 04,1,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2020-08-31 19,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 20,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 21,60,NaN,27.9,4.1,68.0,NaN,0.0,1.0,1.0
2020-08-31 22,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 23,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 변수 편집
> 인덱스 조작과 마찬가지로 데이터프레임의 변수값을 변경해야 할 경우도 있습니다.  
데이터프레임은 변수단위 샘플링 및 인덱싱, 이름변경이 가능합니다.

### 변수명 변경

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
132475,60,2020-08-31 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132476,60,2020-08-31 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132477,60,2020-08-31 21,NaN,27.9,4.1,68.0,NaN,0.0,1.0,1.0
132478,60,2020-08-31 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132479,60,2020-08-31 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 파생변수 생성

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력x10,전력x20,전력x30
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,81790.56,163581.12,245371.68
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,81356.40,162712.80,244069.20
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,81071.28,162142.56,243213.84
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,80488.08,160976.16,241464.24
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,80436.24,160872.48,241308.72

### 변수삭제

0         245371.68
1         244069.20
2         243213.84
3         241464.24
4         241308.72
            ...
132475          NaN
132476          NaN
132477          NaN
132478          NaN
132479          NaN
Name: 전력x30, Length: 132480, dtype: float64

### 변수선택

In [178]:
# 데이터타입에 따른 변수 선별

           전력사용량    기온   풍속    습도  강수량   일조  비전기냉방설비운영  태양광보유
0       8179.056  17.6  2.5  92.0  0.8  0.0        0.0    0.0
1       8135.640  17.7  2.9  91.0  0.3  0.0        0.0    0.0
2       8107.128  17.5  3.2  91.0  0.0  0.0        0.0    0.0
3       8048.808  17.1  3.2  91.0  0.0  0.0        0.0    0.0
4       8043.624  17.0  3.3  92.0  0.0  0.0        0.0    0.0
...          ...   ...  ...   ...  ...  ...        ...    ...
132475       NaN   NaN  NaN   NaN  NaN  NaN        NaN    NaN
132476       NaN   NaN  NaN   NaN  NaN  NaN        NaN    NaN
132477       NaN  27.9  4.1  68.0  NaN  0.0        1.0    1.0
132478       NaN   NaN  NaN   NaN  NaN  NaN        NaN    NaN
132479       NaN   NaN  NaN   NaN  NaN  NaN        NaN    NaN

[132480 rows x 8 columns]

In [ ]:
# 변수명 활용 변수선택

In [ ]:
# 반복문을 활용한 변수 활용 예시

### apply 함수로 컬럼에 함수 적용
> 인스턴스 함수인 lambda 와 apply 함수를 사용하여 인자로 받는 모든 데이터에 함수를 적용  
커스텀 함수 적용도 가능

> apply 함수로 컬럼에 적용시키는 코드 구조  
 **`df['컬럼명']`** = **`df['컬럼명']`**.**`apply(함수명)`**

In [198]:
# 화씨 컬럼 추가

### 날짜 형식 데이터의 활용

In [227]:
# 문자형식 데이터를 날짜형식으로 형변환

In [231]:
# datetime 데이터 타입의 요일정보를 변수로 추가

### 데이터 범주화
간혹 연속형 데이터를 범주화(카테고리컬 데이터) 시켜야 할 경우가 있습니다.  
범주화를 위한 함수를 알아보겠습니다.

0          저온
1          저온
2          저온
3          저온
4          저온
         ...
132475    NaN
132476    NaN
132477     고온
132478    NaN
132479    NaN
Name: 기온, Length: 132480, dtype: category
Categories (2, object): ['저온' < '고온']

## 결측치 처리
> 데이터 분석을 위해서는 데이터셋 내에 빈 값이 있는 경우 분석에 방해가 될 수 있는 여지가 많습니다.  
모든 결측치를 없애야 하는 것은 아니지만 되도록이면 결측치를 채우는 방법, 혹은 없애는 방법등으로 결측치를 처리합니다.  
몇가지 예시를 살펴보면서 결측치 처리에 대해 알아봅시다.

In [232]:
# info() 함수는 결측치에 대한 정보도 보여줍니다.
# 컬럼별 isnull() 함수를 사용해도 무방합니다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132480 entries, 0 to 132479
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        132480 non-null  int64
 1   date_time  132480 non-null  datetime64[ns]
 2   전력사용량      122400 non-null  float64
 3   기온         125760 non-null  float64
 4   풍속         125760 non-null  float64
 5   습도         125760 non-null  float64
 6   강수량        124080 non-null  float64
 7   일조         125760 non-null  float64
 8   비전기냉방설비운영  124696 non-null  float64
 9   태양광보유      124024 non-null  float64
 10  전력사용량(Wh)  122400 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 11.1 MB

확인결과 num, date_time 변수를 제외 한 다른 변수에 결측치가 존재합니다.  
해당 컬럼의 결측치 샘플들을 살펴보고 결측치를 처리해 보겠습니다.

In [233]:
# 컬럼별 결측치 확인을 위한 isnull()함수 리턴값이 bool 형태로 반환되어 조건부 샘플링이 가능합니다.

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력사용량(Wh)
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
132475,False,False,True,True,True,True,True,True,True,True,True
132476,False,False,True,True,True,True,True,True,True,True,True
132477,False,False,True,False,False,False,True,False,False,False,True
132478,False,False,True,True,True,True,True,True,True,True,True
132479,False,False,True,True,True,True,True,True,True,True,True

### 결측치 비율 계산

In [235]:
# 컬럼명을 순환하면서 결측치 비율 계산

num 0.0
date_time 0.0
전력사용량 0.08235294117647059
기온 0.054901960784313725
풍속 0.054901960784313725
습도 0.054901960784313725
강수량 0.06862745098039216
일조 0.054901960784313725
비전기냉방설비운영 0.06359477124183006
태양광보유 0.06908496732026144
전력사용량(Wh) 0.08235294117647059

In [239]:
# fillna() 함수로 NaN 값을 컬럼의 평균으로 채우기

0         17.60000
1         17.70000
2         17.50000
3         17.10000
4         17.00000
            ...
132475    24.34667
132476    24.34667
132477    27.90000
132478    24.34667
132479    24.34667
Name: 기온, Length: 132480, dtype: float64

### 결측치 제거

In [240]:
# 마지막에 합니다.

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력사용량(Wh)
0,1,2020-06-01 00:00:00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,8179056.0
1,1,2020-06-01 01:00:00,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,8135640.0
2,1,2020-06-01 02:00:00,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,8107128.0
3,1,2020-06-01 03:00:00,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,8048808.0
4,1,2020-06-01 04:00:00,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,8043624.0
...,...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19:00:00,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0,4114368.0
122396,60,2020-08-24 20:00:00,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0,3975696.0
122397,60,2020-08-24 21:00:00,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0,3572208.0
122398,60,2020-08-24 22:00:00,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0,3299184.0
122399,60,2020-08-24 23:00:00,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0,3204576.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122400 entries, 0 to 122399
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        122400 non-null  int64
 1   date_time  122400 non-null  datetime64[ns]
 2   전력사용량      122400 non-null  float64
 3   기온         122400 non-null  float64
 4   풍속         122400 non-null  float64
 5   습도         122400 non-null  float64
 6   강수량        122400 non-null  float64
 7   일조         122400 non-null  float64
 8   비전기냉방설비운영  122400 non-null  float64
 9   태양광보유      122400 non-null  float64
 10  전력사용량(Wh)  122400 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 11.2 MB

이제 모든 컬럼에 결측치가 사라졌습니다. 이후 분석은 시각화를 통해 진행해보겠습니다.