# Pandas
> 데이터 과학자를 위해 테이블형태로 데이터를 다룰 수 있게 해주는 패키지 (python용 엑셀)  
기존 데이터처리 라이브러리인 numpy 대신 주로 사용  
일반인이 데이터분석을 접하기 쉽게 만들어준 결정적인 라이브러리  
pandas만으로도 충분히 데이터 분석이 가능할 정도로 고수준의 함수들을 내장  
앞으로 진행하는 데이터분석 과정에서 주로 사용하게 될 데이터구조

## pandas 설치
> 콘솔창에서 실행 시  
**pip install pandas**
    
> 주피터 노트북으로 실행 시  
 **!pip install pandas**
    
> 아나콘다 환경으로 python 환경설정 시 기본적으로 설치가 되어있음

In [1]:
# pandas 설치
!pip install pandas

Requirement already satisfied: pandas in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (1.4.0)
Requirement already satisfied: numpy>=1.20.0 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/byun/miniforge3/envs/main/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [36]:
# 필요 모듈 import
import pandas as pd
# 판다스 패키지를 불러들려서 pd라는 약자로 사용하겠다.

In [ ]:
# 패키지, 모듈, 라이브러리 <---- 같은 의미로 사용합니다.
# 데이터분석에 필요한 패키지

In [5]:
!say 안녕하세요 시리입니다. 맥은 시리가 말도 해줘요

In [4]:
# 이런것도 할 수 있어요~
# 텍스트를 음성으로 변환시켜주는 패키지(모듈) 입니다.
# 사용하기 전 패키지를 다운받는 과정이 필요합니다.
# !pip install pyttsx3
import pyttsx3
engine = pyttsx3.init()
engine.say("수강생여러분.")
engine.say("파이썬 공부하느라 고생하십니다.")
engine.say("파이썬으로 이런것도 가능해요")
engine.say("하지만 이해못해도 괜챦아요.")
engine.say("왜냐하면 우리는 가져다 쓸꺼니까요. 찡긋")
engine.runAndWait()

## DataFrame 데이터 불러오기
> 엑셀에 익숙한 사용자를 위해 제작 된 테이블형태의 데이터 구조  
다양한 형태의 데이터를 받아 사용할 수 있으며 다양한 통계, 시각화 함수를 제공한다.  
실제 데이터를 불러들이고 값을 확인 해 보며 기본적인 pandas 사용법을 익혀보도록 하겠습니다.

### 데이터 불러오기
pandas는 다양한 데이터 파일 형태를 지원하며 주로 csv, xlsx, sql을 사용한다.
    
> **`read_csv()`**  
**`read_excel()`**  
**`read_sql()`**  
**`read_json()`**

### csv 파일 로딩

In [8]:
pwd

'/Users/byun/0_lecture/08_samsung_preprocessing/2023_preprocessing_13'

In [37]:
# DataFrame 의 약자로서 형식적으로 df 변수명을 사용한다.
# pandas패키지의 read_csv() 함수를 사용하여 energy1.csv 파일을 불러들여 
# 데이터프레임을 만들고 df 이름의 변수로 저장
df = pd.read_csv('./data/energy1.csv', encoding='cp949')
# encoding='utf-8', 예전 윈도우에서 작성된 파일의 경우 'cp949'

In [38]:
df

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

### excel 파일 로딩

In [13]:
# 만약 모듈을 찾을 수 없는 오류가 발생한다면 추가 모듈 설치
pd.read_excel('./data/energy1.xlsx')
# sheet_name=시트이름
# header=데이터가 시작되는 row 숫자
# engine=과거 엑셀파일 형식

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0,0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0,0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0,0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0,0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1,1
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1,1
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1,1
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1,1
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1,1

### json 파일 로딩

,symbolCode,date,tradePrice,tradeTime,change,changePrice,changeRate,prevClosingPrice,exchangeCountry,openingPrice,highPrice,lowPrice,accTradePrice,accTradeVolume,periodTradePrice,periodTradeVolume,listedSharesCount
0,A005930,2023-02-03 15:30:19,63800,15:30:19,RISE,300,0.004724,63500,KOREA,63900,64000,63000,942509594000,14804617,942509594000,14804617,NaN
1,A005930,2023-02-02 15:30:07,63500,15:30:07,RISE,1700,0.027508,61800,KOREA,63200,63900,62600,1474629229812,23285983,1474629229812,23285983,NaN
2,A005930,2023-02-01 15:30:23,61800,15:30:23,RISE,800,0.013115,61000,KOREA,62600,62700,61000,1145781815984,18570133,1145781815984,18570133,NaN
3,A005930,2023-01-31 15:30:07,61000,15:30:07,FALL,2300,-0.036335,63300,KOREA,63500,63700,61000,1835768640685,29746731,1835768640685,29746731,NaN
4,A005930,2023-01-30 15:30:19,63300,15:30:19,FALL,1300,-0.020124,64600,KOREA,64900,64900,63100,1337025734920,20995234,1337025734920,20995234,NaN
5,A005930,2023-01-27 15:30:08,64600,15:30:08,RISE,700,0.010955,63900,KOREA,64400,65000,63900,1212764792491,18760182,1212764792491,18760182,NaN
6,A005930,2023-01-26 15:30:14,63900,15:30:14,RISE,500,0.007886,63400,KOREA,63800,63900,63300,846408637700,13278277,846408637700,13278277,NaN
7,A005930,2023-01-25 15:30:24,63400,15:30:24,RISE,1600,0.025890,61800,KOREA,63500,63700,63000,1066200962700,16822710,1066200962700,16822710,NaN
8,A005930,2023-01-20 15:30:22,61800,15:30:22,RISE,300,0.004878,61500,KOREA,62100,62300,61100,595372614900,9646327,595372614900,9646327,NaN
9,A005930,2023-01-19 15:30:25,61500,15:30:25,RISE,1100,0.018212,60400,KOREA,60500,61500,60400,781937546636,12808490,781937546636,12808490,NaN

### API를 활용하여 웹에서 수집한 데이터 로딩

In [15]:
import requests
import json
url = 'https://finance.daum.net/api/quote/A005930/days?symbolCode=A005930&page=1&perPage=10&pagination=true'
info = {
    'referer': 'https://finance.daum.net/quotes/A005930?period=day',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'
}

resp = requests.get(url, headers=info)
data = json.loads(resp.text)
pd.DataFrame(data['data'])

,symbolCode,date,tradePrice,tradeTime,change,changePrice,changeRate,prevClosingPrice,exchangeCountry,openingPrice,highPrice,lowPrice,accTradePrice,accTradeVolume,periodTradePrice,periodTradeVolume,listedSharesCount
0,A005930,2023-08-16 15:30:03,67000.0,15:30:03,FALL,300.0,-0.004458,67300.0,KOREA,66700.0,67100.0,66300.0,871443279300,13060101,871443279300,13060101,None
1,A005930,2023-08-14 15:30:23,67300.0,15:30:23,FALL,200.0,-0.002963,67500.0,KOREA,67500.0,67900.0,66900.0,629306269500,9352343,629306269500,9352343,None
2,A005930,2023-08-11 15:30:19,67500.0,15:30:19,FALL,500.0,-0.007353,68000.0,KOREA,68400.0,68800.0,67500.0,664312604900,9781038,664312604900,9781038,None
3,A005930,2023-08-10 15:30:21,68000.0,15:30:21,FALL,900.0,-0.013062,68900.0,KOREA,68300.0,68500.0,67800.0,695338333628,10227311,695338333628,10227311,None
4,A005930,2023-08-09 15:30:15,68900.0,15:30:15,RISE,1300.0,0.019231,67600.0,KOREA,68000.0,69600.0,67900.0,1190098678800,17259673,1190098678800,17259673,None
5,A005930,2023-08-08 15:30:22,67600.0,15:30:22,FALL,900.0,-0.013139,68500.0,KOREA,69000.0,69100.0,67400.0,995836406200,14664709,995836406200,14664709,None
6,A005930,2023-08-07 15:30:12,68500.0,15:30:12,RISE,200.0,0.002928,68300.0,KOREA,67700.0,69200.0,67600.0,753451928000,10968505,753451928000,10968505,None
7,A005930,2023-08-04 15:30:26,68300.0,15:30:26,FALL,500.0,-0.007267,68800.0,KOREA,68800.0,69100.0,68200.0,846916262150,12360193,846916262150,12360193,None
8,A005930,2023-08-03 15:30:02,68800.0,15:30:02,FALL,1100.0,-0.015737,69900.0,KOREA,69900.0,70200.0,68500.0,1393671498850,20087090,1393671498850,20087090,None
9,A005930,2023-08-02 15:30:03,69900.0,15:30:03,FALL,1200.0,-0.016878,71100.0,KOREA,70700.0,71000.0,69800.0,972618018764,13835020,972618018764,13835020,None

### 데이터베이스에서 쿼리를 사용한 데이터 로딩

In [ ]:
# 참고! 실습은 하지 않습니다만 쿼리를 사용하여 데이터베이스로부터 데이터프레임을 만드는 것도 가능합니다.
# 데이터베이스로 부터 자료 읽기

# 필요한 모듈 추가 설치 - 각 데이터베이스 별로 다릅니다.
# !pip install pymysql

# sql 모듈 로드하기
# import pymysql
# mysql, mariadb, sqlite, postgresql, ms-sql, oracle, mongodb

# 접속하기
# 접속방법 또한 DB 종류에 따라 다릅니다.
# con = pymysql.connect(host='db서버주소', port=3306, user='id', passwd='pwd', db='dbname')

# query 만들기
# query = 'select * from samples'

# 자료 불러오기
# data = pd.read_sql(query, con=con)

### 암호화 엑셀 파일 로딩

In [ ]:
# 엑셀파일 엑셀프로그램으로 오픈, 엑셀 프로그램의 전체 영역을 클립보드로 복사 ---> 붙여넣기

In [16]:
# pip uninstall xlwings 
# pip instal appscript
# pip install xlwings
import pandas as pd
import xlwings as xw

book = xw.Book('energy1.xlsx')
sheet1 = book.sheets[0] # 시트번호로 선택
# sheet2 = book.sheet['시트명'] # 시트이름으로 선택
sheet1.used_range # 데이터입력 전 영역선택
df = sheet1.used_range.options(pd.DataFrame, index=False).value
df.head()

# 로컬컴퓨터에 엑셀이 있어야 함.

ApplicationNotFoundError: Local application 'Microsoft Excel.app' not found.

## 데이터 저장하기
불러들인 혹은 작업을 마친 데이터프레임을 다양한 파일형태로 저장이 가능합니다.  
데이터분석 과정은 원본데이터를 되도록이면 유지하며 전처리를 진행하지만 주기적으로 백업은 진행하는 것이 좋습니다.  
> **`to_csv()`**  
**`to_excel()`**

In [18]:
# 데이터 저장
df.to_csv('save_test.csv', index=False)
# index=False 기존인덱스를 초기화 하면서 파일 저장

In [19]:
# 엑셀은 오래걸립니다~
df.to_excel('./data/save_test.xlsx')

## 사용 데이터 간략 설명
> 한국에너지관리공단에서 제공한 전력사용량 데이터  
1시간 간격으로 수집 된 60개 건물들의 2020년 6월 1일 부터 2020년 8월 24일까지의 데이터  
건물정보와 기후정보를 활용한 전력사용량을 예측하기 위한 데이터셋  
대회홈페이지 : https://dacon.io/competitions/official/235736/overview/description
>> 각 변수(컬럼) 설명  
>>- num : 건물번호  
>>- date_time : 데이터가 수집 된 날짜, 시간  
>>- 전력사용량 : 수집 된 시점에 사용한 전력량  
>>- 비전기냉방설비운영 : 0-미운영, 1-운영  
>>- 태양광보유 : 0-미보유, 1-보유

In [20]:
df.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

## 데이터 살펴보기

In [22]:
# 데이터를 불러들인 후 가장 처음 하는 작업
# 데이터의 구조, 형태 파악하기
# 데이터의 첫 5개 샘플, 관측치, row데이터, 인스턴스, 행 확인하기
df.head(10)

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
5,1,2020-06-01 05,8010.576,16.9,3.4,93.0,0.0,0.0,0.0,0.0
6,1,2020-06-01 06,7978.176,16.7,3.4,90.0,0.1,0.0,0.0,0.0
7,1,2020-06-01 07,8019.000,16.9,2.3,86.0,0.0,0.1,0.0,0.0
8,1,2020-06-01 08,8020.944,17.8,3.3,80.0,0.0,0.3,0.0,0.0
9,1,2020-06-01 09,8083.152,19.3,2.1,73.0,0.0,0.7,0.0,0.0

In [23]:
# 데이터의 마지막 5개 관측치 확인하기
df.tail()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [24]:
# 데이터의 갯수를 살펴봅니다
len(df)

122400

In [27]:
# 데이터 shape 확인, 행렬데이터 사이즈 3 X 4
df.shape

(122400, 10)

In [28]:
# 데이터의 전반적인 정보를 확인합니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   num         122400 non-null  int64
 1   date_time   122400 non-null  object
 2   전력사용량(kWh)  122400 non-null  float64
 3   기온(°C)      122400 non-null  float64
 4   풍속(m/s)     122400 non-null  float64
 5   습도(%)       122400 non-null  float64
 6   강수량(mm)     122400 non-null  float64
 7   일조(hr)      122400 non-null  float64
 8   비전기냉방설비운영   122400 non-null  float64
 9   태양광보유       122400 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 9.3+ MB

In [29]:
# 데이터의 기초통계량을 확인합니다.
df.describe()

,num,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
count,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000
mean,30.500000,2324.830866,24.251713,2.151641,80.169848,0.514989,0.213533,0.683333,0.483333
std,17.318173,2058.999326,3.407902,1.514475,15.525862,2.624505,0.370517,0.465178,0.499724
min,1.000000,0.000000,11.100000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,15.750000,1055.268000,21.800000,1.100000,70.000000,0.000000,0.000000,0.000000,0.000000
50%,30.500000,1700.352000,24.200000,1.900000,84.000000,0.000000,0.000000,1.000000,0.000000
75%,45.250000,2780.487000,26.500000,2.900000,93.000000,0.000000,0.300000,1.000000,1.000000
max,60.000000,17739.225000,36.300000,20.100000,100.000000,81.500000,1.000000,1.000000,1.000000

In [30]:
# 변수명
df.columns

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

데이터셋을 살펴 본 결과 시간별로 관측 된 기후데이터와 전력사용량을 확인 할 수 있었습니다.  
각각의 관측치(샘플)에 대한 정보를 유추하고, 건물별로 수집 된 데이터의 특징을 볼 수 있었습니다.  
데이터의 크기, 사이즈, 기초통계량을 바탕으로 조금 더 디테일하게 데이터를 살펴보겠습니다.

## 데이터접근 (인덱싱, 슬라이싱, 샘플링)

In [32]:
test_list = [1, 2 ,3 , 4]
test_list[0]

1

In [34]:
# 인덱스 선택사 사용 iloc
df.iloc[0] # 판다스에서는 벡터 (줄) 형식의 데이터를 serise
df.iloc[[0]] # 관측치를 여러개 전달하는 방식으로 출력 결과를 무조건 데이터프레임 형태로 출력

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0

In [35]:
# 10번 인덱스 부터 20번 인덱스 샘플 접근
df.iloc[10:21]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
10,1,2020-06-01 10,8116.200,20.5,3.4,62.0,0.0,1.0,0.0,0.0
11,1,2020-06-01 11,8104.536,22.1,3.6,52.0,0.0,1.0,0.0,0.0
12,1,2020-06-01 12,8088.984,23.1,4.0,49.0,0.0,1.0,0.0,0.0
13,1,2020-06-01 13,8102.592,23.1,5.1,42.0,0.0,1.0,0.0,0.0
14,1,2020-06-01 14,8088.336,23.6,5.1,39.0,0.0,1.0,0.0,0.0
15,1,2020-06-01 15,8076.672,23.8,5.5,40.0,0.0,1.0,0.0,0.0
16,1,2020-06-01 16,8032.608,24.4,3.0,39.0,0.0,1.0,0.0,0.0
17,1,2020-06-01 17,8013.816,23.6,4.4,41.0,0.0,1.0,0.0,0.0
18,1,2020-06-01 18,8029.368,22.7,4.1,42.0,0.0,1.0,0.0,0.0
19,1,2020-06-01 19,8028.072,21.3,4.2,44.0,0.0,1.0,0.0,0.0
20,1,2020-06-01 20,7994.376,19.8,2.5,51.0,0.0,0.4,0.0,0.0

In [39]:
# 여러개의 관측치에 접근
df.iloc[[0, 10, 20]]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
10,1,2020-06-01 10,8116.200,20.5,3.4,62.0,0.0,1.0,0.0,0.0
20,1,2020-06-01 20,7994.376,19.8,2.5,51.0,0.0,0.4,0.0,0.0

In [40]:
# 변수 단위 선택
df['전력사용량(kWh)']

0         8179.056
1         8135.640
2         8107.128
3         8048.808
4         8043.624
            ...
122395    4114.368
122396    3975.696
122397    3572.208
122398    3299.184
122399    3204.576
Name: 전력사용량(kWh), Length: 122400, dtype: float64

In [41]:
# 여러 컬럼 동시 접근
df[['date_time', '전력사용량(kWh)']]

            date_time  전력사용량(kWh)
0       2020-06-01 00    8179.056
1       2020-06-01 01    8135.640
2       2020-06-01 02    8107.128
3       2020-06-01 03    8048.808
4       2020-06-01 04    8043.624
...               ...         ...
122395  2020-08-24 19    4114.368
122396  2020-08-24 20    3975.696
122397  2020-08-24 21    3572.208
122398  2020-08-24 22    3299.184
122399  2020-08-24 23    3204.576

[122400 rows x 2 columns]

In [48]:
df.columns[1]

'date_time'

In [49]:
# 색인값으로 숫자만 사용 가능합니다.
df.iloc[10:21, 1:3]

        date_time  전력사용량(kWh)
10  2020-06-01 10    8116.200
11  2020-06-01 11    8104.536
12  2020-06-01 12    8088.984
13  2020-06-01 13    8102.592
14  2020-06-01 14    8088.336
15  2020-06-01 15    8076.672
16  2020-06-01 16    8032.608
17  2020-06-01 17    8013.816
18  2020-06-01 18    8029.368
19  2020-06-01 19    8028.072
20  2020-06-01 20    7994.376

In [44]:
# row와 columns을 동시에 슬라이싱 하는 속성
# df.loc[인덱스, 컬럼명]
df.loc[10:21, ['date_time', '전력사용량(kWh)']]

        date_time  전력사용량(kWh)
10  2020-06-01 10    8116.200
11  2020-06-01 11    8104.536
12  2020-06-01 12    8088.984
13  2020-06-01 13    8102.592
14  2020-06-01 14    8088.336
15  2020-06-01 15    8076.672
16  2020-06-01 16    8032.608
17  2020-06-01 17    8013.816
18  2020-06-01 18    8029.368
19  2020-06-01 19    8028.072
20  2020-06-01 20    7994.376
21  2020-06-01 21    7974.936

## 팬시인덱싱 전달
기본적인 인덱싱 방법에 추가로 조건에 따른 데이터 샘플링도 가능합니다.  
넘파이의 bool 타입데이터를 인덱스로 전달받는 방법으로 조건에 다른 데이터를 선별한다면 조금 더 고차원적인 데이터 선택이 가능합니다.

In [54]:
# 조건식을 인덱스로 받는 팬시인덱싱
# 건물 번호 기준으로 한 건물에 해당하는 관측치 선별
df.loc[df['num'] == 10]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
18360,10,2020-06-01 00,417.960,18.3,2.5,94.0,0.0,0.0,1.0,0.0
18361,10,2020-06-01 01,407.592,18.8,2.3,89.0,0.0,0.0,1.0,0.0
18362,10,2020-06-01 02,404.028,19.0,3.2,86.0,0.0,0.0,1.0,0.0
18363,10,2020-06-01 03,397.548,19.0,4.1,85.0,0.0,0.0,1.0,0.0
18364,10,2020-06-01 04,397.224,18.9,3.9,87.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
20395,10,2020-08-24 19,1823.472,27.9,1.7,83.0,0.0,0.6,1.0,0.0
20396,10,2020-08-24 20,962.280,27.4,1.4,83.0,0.0,0.0,1.0,0.0
20397,10,2020-08-24 21,626.940,27.1,1.4,86.0,0.0,0.0,1.0,0.0
20398,10,2020-08-24 22,544.968,26.9,0.0,84.0,0.0,0.0,1.0,0.0
20399,10,2020-08-24 23,468.504,26.7,1.4,87.0,0.0,0.0,1.0,0.0

In [57]:
# 전력 사용량 기준으로 15000kWh 이상 사용한 관측치 
df.loc[df['전력사용량(kWh)'] >= 15000]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
14459,8,2020-06-08 11,15177.411,27.9,1.2,53.0,0.0,1.0,1.0,1.0
14464,8,2020-06-08 16,15152.454,31.0,1.5,40.0,0.0,1.0,1.0,1.0
14482,8,2020-06-09 10,15139.800,26.7,0.9,50.0,0.0,1.0,1.0,1.0
14483,8,2020-06-09 11,15417.936,28.7,1.8,45.0,0.0,1.0,1.0,1.0
14485,8,2020-06-09 13,15177.420,30.7,1.4,36.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
16309,8,2020-08-24 13,17423.793,31.5,2.0,56.0,0.0,1.0,1.0,1.0
16310,8,2020-08-24 14,17458.137,31.4,1.9,55.0,0.0,1.0,1.0,1.0
16311,8,2020-08-24 15,17230.671,32.1,2.1,56.0,0.0,1.0,1.0,1.0
16312,8,2020-08-24 16,17300.313,32.3,1.6,54.0,0.0,1.0,1.0,1.0
16313,8,2020-08-24 17,17136.351,31.6,1.0,57.0,0.0,1.0,1.0,1.0

In [60]:
# 해당시간 데이터보다 나중에 발생한 관측치 선택 
df.loc[df['date_time'] > '2020-07-31 23']

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
1464,1,2020-08-01 00,8623.584,25.0,3.4,90.0,1.0,0.0,0.0,0.0
1465,1,2020-08-01 01,8591.184,24.6,0.5,90.0,0.2,0.0,0.0,0.0
1466,1,2020-08-01 02,8582.112,24.6,0.5,91.0,0.0,0.0,0.0,0.0
1467,1,2020-08-01 03,8593.776,24.7,1.2,93.0,0.0,0.0,0.0,0.0
1468,1,2020-08-01 04,8575.632,24.7,0.8,94.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [65]:
# or 연산 | 
# and 연산 &
# 조건을 2개 사용한 관측치 선택 비전기냉방설비운영, 태양광보유 한 관측치 찾기
# 고온 다습했던 관측치 선별 기온 30도 이상 다습 습도 90 이상
df.loc[(df['기온(°C)'] >= 30) & (df['습도(%)'] >= 90)]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
89460,44,2020-08-12 12,3408.804,30.5,3.2,92.0,0.0,0.3,1.0,1.0
115980,57,2020-08-12 12,4092.336,30.5,3.2,92.0,0.0,0.3,1.0,0.0

In [71]:
# 건물번호 10번 20번 건물 관측치를 선택
df.loc[(df['num'] == 10)|(df['num'] == 20)]
cond1 = (df['num'] == 10)
cond2 = (df['num'] == 20)

In [74]:
df.loc[cond1|cond2]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
18360,10,2020-06-01 00,417.960,18.3,2.5,94.0,0.0,0.0,1.0,0.0
18361,10,2020-06-01 01,407.592,18.8,2.3,89.0,0.0,0.0,1.0,0.0
18362,10,2020-06-01 02,404.028,19.0,3.2,86.0,0.0,0.0,1.0,0.0
18363,10,2020-06-01 03,397.548,19.0,4.1,85.0,0.0,0.0,1.0,0.0
18364,10,2020-06-01 04,397.224,18.9,3.9,87.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
40795,20,2020-08-24 19,2590.596,29.4,3.4,66.0,0.0,0.2,0.0,0.0
40796,20,2020-08-24 20,2592.216,28.7,1.9,69.0,0.0,0.0,0.0,0.0
40797,20,2020-08-24 21,2477.034,28.3,1.1,71.0,0.0,0.0,0.0,0.0
40798,20,2020-08-24 22,2199.258,28.3,2.4,72.0,0.0,0.0,0.0,0.0
40799,20,2020-08-24 23,1897.776,28.1,2.3,73.0,0.0,0.0,0.0,0.0

In [78]:
# 조건식이 아닌 특정 값 기준으로 데이터를 찾을 때
# 필터링 샘플링 하실 때 조건식보다 조금 더 편하실 수 있음
df.loc[df['num'].isin([1, 5, 10, 20, 30])]
# 선택하고자 하는 데이터의 정확한 값을 알고 있을 때 사용가능

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056000,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640000,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128000,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808000,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624000,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
61195,30,2020-08-24 19,7354.628471,29.1,4.0,79.0,0.0,0.8,1.0,1.0
61196,30,2020-08-24 20,7024.968000,28.3,3.6,87.0,0.0,0.0,1.0,1.0
61197,30,2020-08-24 21,6871.716000,27.6,3.3,89.0,0.0,0.0,1.0,1.0
61198,30,2020-08-24 22,6224.688000,27.8,3.6,86.0,0.0,0.0,1.0,1.0
61199,30,2020-08-24 23,6491.448000,28.0,3.5,83.0,0.0,0.0,1.0,1.0

In [81]:
# contains로 전달하는 문자열이 포함되면 True
df.loc[df['date_time'].str.contains('08-01 00')]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
1464,1,2020-08-01 00,8623.584,25.0,3.4,90.0,1.0,0.0,0.0,0.0
3504,2,2020-08-01 00,1071.792,25.9,2.4,85.0,0.0,0.0,1.0,0.0
5544,3,2020-08-01 00,3834.324,25.2,0.9,99.0,0.0,0.0,1.0,1.0
7584,4,2020-08-01 00,371.520,25.4,0.7,89.0,0.0,0.0,1.0,1.0
9624,5,2020-08-01 00,3322.944,25.9,2.4,85.0,0.0,0.0,1.0,0.0
11664,6,2020-08-01 00,620.460,25.2,0.9,99.0,0.0,0.0,0.0,0.0
13704,7,2020-08-01 00,1460.754,25.0,3.4,90.0,1.0,0.0,1.0,0.0
15744,8,2020-08-01 00,5731.965,24.6,0.0,96.0,0.0,0.0,1.0,1.0
17784,9,2020-08-01 00,1309.176,23.9,0.1,99.0,0.0,0.0,0.0,1.0
19824,10,2020-08-01 00,435.456,25.9,2.4,85.0,0.0,0.0,1.0,0.0
21864,11,2020-08-01 00,635.904,25.9,2.4,85.0,0.0,0.0,0.0,0.0
23904,12,2020-08-01 00,494.208,24.4,1.2,97.0,0.0,0.0,1.0,1.0
25944,13,2020-08-01 00,910.764,24.9,0.2,89.0,0.0,0.0,1.0,0.0
27984,14,2020-08-01 00,1416.690,26.5,0.3,87.0,0.0,0.0,1.0,1.0
30024,15,2020-08-01 00,3102.138,25.2,0.9,99.0,0.0,0.0,1.0,0.0
32064,16,2020-08-01 00,1577.880,25.4,1.1,92.0,0.0,0.0,1.0,1.0
34104,17,2020-08-01 00,567.270,25.0,3.4,90.0,1.0,0.0,1.0,0.0
36144,18,2020-08-01 00,1869.885,25.2,0.9,99.0,0.0,0.0,0.0,0.0
38184,19,2020-08-01 00,885.816,25.9,2.4,85.0,0.0,0.0,0.0,0.0
40224,20,2020-08-01 00,1458.162,25.0,3.4,90.0,1.0,0.0,0.0,0.0
42264,21,2020-08-01 00,1597.968,25.0,3.4,90.0,1.0,0.0,0.0,1.0
44304,22,2020-08-01 00,1021.572,24.0,0.1,97.0,0.0,0.0,1.0,0.0
46344,23,2020-08-01 00,1601.226,24.0,0.1,97.0,0.0,0.0,0.0,1.0
48384,24,2020-08-01 00,2763.504,25.2,0.9,99.0,0.0,0.0,1.0,1.0
50424,25,2020-08-01 00,1130.112,25.2,0.9,99.0,0.0,0.0,1.0,0.0
52464,26,2020-08-01 00,2433.564,25.0,0.8,92.0,0.0,0.0,0.0,1.0
54504,27,2020-08-01 00,556.470,24.5,0.3,94.0,0.0,0.0,1.0,1.0
56544,28,2020-08-01 00,2202.228,25.9,2.4,85.0,0.0,0.0,1.0,0.0
58584,29,2020-08-01 00,473.202,25.3,1.0,98.0,0.0,0.0,0.0,0.0
60624,30,2020-08-01 00,6188.616,25.8,3.3,95.0,0.0,0.0,1.0,1.0
62664,31,2020-08-01 00,5968.512,25.0,3.4,90.0,1.0,0.0,1.0,0.0
64704,32,2020-08-01 00,2410.560,25.2,0.9,99.0,0.0,0.0,0.0,0.0
66744,33,2020-08-01 00,2484.000,24.0,0.1,97.0,0.0,0.0,1.0,0.0
68784,34,2020-08-01 00,696.276,25.0,3.4,90.0,1.0,0.0,1.0,1.0
70824,35,2020-08-01 00,635.904,24.4,1.2,97.0,0.0,0.0,1.0,0.0
72864,36,2020-08-01 00,985.824,24.8,3.8,88.0,0.0,0.0,0.0,1.0
74904,37,2020-08-01 00,1504.908,24.8,0.5,87.0,0.0,0.0,1.0,1.0
76944,38,2020-08-01 00,3749.760,25.0,3.4,90.0,1.0,0.0,1.0,1.0
78984,39,2020-08-01 00,1713.960,25.2,0.8,93.0,0.0,0.0,1.0,1.0
81024,40,2020-08-01 00,1796.697,24.0,0.1,97.0,0.0,0.0,1.0,1.0
83064,41,2020-08-01 00,476.928,25.2,0.9,99.0,0.0,0.0,1.0,0.0
85104,42,2020-08-01 00,3200.472,24.4,1.2,97.0,0.0,0.0,1.0,1.0
87144,43,2020-08-01 00,1293.840,26.2,1.0,82.0,0.0,0.0,1.0,1.0
89184,44,2020-08-01 00,2158.812,25.6,1.6,97.0,0.0,0.0,1.0,1.0
91224,45,2020-08-01 00,1222.128,25.2,0.9,99.0,0.0,0.0,0.0,1.0
93264,46,2020-08-01 00,759.888,25.0,3.4,90.0,1.0,0.0,1.0,0.0
95304,47,2020-08-01 00,1370.304,25.0,3.4,90.0,1.0,0.0,1.0,1.0
97344,48,2020-08-01 00,479.367,24.4,1.2,97.0,0.0,0.0,0.0,0.0
99384,49,2020-08-01 00,1222.560,25.0,3.4,90.0,1.0,0.0,0.0,0.0
101424,50,2020-08-01 00,1101.384,25.9,2.4,85.0,0.0,0.0,0.0,0.0
103464,51,2020-08-01 00,1849.878,25.0,3.4,90.0,1.0,0.0,0.0,1.0
105504,52,2020-08-01 00,3127.680,25.0,3.4,90.0,1.0,0.0,1.0,1.0
107544,53,2020-08-01 00,1191.510,24.0,0.1,97.0,0.0,0.0,1.0,0.0
109584,54,2020-08-01 00,5830.704,25.2,0.9,99.0,0.0,0.0,1.0,0.0
111624,55,2020-08-01 00,1613.088,25.0,3.4,90.0,1.0,0.0,1.0,1.0
113664,56,2020-08-01 00,535.572,24.3,0.0,100.0,0.0,0.0,0.0,1.0
115704,57,2020-08-01 00,2668.896,25.6,1.6,97.0,0.0,0.0,1.0,0.0
117744,58,2020-08-01 00,652.860,25.0,3.4,90.0,1.0,0.0,1.0,0.0
119784,59,2020-08-01 00,1061.100,23.7,0.8,98.0,0.0,0.0,1.0,0.0
121824,60,2020-08-01 00,3068.496,24.4,1.2,97.0,0.0,0.0,1.0,1.0

In [83]:
# 랜덤한 샘플의 수 혹은 비율에 따른 선별 방법
df.sample(frac=0.05)
# n=샘플갯수 설정
# frac=비율 설정

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
96441,48,2020-06-24 09,2377.089,22.6,3.1,87.0,1.0,0.0,0.0,0.0
33946,17,2020-07-25 10,744.930,24.0,4.6,72.0,0.0,0.0,1.0,0.0
99706,49,2020-08-14 10,1344.330,27.0,3.4,89.0,0.0,0.0,0.0,0.0
98072,49,2020-06-07 08,1046.790,20.1,1.9,78.0,0.0,0.0,0.0,0.0
107934,53,2020-08-17 06,1080.540,25.1,0.4,97.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
117373,58,2020-07-16 13,1329.210,28.3,2.4,58.0,0.0,0.5,1.0,0.0
98650,49,2020-07-01 10,990.360,21.2,2.5,79.0,0.0,0.0,0.0,0.0
44502,22,2020-08-09 06,974.916,23.9,1.8,97.0,1.7,0.0,1.0,0.0
24374,12,2020-08-20 14,3594.240,29.6,3.5,60.0,0.0,1.0,1.0,1.0
30170,15,2020-08-07 02,2205.630,22.6,0.0,99.0,0.0,0.0,1.0,0.0

## 집계값 계산

In [93]:
# 전력사용량 기준 집계값 계산
# 평균, 합, 최대값, 최소값, 평균, 분산
print(df['전력사용량(kWh)'].mean())
print(df['전력사용량(kWh)'].median())
print(df['전력사용량(kWh)'].sum())
print(df['전력사용량(kWh)'].max())
print(df['전력사용량(kWh)'].min())
print(df['전력사용량(kWh)'].std()) # 표준편차
print(df['전력사용량(kWh)'].var()) # 분산
print(df['전력사용량(kWh)'].argmax()) # 최대값의 인덱스 확인
print(df['전력사용량(kWh)'].argmin()) # 최대값의 인덱스 확인

2324.830865868444
1700.352
284559297.98229754
17739.225
0.0
2058.999325845112
4239478.223830625
16166
54684

In [98]:
# 컬럼 값 기준 가장 큰, 작은 값을 가진 샘플 확인 nlargest
df['전력사용량(kWh)'].nlargest(10)
# 컬럼 값 기준으로 가장 작은 값 nsmallest
df['전력사용량(kWh)'].nsmallest(10)

54684      0.000
54685      0.000
54686      0.000
54687      0.000
54688      0.000
55044     85.320
6343     138.240
55018    146.880
6463     152.496
6319     152.928
Name: 전력사용량(kWh), dtype: float64

In [103]:
# 카테고리컬 데이터에 사용하는 집계값 함수
print(df['태양광보유'].unique()) # 고윳값 출력 (중복된 값을 모두 제거 한)
print(df['태양광보유'].nunique()) # 고윳값 갯수 출력
df['태양광보유'].value_counts() # 고윳값의 갯수를 세고 내림차순 정렬

[0. 1.]
2

0.0    63240
1.0    59160
Name: 태양광보유, dtype: int64

## 데이터 재구조화
기존의 데이터 샘플링과는 달리 기준점으로 생각할 수 있는 컬럼 값을 기준으로 새롭게 데이터 프레임을 생성하며  
평균, 합, 카운트 등을 통해 데이터를 다차원적으로 분석 할 수 있는 함수를 제공합니다.
> 기준 변수(컬럼)가 한개 일 경우
>> **`df`**.**`groupby('컬럼명')`**.**`agg(집계방법)`**  

> 기준 변수(컬럼)가 두개 이상일 경우  
>>  **`pd`**.**`pivot_table(data=데이터프레임명, index=기준컬럼1, columns=기준컬럼2, values=집계데이터, aggfunc=집계방법)`**  

>> 적용가능한 통계 함수

| 함수명 | 내용 |
|-|-|
| count | 갯수 |
| sum | 합 |
| mean | 평균 |
| median | 중앙값 |
| var, std | 분산, 표준편차 |
| min, max | 최소값, 최대값 |
| unique, nunique | 고윳값, 고윳값 갯수 |
| prod | 곱 |

### groupby

In [131]:
# groupby - 기준점으로 사용해야 할 변수가 1개일 때, 해당 기준 변수가 카테고리컬 데이터가 좋습니다.
df.groupby('num').mean(numeric_only=True)[['전력사용량(kWh)', '기온(°C)']]
df.groupby('num', as_index=False).agg({'전력사용량(kWh)':['mean', 'max'],
                       '기온(°C)':['mean', 'min']}, numeric_only=True)
# as_index=False 기존인덱스를 변수데이터로 설정, 인덱스 초기화

   num   전력사용량(kWh)                   기온(°C)
               mean           max       mean   min
0    1  8543.273488   8827.704000  24.608578  14.8
1    2  1299.914365   2165.292000  23.623333  16.9
2    3  3371.353699   3957.457500  24.241275  13.2
3    4   763.997353   2385.504000  25.143627  15.8
4    5  2714.509694   3890.160000  23.623333  16.9
5    6  1184.129868   3028.320000  24.241275  13.2
6    7  1527.138356   2833.461000  24.608578  14.8
7    8  8837.364073  17739.225000  24.124363  13.6
8    9  1256.884880   1352.592000  24.243284  12.6
9   10  1427.164069   3186.864000  23.623333  16.9
10  11  2391.372635   5943.888000  23.623333  16.9
11  12  1748.853338   4253.904000  23.323186  14.0
12  13  1089.115200   1893.456000  24.309657  15.2
13  14  1770.616219   2767.230000  25.106275  15.2
14  15  2198.973266   3515.238000  24.241275  13.2
15  16  1660.828447   2086.236000  24.298971  16.1
16  17  1019.795029   1901.610000  24.608578  14.8
17  18  1797.636244   3650.157000  24.241275  13.2
18  19   827.193587   1845.180000  23.623333  16.9
19  20  1463.527203   2697.300000  24.608578  14.8
20  21  1662.093794   2949.696000  24.608578  14.8
21  22  1203.965894   2099.844000  24.801716  15.1
22  23  1884.175209   3846.447000  24.801716  15.1
23  24  3114.640165   4208.976000  24.241275  13.2
24  25  1519.179927   3085.128000  24.241275  13.2
25  26  2987.688676   5548.824000  24.131324  11.9
26  27   666.142241   1482.300000  23.988382  11.7
27  28  2264.569571   3586.572000  23.623333  16.9
28  29   861.074248   1685.610000  23.915098  15.2
29  30  5761.224314   9802.080000  23.853137  14.2
30  31  5964.317576   6616.944000  24.608578  14.8
31  32  2402.439671   2559.384000  24.241275  13.2
32  33  2576.495435   2877.552000  24.801716  15.1
33  34   900.586521   2317.248000  24.608578  14.8
34  35  1299.956933   3984.336000  23.323186  14.0
35  36  1093.786776   1708.776000  24.139167  13.2
36  37  1992.514160   3192.435000  24.407941  13.7
37  38  7588.679824  12824.280000  24.608578  14.8
38  39  1858.357760   3175.916375  24.586569  14.1
39  40  2597.993842   4905.684000  24.801716  15.1
40  41  1255.038925   2338.794000  24.241275  13.2
41  42  3624.592027   6917.832000  23.323186  14.0
42  43  1838.532282   3083.832000  25.223775  15.9
43  44  2487.588618   3644.352000  24.601618  14.4
44  45  1380.596589   2110.212000  24.241275  13.2
45  46  1841.530091   3404.160000  24.608578  14.8
46  47  2137.956044   3630.096000  24.608578  14.8
47  48  1143.003467   3364.020000  23.323186  14.0
48  49  1168.672804   2350.620000  24.608578  14.8
49  50  1065.012348   2208.600000  23.623333  16.9
50  51  1705.039200   3070.386000  24.608578  14.8
51  52  3779.359279   5754.240000  24.608578  14.8
52  53  1423.925921   2799.198000  24.801716  15.1
53  54  6839.836376   9331.200000  24.241275  13.2
54  55  2088.306878   4005.072000  24.608578  14.8
55  56   688.120412   1737.936000  23.537255  11.8
56  57  2589.972801   4860.000000  24.601618  14.4
57  58   913.814029   1355.778000  24.608578  14.8
58  59  1070.658348   2229.120000  23.361471  11.1
59  60  3354.771964   4549.392000  23.323186  14.0

### pivot_table

In [133]:
# pivot_table 기준 2개 이상, 변수가 카테고리컬 데이터에 적용, 인덱스랑 변수위치에 각각의 변수를 위치
pd.pivot_table(data=df,
               values='전력사용량(kWh)',
               index='비전기냉방설비운영',
               columns='태양광보유',
               aggfunc='mean')

태양광보유              0.0          1.0
비전기냉방설비운영
0.0        2077.030506  1582.298192
1.0        2101.993590  2949.726621

## 데이터로 부터 의미있는 정보 추출하기

In [108]:
# 건물번호 10번의 총 전력사용량
df.loc[df['num'] == 10, '전력사용량(kWh)'].sum()

2911414.7000010004

In [115]:
# 기온이 30도 이상인 관측치의 전력사용량 평균
df.loc[df['기온(°C)'] >= 30]['전력사용량(kWh)'].mean()

2901.692666127581

In [135]:
# 평균 전력사용량이 높은 건물번호 순서대로 5개 나열
df.groupby('num').mean().nlargest(5, '전력사용량(kWh)')

,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
num,,,,,,,,
8,8837.364073,24.124363,1.305735,79.162255,0.488922,0.199167,1.0,1.0
1,8543.273488,24.608578,2.345980,75.971569,0.493873,0.184608,0.0,0.0
38,7588.679824,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,1.0
54,6839.836376,24.241275,1.937402,82.667157,0.540882,0.219657,1.0,0.0
31,5964.317576,24.608578,2.345980,75.971569,0.493873,0.184608,1.0,0.0

## 데이터프레임 병합
> 실제 분석업무를 진행하다보면 데이터가 여기저기 분산되어 있을 경우가 더 많습니다.  
조각난 데이터를 분석에 필요한 데이터셋으로 만들기 위해 데이터프레임 병합을 많이 사용합니다.  
한개 이상의 데이터프레임을 병합 할 때 주로 사용하는 함수 2가지를 알아보겠습니다.

### 데이터 병합에 사용가능한 key(병합할 기준이 되는 행 or 열)값이 있는경우
> **`pd`**.**`merge(베이스데이터프레임, 병합할데이터프레임)`**

>> 사용가능한 파라메터
>> - how : 'left', 'right', 'inner', 'outer'
>> - left_on : key값이 다를 경우 베이스데이터프레임의 key 설정
>> - right_on : key값이 다를 경우 병합데이터프레임의 key 설정

In [ ]:
# 포털사이트 ---> 유저 ---> 주민번호 > id > 전화번호

In [136]:
merge_df1 = pd.DataFrame({
    '이름': ['원영', '사쿠라', '유리', '예나', '유진', '나코', '은비', '혜원', '히토미', '채원', '민주', '째욘'],
    '국어': [100, 70, 70, 70, 60, 90, 90, 70, 70, 80, 100, 100],
    '영어': [100, 90, 80, 50, 70, 100, 70, 90, 100, 100, 80, 100]
    }, columns=['이름', '국어', '영어'])

merge_df2 = pd.DataFrame({
    '일어': [80, 100, 100, 90, 70, 50, 100],
    '수학': [90, 70, 100, 80, 70, 80, 90],
    '이름': ['원영', '사쿠라', '나코', '히토미', '예나', '은비', '째욘'],
    }, columns=['일어', '수학', '이름'])

In [145]:
merge_df2

    일어   수학   이름
0   80   90   원영
1  100   70  사쿠라
2  100  100   나코
3   90   80  히토미
4   70   70   예나
5   50   80   은비
6  100   90   째욘

In [150]:
# merge 테스트
pd.merge(merge_df1, merge_df2, how='left')
# how= 데이터프레임 병합 방식 설정 'inner'=양쪽 데이터프레임에 key값의 데이터가 모두 있는 경우만 병합, and
# 'outer' 한쪽 데이터프레임에만 데이터가 존재 해도 데이터를 병합 or
# 'left' 처음 전달하는 데이터프레임을 베이스데이터프레임으로 사용
# 'right' 두번째 전달하는 데이터프레임을 베이스데이터프레임으로 사용

     이름   국어   영어     일어     수학
0    원영  100  100   80.0   90.0
1   사쿠라   70   90  100.0   70.0
2    유리   70   80    NaN    NaN
3    예나   70   50   70.0   70.0
4    유진   60   70    NaN    NaN
5    나코   90  100  100.0  100.0
6    은비   90   70   50.0   80.0
7    혜원   70   90    NaN    NaN
8   히토미   70  100   90.0   80.0
9    채원   80  100    NaN    NaN
10   민주  100   80    NaN    NaN
11   째욘  100  100  100.0   90.0

### 단순 데이터 연결
> **`pd`**.**`concat([베이스데이터프레임, 병합할데이터프레임], axis=0 or 1)`**  
현재 df에 저장되어있는 데이터에 추가로 데이터를 이어붙여보겠습니다.  
df1 이라는 변수에 이어붙일 데이터를 불러들여 병합을 진행해보겠습니다.

In [155]:
df1 = pd.read_csv('./data/energy2.csv', encoding='cp949')
df1.tail()

,num,date_time,기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
10075,60,2020-08-31 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10076,60,2020-08-31 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10077,60,2020-08-31 21,27.9,4.1,68.0,NaN,0.0,1.0,1.0
10078,60,2020-08-31 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10079,60,2020-08-31 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
df.tail()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [156]:
# concat병합은 데이터를 그대로 이어붙이기 때문에 변수 순서나 shape이 동일한지 확인 해야 합니다.
# 모두 참이여야 참
df.shape, df1.shape

((122400, 10), (10080, 9))

In [160]:
# 전력사용량 변수 동일 위치에 추가
df1.insert(2, '전력사용량(kWh)', 0)
# 변수의 인덱스값, 변수명, 값

In [161]:
df1.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
0,1,2020-08-25 00,0,27.8,1.5,74.0,0.0,0.0,NaN,NaN
1,1,2020-08-25 01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-08-25 02,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-08-25 03,0,27.3,1.1,78.0,NaN,0.0,NaN,NaN
4,1,2020-08-25 04,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
df.columns

Index(['num', 'date_time', '전력사용량(kWh)', '기온(°C)', '풍속(m/s)', '습도(%)',
       '강수량(mm)', '일조(hr)', '비전기냉방설비운영', '태양광보유'],
      dtype='object')

In [165]:
df1.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
0,1,2020-08-25 00,0,27.8,1.5,74.0,0.0,0.0,NaN,NaN
1,1,2020-08-25 01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-08-25 02,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-08-25 03,0,27.3,1.1,78.0,NaN,0.0,NaN,NaN
4,1,2020-08-25 04,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
# 변수명 동일하게 저장
df1.rename({'강수량(mm, 6시간)':'강수량(mm)',
            '일조(hr, 3시간)':'일조(hr)'}, axis=1, inplace=True)
# axis=1 작업 축방향 설정 3 X 4 변수방향으로 작업을 진행해라.

# 뷰값을 본다? ---> 작성한 코드의 실행결과만 확인 (원본값 적용 X)
# 뷰값을 원본값에 적용하기 위한 파라메터 inplace=True 옵션값을 사용

In [168]:
# concat병합은 데이터를 그대로 이어붙이기 때문에 변수 순서나 shape이 동일한지 확인 해야 합니다.
# 모두 참이여야 참
df.shape, df1.shape

((122400, 10), (10080, 10))

In [172]:
# 검증코드 활용
(df.columns == df1.columns).all() # 모두 참이여야 참
(df.columns == df1.columns).any() # 하나라도 참이면 참
(df.columns == df1.columns).sum() # True인 갯수

True

In [173]:
pd.concat([df, df1])
# axis=0 행기준 병합(기본설정), axis=1 열기준 병합

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
10075,60,2020-08-31 19,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10076,60,2020-08-31 20,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10077,60,2020-08-31 21,0.000,27.9,4.1,68.0,NaN,0.0,1.0,1.0
10078,60,2020-08-31 22,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10079,60,2020-08-31 23,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
10075,60,2020-08-31 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10076,60,2020-08-31 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10077,60,2020-08-31 21,NaN,27.9,4.1,68.0,NaN,0.0,1.0,1.0
10078,60,2020-08-31 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10079,60,2020-08-31 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 인덱스 편집
> 방금 전 concat으로 병합한 데이터프레임의 이상한 점을 찾으셨나요?  
데이터 자체는 잘 붙였지만 인덱스가 꼬여있습니다.  
인덱스 조작은 데이터분석을 위해 필요한 인덱스를 설정하기 위해 필요합니다.

### 인덱스 초기화

In [155]:
# 기존에 엉켜있던 인덱스는 지우고 원본값을 변경하는 매개변수를 추가

### 기존 변수값을 인덱스로 사용

,num,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
date_time,,,,,,,,,
2020-06-01 00,1,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
2020-06-01 01,1,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2020-06-01 02,1,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
2020-06-01 03,1,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
2020-06-01 04,1,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2020-08-31 19,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 20,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 21,60,NaN,27.9,4.1,68.0,NaN,0.0,1.0,1.0
2020-08-31 22,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31 23,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 변수 편집
> 인덱스 조작과 마찬가지로 데이터프레임의 변수값을 변경해야 할 경우도 있습니다.  
데이터프레임은 변수단위 샘플링 및 인덱싱, 이름변경이 가능합니다.

### 변수명 변경

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
132475,60,2020-08-31 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132476,60,2020-08-31 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132477,60,2020-08-31 21,NaN,27.9,4.1,68.0,NaN,0.0,1.0,1.0
132478,60,2020-08-31 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132479,60,2020-08-31 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 파생변수 생성

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력x10,전력x20,전력x30
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,81790.56,163581.12,245371.68
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,81356.40,162712.80,244069.20
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,81071.28,162142.56,243213.84
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,80488.08,160976.16,241464.24
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,80436.24,160872.48,241308.72

### 변수삭제

0         245371.68
1         244069.20
2         243213.84
3         241464.24
4         241308.72
            ...
132475          NaN
132476          NaN
132477          NaN
132478          NaN
132479          NaN
Name: 전력x30, Length: 132480, dtype: float64

### 변수선택

In [178]:
# 데이터타입에 따른 변수 선별

           전력사용량    기온   풍속    습도  강수량   일조  비전기냉방설비운영  태양광보유
0       8179.056  17.6  2.5  92.0  0.8  0.0        0.0    0.0
1       8135.640  17.7  2.9  91.0  0.3  0.0        0.0    0.0
2       8107.128  17.5  3.2  91.0  0.0  0.0        0.0    0.0
3       8048.808  17.1  3.2  91.0  0.0  0.0        0.0    0.0
4       8043.624  17.0  3.3  92.0  0.0  0.0        0.0    0.0
...          ...   ...  ...   ...  ...  ...        ...    ...
132475       NaN   NaN  NaN   NaN  NaN  NaN        NaN    NaN
132476       NaN   NaN  NaN   NaN  NaN  NaN        NaN    NaN
132477       NaN  27.9  4.1  68.0  NaN  0.0        1.0    1.0
132478       NaN   NaN  NaN   NaN  NaN  NaN        NaN    NaN
132479       NaN   NaN  NaN   NaN  NaN  NaN        NaN    NaN

[132480 rows x 8 columns]

In [ ]:
# 변수명 활용 변수선택

In [ ]:
# 반복문을 활용한 변수 활용 예시

### apply 함수로 컬럼에 함수 적용
> 인스턴스 함수인 lambda 와 apply 함수를 사용하여 인자로 받는 모든 데이터에 함수를 적용  
커스텀 함수 적용도 가능

> apply 함수로 컬럼에 적용시키는 코드 구조  
 **`df['컬럼명']`** = **`df['컬럼명']`**.**`apply(함수명)`**

In [198]:
# 화씨 컬럼 추가

### 날짜 형식 데이터의 활용

In [227]:
# 문자형식 데이터를 날짜형식으로 형변환

In [231]:
# datetime 데이터 타입의 요일정보를 변수로 추가

### 데이터 범주화
간혹 연속형 데이터를 범주화(카테고리컬 데이터) 시켜야 할 경우가 있습니다.  
범주화를 위한 함수를 알아보겠습니다.

0          저온
1          저온
2          저온
3          저온
4          저온
         ...
132475    NaN
132476    NaN
132477     고온
132478    NaN
132479    NaN
Name: 기온, Length: 132480, dtype: category
Categories (2, object): ['저온' < '고온']

## 결측치 처리
> 데이터 분석을 위해서는 데이터셋 내에 빈 값이 있는 경우 분석에 방해가 될 수 있는 여지가 많습니다.  
모든 결측치를 없애야 하는 것은 아니지만 되도록이면 결측치를 채우는 방법, 혹은 없애는 방법등으로 결측치를 처리합니다.  
몇가지 예시를 살펴보면서 결측치 처리에 대해 알아봅시다.

In [232]:
# info() 함수는 결측치에 대한 정보도 보여줍니다.
# 컬럼별 isnull() 함수를 사용해도 무방합니다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132480 entries, 0 to 132479
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        132480 non-null  int64
 1   date_time  132480 non-null  datetime64[ns]
 2   전력사용량      122400 non-null  float64
 3   기온         125760 non-null  float64
 4   풍속         125760 non-null  float64
 5   습도         125760 non-null  float64
 6   강수량        124080 non-null  float64
 7   일조         125760 non-null  float64
 8   비전기냉방설비운영  124696 non-null  float64
 9   태양광보유      124024 non-null  float64
 10  전력사용량(Wh)  122400 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 11.1 MB

확인결과 num, date_time 변수를 제외 한 다른 변수에 결측치가 존재합니다.  
해당 컬럼의 결측치 샘플들을 살펴보고 결측치를 처리해 보겠습니다.

In [233]:
# 컬럼별 결측치 확인을 위한 isnull()함수 리턴값이 bool 형태로 반환되어 조건부 샘플링이 가능합니다.

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력사용량(Wh)
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
132475,False,False,True,True,True,True,True,True,True,True,True
132476,False,False,True,True,True,True,True,True,True,True,True
132477,False,False,True,False,False,False,True,False,False,False,True
132478,False,False,True,True,True,True,True,True,True,True,True
132479,False,False,True,True,True,True,True,True,True,True,True

### 결측치 비율 계산

In [235]:
# 컬럼명을 순환하면서 결측치 비율 계산

num 0.0
date_time 0.0
전력사용량 0.08235294117647059
기온 0.054901960784313725
풍속 0.054901960784313725
습도 0.054901960784313725
강수량 0.06862745098039216
일조 0.054901960784313725
비전기냉방설비운영 0.06359477124183006
태양광보유 0.06908496732026144
전력사용량(Wh) 0.08235294117647059

In [239]:
# fillna() 함수로 NaN 값을 컬럼의 평균으로 채우기

0         17.60000
1         17.70000
2         17.50000
3         17.10000
4         17.00000
            ...
132475    24.34667
132476    24.34667
132477    27.90000
132478    24.34667
132479    24.34667
Name: 기온, Length: 132480, dtype: float64

### 결측치 제거

In [240]:
# 마지막에 합니다.

,num,date_time,전력사용량,기온,풍속,습도,강수량,일조,비전기냉방설비운영,태양광보유,전력사용량(Wh)
0,1,2020-06-01 00:00:00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,8179056.0
1,1,2020-06-01 01:00:00,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,8135640.0
2,1,2020-06-01 02:00:00,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,8107128.0
3,1,2020-06-01 03:00:00,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,8048808.0
4,1,2020-06-01 04:00:00,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,8043624.0
...,...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19:00:00,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0,4114368.0
122396,60,2020-08-24 20:00:00,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0,3975696.0
122397,60,2020-08-24 21:00:00,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0,3572208.0
122398,60,2020-08-24 22:00:00,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0,3299184.0
122399,60,2020-08-24 23:00:00,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0,3204576.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122400 entries, 0 to 122399
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   num        122400 non-null  int64
 1   date_time  122400 non-null  datetime64[ns]
 2   전력사용량      122400 non-null  float64
 3   기온         122400 non-null  float64
 4   풍속         122400 non-null  float64
 5   습도         122400 non-null  float64
 6   강수량        122400 non-null  float64
 7   일조         122400 non-null  float64
 8   비전기냉방설비운영  122400 non-null  float64
 9   태양광보유      122400 non-null  float64
 10  전력사용량(Wh)  122400 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 11.2 MB

이제 모든 컬럼에 결측치가 사라졌습니다. 이후 분석은 시각화를 통해 진행해보겠습니다.